<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>MUEDIRSA S.A. RUC 0992128372001</title>
</head>
<style>

    .head{
        width: 100%;
        text-align: center;

    }

    .details{
        width: 100%;
        padding: 2px 0;
        font-size:9pt;

    }
    .contenido{
        width: 100%;
        padding: 2px 0;

    }

    td{
        text-align: left;
        padding: 1px 5px;
    }
    .header{
        text-align: center;
        padding: 3px 5px;
        background-color: #EEEEEE;
    }

    .foot{
        text-align: center;
    }


    @page {
        /*size: a4 landscape;*/
        margin: 0.5cm;

    }
    .table-cotizacion td,th{
        padding: 2px 2px;
        font-size: 9pt;
    }

.notas{
    text-align: justify;
    line-height: 200%;
    font-size: 8pt;
}

.notas1{

    line-height: 10%;

}
</style>
<body>

    <div class="details">
        <table><tr>
             <td colspan="3">
             <img src="{{media_root}}imagenes/general/cesa_logo.jpg" alt="logo producto" width="300px" height="100px"></td>
         </tr></table>
          <span class="notas1">&nbsp;</span>
        <table border="0">
            <tr>
                <th style="text-align:left;width:17%">Cliente</th><td colspan="2"> {{proforma.cliente}} </td><td style="width:2%"></td><th style="text-align:left;width:11%">Fecha</th><td colspan="2"> {{proforma.fecha |date:"d/m/Y"}} </td>
            </tr>
            <tr>
                <th style="text-align:left">Direcci&oacute;n de entrega</th><td colspan="2"> {{proforma.direccion_entrega}} </td><td></td><th style="text-align:left">Razón Social</th><td colspan="2">  </td>
            </tr>
            <tr>
                <th style="text-align:left">Correo</th><td colspan="2">
                {% if proforma.cliente.email1 %}{{proforma.cliente.email1}} {% endif %} </td><td></td><th style="text-align:left">Direcci&oacute;n</th><td colspan="2"> {{proforma.cliente.direccion1}} </td>
            </tr>
            <tr>
                <th style="text-align:left">Teléfono</th><td colspan="2"> {% if proforma.cliente.telefono1 %}{{proforma.cliente.telefono1}} {% endif %}
                 </td><td></td><th style="text-align:left">RUC</th><td colspan="2"> {{proforma.cliente.ruc}} </td>
            </tr>
<tr>
                <th style="text-align:left">Referencia</th><td colspan="2"> {{proforma.vendedor}} </td><td></td><th ></th><td colspan="2">  </td>
            </tr>

        </table>
        <br>
    </div>
    <div class="contenido">

        <table border="1" class="table-cotizacion">
         <tr >
                <th colspan="8" class="no-bordes" >COTIZACION PROFORMA No. {{proforma.abreviatura_codigo }}-{{proforma.codigo }}-{{ proforma.created_at.year}} </th>
            </tr>
            <tr >
                <th style="width:8% !important" >CANTIDAD</th><th colspan="5">DESCRIPCION</th><th style="width:8% !important">Valor Unit</th><th style="width:8% !important">Total</th>
            </tr>
            </table>
 <table border="0" class="table-cotizacion">
             {% for a  in ambiente %}
             <tr >
                <td colspan="8"><b> {{ a.1 }}</b></td>
            </tr>

                         {% for r  in row %}
                             {% if a.0 == r.0 %}
                                <tr >

                                    <td style="width:8% !important;text-align: center"  >
                                        {{ r.2  |floatformat}}
                                    </td><td colspan="5" style="text-align: justify">{{ r.1  }} {{ r.5 }}

                                </td><td style="width:8% !important;text-align:right">${{ r.3 |floatformat:2 }}</td><td style="width:8% !important;text-align:right">${{ r.4 |floatformat:2 }}</td>
                                </tr>
     {% if r.8 %}
      <tr ><td style="width:8% !important;text-align: center"  >

                                    </td><td colspan="5">
      <div style="width:100%;text-align:center">
                                   <img src="{{ media_root }}{{ r.8 }}" alt="logo producto"  width="172px" height="81px">

                                    </div>
          </td><td></td><td></td>
          </tr>
                                {% endif %}
     {% endif %}
                           {% endfor %}

             {% endfor %}
             <tr class="no-bordes">

                <td colspan="6"></td><th style="text-align:left">Subtotal</th><td style="text-align:right">${{ proforma.subtotal |floatformat:2}}</td>
                                </tr>
        <tr class="no-bordes">

                <td colspan="6"></td><th style="text-align:left">Descuento {{ proforma.porcentaje_descuento |floatformat:2 }}%</th><td style="text-align:right">${{ proforma.descuento |floatformat:2 }}</td>
                                </tr>
            <tr class="no-bordes">

                <td colspan="6"></td><th style="text-align:left">IVA {{ proforma.porcentaje_iva |floatformat:2 }}%</th><td style="text-align:right">${{ proforma.iva |floatformat:2}}</td>
                                </tr>
                                <tr class="no-bordes">

                <td colspan="6"></td><th style="text-align:left">Total</th><td style="text-align:right">${{ proforma.total |floatformat:2 }}</td>
                                </tr>
        </table>
        <p class="notas"><b>En este precio no están incluídos los valores por vidrios, cerraduras y trabajos de albañilería (con puertas y pasamanos)</b>
       <br>
         En caso de aprobar PROFORMA girar cheque a nombre de MUEDIRSA S.A.<br>
         FORMA DE PAGO: {{ proforma.forma_pago }}<br>
         FACTURACION: Desde la confirmación del pedido, el cliente deberá proporcionar TODA la información necesaria para la facturación. Factura detallará los ítems adquiridos.
          <br>TODO CAMBIO en especificaciones, incrementará el valor del trabajo. <br>
          TIEMPO DE ENTREGA: 12 semanas desde la acreditación del anticipo.<br>
           Los precios del mobiliario incluyen transporte dentro del perímetro urbano. Traslados fuera de la ciudad tienen un costo adicional por transporte, MATERIALES DE EMPAQUE y cargadores<br>
            La entrega de muebles, que involucren equipos de música, TV cine en casa contemplan un solo día para su instalación dentro del costo del mueble. Cualquier traslado adicional tendrá un costo de $190,00 por día <br>
             En aquellas entregas de muebles en edificios donde no se permita la subida de muebles o no se pueda subir por las escaleras o los ascensores, el cliente deberá asummir los costos de contratar una pateca y el personal que realice dicha operación. <br>
            <b>ESTA PROFORMA TIENE UNA VALIDEZ DE 30 DÍAS.</b>
        </p>
    </div>
    <div class="foot">
        <br><br><br>

       <table>

                <tr>
                 <td>&nbsp;</td>    <td style="text-align:center">____________________</td> <td>&nbsp;</td> <td>&nbsp;</td> <td style="text-align:center">___________________</td><td>&nbsp;</td>
                </tr>
                <tr>
                 <td>&nbsp;</td>   <td  style="text-align:center">Firma vendedor</td><td>&nbsp;</td><td>&nbsp;</td>  <td  style="text-align:center"> Firma cliente</td><td>&nbsp;</td>
                </tr>
            </tbody>

        </table>
    </div>

</body>
</html>

