{% extends "login/base_nuevo.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}
    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="{% static 'color_admin/assets/plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
        <link href="{% static 'color_admin/assets/plugins/bootstrap-datepicker/css/datepicker.css'%}" rel="stylesheet" />
  <link href="{% static 'color_admin/assets/plugins/bootstrap-datepicker/css/datepicker3.css'%}" rel="stylesheet" />
    <!-- ================== END PAGE LEVEL STYLE ================== -->
{% endblock %}

{% block section_title %}Factura{% endblock %}
{% block section_subtitle %}Por favor diligencie el siguiente formulario{% endblock %}
{% block content %}

            <!-- begin row -->
           <style>
       .panel-border{border: 1px solid #ddd !important}
       .form-ajust .form-group{margin-bottom: 0px !important}
      input[type="text"],select,input[type="number"]
      {

    border: 1px solid #ccd0d4;
    border-radius: 3px;
    box-shadow: none;
    font-size: 12px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
       }

 .table2 {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
      display:table}

.table2>tbody>tr>td, .table2>tbody>tr>th, .table2>tfoot>tr>td, .table2>tfoot>tr>th {
    border-color: #e2e7eb;
    padding: 1px 0px;
}
    
 .table2>thead>tr>td, .table2>thead>tr>th {
    border-color: #e2e7eb;
    padding: 10px 5px;
}
    </style>
  <form method="post" data-parsley-validate="true" name="form-wizard" enctype="multipart/form-data"> {% csrf_token %}
   {{ form.title.errors }}
  <div class="row">
                <!-- begin col-6 -->
      <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                       
                        <h3 class="panel-title">Factura</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div>

                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                  <li role="presentation" class="active"><a href="#principales" aria-controls="principales" role="tab" data-toggle="tab">Principales</a></li>
<!--                                     <li role="presentation"><a href="#costo" aria-controls="costo" role="tab" data-toggle="tab">Costos y Precios</a></li>
 -->                                  
                                
                                </ul>
                              
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="principales">
                                        <div class="row">
                                            
                                            <div class="panel panel-default panel-border">
                                                <div class="panel-heading">Id del Registro</div>
                                                <div class="panel-body">
                                                 
                                                    <div class="col-md-4">
                                                      <label for="exampleInputName2">Numero</label>
                                                      {% bootstrap_field form.nro_factura show_label=False %}

                                                   </div>
                                                  
                                                    <div class="col-md-8">
                                                      <label for="exampleInputEmail2">Fecha </label>
                                                        {% bootstrap_field form.fecha show_label=False %}

                                                    </div>
                                                    <div class="col-md-6">
                                                      <label for="exampleInputName2">Cliente</label>
{% bootstrap_field form.cliente show_label=False %}


                                                   </div>
                                                   <div class="col-md-6">
                                                      <label for="exampleInputName2">Razon Social</label>
{% bootstrap_field form.razon_social show_label=False %}


                                                   </div>
                                                    <div class="col-md-6">
                                                      <label for="exampleInputName2">#Proforma</label>

{% bootstrap_field form.proforma_codigo show_label=False %}


 <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Proforma</button>
    
                                                   </div>
                                                        <div class="col-md-6">
                                                      <label for="exampleInputName2">Sucursal</label>
                                                        {% bootstrap_field form.puntos_venta show_label=False %}
                                                                                                           </div>
                                                   
                                                     <div class="col-md-6">
                                                      <label for="exampleInputName2">Vendedor</label>
                                                        {% bootstrap_field form.vendedor show_label=False %}
                                                   </div>

                                                    <div class="col-md-6">
                                                      <label for="exampleInputEmail2">Direccion</label>
                                                      {% bootstrap_field form.clte_direccion1 show_label=False %}
                                                    </div>
                                                    <div class="col-md-4">
                                                      <label for="exampleInputEmail2">RUC </label>
                                                     {% bootstrap_field form.ruc show_label=False %}
                                                    </div>
                                                      <div class="col-md-4">
                                                      <label for="exampleInputEmail2">Plazo </label>
                                                     {% bootstrap_field form.plazo show_label=False %}
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                        <div class="row"
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="inputEmail3" >Observaci&oacute;n</label>
                                                    <div>
                                                        {% bootstrap_field form.observacion show_label=False %}
                                                    </div>
                                                </div>
                                            </div>
                                      
                                             
                                        </div>
                                        
                                      
                                   
                                        
                                        <div class="row" style="width:1200px!important">
                                            <div class="panel panel-default panel-border">
                                                <!-- Default panel contents -->
                                                <div class="panel-heading">Referencias de producto terminado</div>
                                                <div class="panel-body">
                                                  
                                                </div>
                                              
                                                <!-- Table -->
                                                <table class="table2 table-striped table-bordered"  id="tabla">
                                                <thead>
                                                  <tr>
                                                    <th></th>
                                                    <th>Componente</th>
                                                    <th width="200px">Nombre</th>
                                                    <th>Cantidad</th>
                                                    <th>Med</th>
                                                    <th>Costo</th>
                                                    <th>Subtotal</th>
                                                  </tr>
                                                </thead>
                                                  <tbody>
                                                    
                                                  
                                                  {% if kits %}
                                                    {% for kit  in kits %}

                                                  <tr>
                                                    <td class="eliminar"><a class="btn btn-danger remove_fields">
                                                        <i class=" glyphicon glyphicon-trash icon-white"></i>
                                                      </a>
                                                    </td>
                                                     
                                                    <td> 
                                                    <input type="hidden" class="form-control" id="id_kits{{ forloop.counter }}" name="id_kits{{ forloop.counter }}" value="{{ kit.hijo.producto_id }}"/>
                                                    <input type="text" class="form-control" id="codigo_kits{{ forloop.counter }}" name="codigo_kits{{ forloop.counter }}" onfocus="mostrarProductos({{ forloop.counter }})" value="{{ kit.hijo.codigo_producto }}"></td>
                                                    <td><input type="text" class="form-control" id="nombre_kits{{ forloop.counter }}" name="nombre_kits{{ forloop.counter }}" value="{{ kit.hijo }}"></td>
                                                    <td><input type="text" class="form-control" id="cantidad_kits{{ forloop.counter }}" name="cantidad_kits{{ forloop.counter }}" onkeyup="actualizarCosto({{ forloop.counter }})" value="{{ kit.cantidad }}"></td>

                                                    <td><input type="text" class="form-control" id="medida_kits{{ forloop.counter }}" name="medida_kits{{ forloop.counter }}" value="{{ kit.hijo.medida }}"></td>
                                                    <td><input type="text" class="form-control" id="costo_kits{{ forloop.counter }}" name="costo_kits{{ forloop.counter }}" value="{{ kit.hijo.costo }}"></td>
                                                    <td><input type="text" class="form-control" id="total_kits{{ forloop.counter }}" name="total_kits{{ forloop.counter }}" value="{{ kit.total }}"></td>
                                                    <td><input type="text" class="form-control" id="codigo_produccion_kits{{ forloop.counter }}" name="codigo_produccion_kits{{ forloop.counter }}" value="{{ kit.codigo_produccion }}"></td>
                                                  </tr>
                                                        {% endfor %} 
                                                   {% else %}
                          <tr>
                                                    <td class="eliminar"><a class="btn btn-danger remove_fields">
                                                        <i class=" glyphicon glyphicon-trash icon-white"></i>
                                                      </a>
                                                    </td>

                                                    <td> 
                                                    <input type="hidden" class="form-control" id="id_kits1" name="id_kits1"/>
                                                    <input type="text" class="form-control" id="codigo_kits1" name="codigo_kits1" onfocus="mostrarProductos(1)"></td>
                                                    <td><textarea class="form-control" id="nombre_kits1" name="nombre_kits1"></textarea></td>
                                                    <td><input type="text" class="form-control" id="cantidad_kits1" name="cantidad_kits1" onkeyup="actualizarCosto(1)"></td>
                                                    <td><input type="text" class="form-control" id="medida_kits1" name="medida_kits1"></td>
                                                    <td><input type="text" class="form-control" id="costo_kits1" name="costo_kits1" onkeyup="actualizarCosto(1)"></td>
                                                    <td><input type="text" class="form-control" id="total_kits1" name="total_kits1" readonly="readonly">
                                                    </td>
                                                   
                                                  </tr>

                                                   {% endif %}
                                                   </tbody>
                                                  <tfoot>
                                                    <tr>

                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                                                                       <td></td>

                                                    <th>SubTotal:</th>
                                                    <th><input type="text" class="form-control" id="subtotal" name="subtotal" readonly="readonly" /></th>

                                                    <th> 
                                                    </tr>
                                                     <tr>

                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                                                                       <td></td>

                                                    <th>IVA<input type="text" id="porcentaje_iva" name="porcentaje_iva"  value="" />%</th>

                                                    <th>                                                      <input type="text" id="iva" name="iva" readonly="readonly" />
</th>

                                                    <th> 
                                                    </tr>

                                                    <tr>
                                                    <td></td>

                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                   
                                                    <th>descuento
                                                    <input type="text" class="form-control" id="porcentaje_descuento" name="porcentaje_descuento" onkeyup="actualizarTotal()"  />%</th>
                                                   
                                                    <th>                        
                                                   <input type="text" class="form-control" id="descuento" name="descuento" readonly="readonly" />
</th>

                                                    <th> 
                                                    </tr>
                                                    <tr>

                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                                                                       <td></td>

                                                    <th>Total:</th>
                                                    <th>                        
                                                   <input type="text" class="form-control" id="total" name="total"  required="required" readonly="readonly" />
</th>

                                                    <th> 
                                                    </tr>
                                                  </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                        
                                        <p class="text-center">
                                             <button type="button" class="btn btn-primary btn-lg" id="add">Agregar</button>

                                                                                    
                                        </p>
                                        




                                    </div>
                                    
                                    <div role="tabpanel" class="tab-pane fade" id="costo">..
                                     
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="codigo">...</div>
                                    <div role="tabpanel" class="tab-pane fade" id="foto">
                                        <div class="row">
                                            
                                          
                                            
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                    

                   
                                       
                    </div>
                </div>
            </div>
        </div>
      
     <p class="text-center">

                                    <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-cog"></i> Guardar</button>
                                            <a class="default btn btn-link" href="/facturacion/factura"><button type="button" class="btn btn-primary btn-lg">  Regresar</button></a>
                                        </p>
                                         {% if kits %}
<input type="hidden" name="columnas_receta" id="columnas_receta" value="{{ kits|length }}" />
{% else %}
<input type="hidden" name="columnas_receta" id="columnas_receta" value="1" />

{% endif %}

    <input type="hidden" name="id_fila_cambiar" id="id_fila_cambiar" value="" />

<input type="hidden" name="id_proforma" id="id_proforma" value="" />
  </form>
          <div class="modal fade bs-example-modal-sm" id="modal-dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                             <div class="panel-body">
                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered" id="tabla1">
                                                        <thead>
                                                            <tr>
                                                            <td></td>
                                                                <th>Codigo</th>
                                                                <th>Nombre</th>
                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for producto  in productos %}
                                                            <tr>
                                                                <td  onclick="cargarCodigoProducto('{{ producto.producto_id }}','{{ producto.codigo_producto }}','{{ producto.descripcion_producto }}','{{ producto.medida }}','{{ producto.costo }}')"><a class="btn btn-danger remove_fields" >
                                                        <i class=" glyphicon glyphicon-plus icon-white"></i>
                                                      </a></td><td>{{ producto.codigo_producto }}</td>
                                                                <td>{{ producto.descripcion_producto }}</td>
                                                            </tr >
                                                        {% endfor %} 
                                                        
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <button type="button" onclick="cerrar()" class="btn btn-danger btn-block">Cerrar <i class=" glyphicon glyphicon-trash icon-white"></i></button>
                                            

                            </div>
                        </div>
                    </div>
                    </div>
                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="panel-body">
                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered" id="tabla2">
                                                        <thead>
                                                            <tr>
                                                            <td></td>
                                                                <th>Codigo</th>
                                                                <th>Nombre</th>
                                                                <th>Cliente</th>
                                                                <th>Vendedor</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for p  in proformas %}
                                                            <tr>
                                                                <td  onclick="cargarCodigoProforma('{{ p.codigo }}')"><a class="btn btn-danger remove_fields"  href="#">
                                                        <i class=" glyphicon glyphicon-plus icon-white"></i>
                                                      </a></td><td>{{ p.abreviatura_codigo }}-{{ p.codigo }}</td>
                                                                <td>{{ p.fecha }}</td>
                                                                <td>{{ p.cliente.nombre_cliente }}</td>
                                                                 <td>{{ p.vendedor.nombre }}</td>


                                                            </tr >
                                                        {% endfor %} 
                                                        
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <button type="button" onclick="cerrarProforma()" class="btn btn-danger btn-block">Cerrar <i class=" glyphicon glyphicon-trash icon-white"></i></button>
                                            
</div>
  </div>
                           </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'color_admin/assets/plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'color_admin/assets/plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
<script src="{% static 'color_admin/assets/js/form-wizards-validation.demo.min.js' %}"></script>
<script src="{% static 'color_admin/assets/js/apps.min.js' %}"></script>
<script src="{% static 'color_admin/assets/plugins/DataTables-1.9.4/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'color_admin/assets/plugins/DataTables-1.9.4/js/data-table.js' %}"></script> 

<script src="{% static 'color_admin/assets/plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'color_admin/assets/plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
<script src="{% static 'color_admin/assets/js/form-wizards-validation.demo.min.js' %}"></script>
<script src="{% static 'color_admin/assets/js/apps.min.js' %}"></script>

<script>
  $(document).ready(function() {
    // App.init();
    $('#tabla2').DataTable();
    $('#tabla1').DataTable();
    FormWizardValidation.init();
          $(".parsley-errors-list").css('display','none');
$('#id_fecha').datepicker({todayHighlight:true,autoclose:true});


  });
</script>
<script>
    $(document).ready(function() {
      $('#id_codigo').each(function(){
  $(this).attr('readonly','readonly');

});
             $('#id_created_by').each(function(){
  $(this).attr('readonly','readonly');
});
        $('#id_updated_by').each(function(){
  $(this).attr('readonly','readonly');
});
        $('#id_created_at').each(function(){
  $(this).attr('readonly','readonly');
});
        $('#id_updated_at').each(function(){
  $(this).attr('readonly','readonly');
});

      var codigo=$("#id_nro_factura").val().length ;
      if(codigo < 1){
             $.ajax({
                url: "/config/obtenerSecuencial/", // the endpoint
                type : "POST", // http method
                data : { id : 'factura','csrfmiddlewaretoken': '{{ csrf_token }}'}, 
                success:function(data){
                 $('#id_nro_factura').val('00'+data);
                  
                },
                error: function(){
                 
                },
              });
      // var fecha=new Date().toJSON().slice(0,10);
      // $('#id_fecha').val(fecha);
      }else{
               // alert(codigo);

      }


       
                  

           var codigo_reunion=$("#id_reunion_codigo").val();
$("#id_tiempo_respuesta").val('30 dias');
$("#porcentaje_descuento").val('0.00');

   $("#id_reunion_codigo").focusout(function(){
        codigo_reunion=$("#id_reunion_codigo").val();
               $.ajax({
                url: "/config/obtenerReunion/", // the endpoint
                type : "POST", // http method
                data : { id : codigo_reunion,'csrfmiddlewaretoken': '{{ csrf_token }}'}, 
                success:function(data){
                       $('#id_cliente option[value='+data['cliente']+']').attr('selected','selected');

                       $('#id_vendedor option[value='+data['vendedor']+']').attr('selected','selected');

                    $("#id_direccion_entrega").val(data['direccion']);

                },
                error: function(){
                 
                },
              });
         });
   });
</script>
<script>
    function mostrarProductos(data){
       $('#id_fila_cambiar').val(data);
       $(".modal").modal('toggle');
    }
    function cerrar(){
       $(".modal").modal('toggle');
    }

    function cargarCodigoProducto(id,codigo,descripcion,medida,costo){
      var fila=$('#id_fila_cambiar').val();
         $('#id_kits'+fila).val(id);
         costo = costo.toString().replace(/\,/g,'.'); 
       

        $('#codigo_kits'+fila).val(codigo);
         $('#nombre_kits'+fila).val(descripcion);
           $('#medida_kits'+fila).val(medida);
         $('#costo_kits'+fila).val(costo);
   $('#total_kits'+fila).val('');
          $('#cantidad_kits'+fila).val('');
          cerrar();

    }
    function actualizarCosto(data){
      var cantidad=$('#cantidad_kits'+data).val();
      var costo= $('#costo_kits'+data).val();
     var medida= $('#medida_kits'+data).val();


       var valor=parseFloat(parseFloat(cantidad)*parseFloat(costo)).toFixed(2);

      //  alert(data);
      // alert(costo);
      // alert(valor);
      $('#total_kits'+data).val(valor);
      actualizarTotal();
    }
    function actualizarTotal(){
      var num_recetas=$('#columnas_receta').val();
      var total=0;
      var cantidad=0;
      var descuento=0;
      var porcentaje_descuento=0;
      var totalidad=0;

      var i;
      //alert(' BNUM RECETS'+num_recetas);
      for (i = 1; i <= num_recetas; i++) {

        if ($('#total_kits'+i).length){
            cantidad=$('#total_kits'+i).val();
            total=parseFloat(total)+parseFloat(cantidad);
          }
        
         
      }
       porcentaje_descuento= $('#porcentaje_descuento').val();
       descuento=parseFloat(total*(porcentaje_descuento/100));
       total=total-descuento;
      // total=(total).toFixed(2);
      $('#subtotal').val((total).toFixed(2));
      var iva= parseFloat(total*0.12);
     // iva=(iva).toFixed(2);
      $('#iva').val((iva).toFixed(2));
      $('#descuento').val((descuento).toFixed(2));

      totalidad=parseFloat(total+iva);
      $('#total').val((totalidad).toFixed(2));


    }
     function cargarCodigoProforma(cod){
       
        codigo_reunion=cod;
               $.ajax({
                url: "/proforma/obtenerProformaFacturaFacturacion/", // the endpoint
                type : "POST", // http method
                data : { id : codigo_reunion,'csrfmiddlewaretoken': '{{ csrf_token }}'}, 
                success:function(data){
                       $('#id_cliente option[value='+data['cliente']+']').attr('selected','selected');

                       $('#id_vendedor option[value='+data['vendedor']+']').attr('selected','selected');
                         $('#id_proforma option[value='+data['id']+']').attr('selected','selected');
$("#id_proforma_codigo").val(codigo_reunion);
                          $("#id_tiempo_respuesta").val(data['tiempo_respuesta']);
                          $("#id_clte_direccion1").val(data['direccion']);
                         $("#id_observacion").val(data['observacion']);
                         $("#id_total").val(data['total']);
                         $('#id_puntos_venta option[value='+data['puntos_venta']+']').attr('selected','selected');
                         $("#id_ruc").val(data['ruc']);
                          $("#porcentaje_iva").val(data['porcentaje_iva']);
                          $("#id_proforma").val(data['id']);
                        deta=data['detalle'];
                        res = deta.split(",");
                        var trs=$("#tabla tr").length;
                       
                       
                        
                            // Eliminamos la ultima columna
                            $("#tabla tbody tr").remove();
                        

                                      for(i=0;i<res.length;i++){

                                        
                                        if(res[i]!=""){
                                          
                                           $.ajax({
                                            url: "/facturacion/obtenerDetalleProformaFactura/", // the endpoint
                                            type : "POST", // http method
                                            data : { id : res[i],'csrfmiddlewaretoken': '{{ csrf_token }}'}, 
                                            success:function(data){
                                              //alert(data);
                                    $('#remover').remove();
                                                    var num_recetas=$('#columnas_receta').val();
                                                        num_recetas=parseInt(num_recetas)+1;

                                                        var tds=$("#tabla tr:first td").length;
                                                        
                                                        // Obtenemos el total de columnas (tr) del id "tabla"
                                                        var trs=$("#tabla tr").length;
                                                        var nuevaFila='<tr><td  class="eliminar"><a class="btn btn-danger remove_fields "><i class=" glyphicon glyphicon-trash icon-white"></i></a></td>';
                                                       
                                                            nuevaFila+='<td><input type="hidden" class="form-control" id="id_kits'+num_recetas+'" name="id_kits'+num_recetas+'" value="'+data['id']+'"> ';
                                                            nuevaFila+='<input type="text" required="required" class="form-control" id="codigo_kits'+num_recetas+'" name="codigo_kits'+num_recetas+'" onfocus="mostrarProductos('+num_recetas+')" readonly="readonly" value="'+data['codigo']+'"></td>';
                                                             nuevaFila+='<td><input type="text"  id="nombre_kits'+num_recetas+'" name="nombre_kits'+num_recetas+'" value="'+data['nombre']+'"></td>';
                                                           
                                                             nuevaFila+='<td><input type="text" class="form-control" required="required" id="cantidad_kits'+num_recetas+'" name="cantidad_kits'+num_recetas+'" onkeyup="actualizarCosto('+num_recetas+')" value="'+data['cantidad']+'"></td>';
                                                            nuevaFila+='<td><input type="text" class="form-control" id="medida_kits'+num_recetas+'" name="medida_kits'+num_recetas+'" value="'+data['medida']+'"></td>';
                                                            nuevaFila+='<td><input type="text" class="form-control" id="costo_kits'+num_recetas+'" name="costo_kits'+num_recetas+'" onkeyup="actualizarCosto('+num_recetas+')" value="'+data['precio_compra']+'"></td>';
                                                            nuevaFila+='<td><input type="text" class="form-control" id="total_kits'+num_recetas+'" name="total_kits'+num_recetas+'" readonly="readonly" value="'+data['total']+'"></td>';
                                                            
                                                            nuevaFila+='</tr>';
                                $("#tabla").append(nuevaFila);

                                                          $('#columnas_receta').val(num_recetas);

                                                           actualizarTotal();

                                            },
                                            error: function(){
                                             
                                            },
                                          });
                                        }
                                      }

                  
                },
                error: function(){
                 
                },
              });

cerrarProforma()
    }
    function mostrarProductos(data){
       $('#id_fila_cambiar').val(data);
       $(".bs-example-modal-lg").css('display','none');
       $(".bs-example-modal-lg").modal('toggle');
       $(".modal").modal('toggle');

    }
    function cerrar(){
       $(".bs-example-modal-sm").modal('toggle');
    }
 function mostrarProforma(){
  $('#proformas').modal('show');

    }
    function cerrarProforma(){
       $(".bs-example-modal-lg").modal('toggle');
    }
</script>
<script type="text/javascript">
    $(document).ready(function(){
        /**
         * Funcion para añadir una nueva columna en la tabla
         */
        $("#add").click(function(){
            // Obtenemos el numero de filas (td) que tiene la primera columna
            // (tr) del id "tabla"
            var num_recetas=$('#columnas_receta').val();
            num_recetas=parseInt(num_recetas)+1;

            var tds=$("#tabla tr:first td").length;
            // Obtenemos el total de columnas (tr) del id "tabla"
            var trs=$("#tabla tr").length;
            var nuevaFila='<tr><td  class="eliminar"><a class="btn btn-danger remove_fields "><i class=" glyphicon glyphicon-trash icon-white"></i></a></td>';
            
                nuevaFila+='<td><input type="hidden" class="form-control" id="id_kits'+num_recetas+'" name="id_kits'+num_recetas+'"> ';
                
                nuevaFila+='<input type="text" required="required" class="form-control" id="codigo_kits'+num_recetas+'" name="codigo_kits'+num_recetas+'" onfocus="mostrarProductos('+num_recetas+')" readonly="readonly"></td>';
                 nuevaFila+='<td><textarea  id="nombre_kits'+num_recetas+'" name="nombre_kits'+num_recetas+'" ></textarea></td>';
                
                nuevaFila+='<td><input type="text" class="form-control" required="required" id="cantidad_kits'+num_recetas+'" name="cantidad_kits'+num_recetas+'" onkeyup="actualizarCosto('+num_recetas+')"></td>';
                nuevaFila+='<td><input type="text" class="form-control" id="medida_kits'+num_recetas+'" name="medida_kits'+num_recetas+'" ></td>';
                nuevaFila+='<td><input type="text" class="form-control" id="costo_kits'+num_recetas+'" name="costo_kits'+num_recetas+'" onkeyup="actualizarCosto('+num_recetas+')"></td>';
                nuevaFila+='<td><input type="text" class="form-control" id="total_kits'+num_recetas+'" name="total_kits'+num_recetas+'" readonly="readonly"></td>';
                
                nuevaFila+='</tr>';

              $('#columnas_receta').val(num_recetas);
            // for(var i=0;i<tds;i++){
            //     // añadimos las columnas
            //     nuevaFila+="<td>columna "+(i+1)+" Añadida con jquery</td>";
            // }
            // // Añadimos una columna con el numero total de columnas.
            // // Añadimos uno al total, ya que cuando cargamos los valores para la
            // // columna, todavia no esta añadida
            // nuevaFila+="<td>"+(trs+1)+" columnas";
            // nuevaFila+="</tr>";
            $("#tabla").append(nuevaFila);
        });
 
        /**
         * Funcion para eliminar la ultima columna de la tabla.
         * Si unicamente queda una columna, esta no sera eliminada
         */
        $("#del").click(function(){
            // Obtenemos el total de columnas (tr) del id "tabla"
            var trs=$("#tabla tr").length;
            if(trs>1)
            {
                // Eliminamos la ultima columna
                $("#tabla tr:last").remove();
            }
             actualizarTotal();
        });


        $(document).on("click",".eliminar",function(){
            var parent = $(this).parent();
  $(parent).remove();
   actualizarTotal();
          });

    });
    </script>
{% endblock %}                                                                                                                                                                                                                                                                