
{% extends "login/base_nuevo.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}
    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="{% static 'color_admin/assets/plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
        <link href="{% static 'color_admin/assets/plugins/bootstrap-datepicker/css/datepicker.css'%}" rel="stylesheet" />
  <link href="{% static 'color_admin/assets/plugins/bootstrap-datepicker/css/datepicker3.css'%}" rel="stylesheet" />
    <!-- ================== END PAGE LEVEL STYLE ================== -->
{% endblock %}

{% block section_title %}Consultar - RRHH Pagos {% endblock %}
{% block section_subtitle %}Por favor diligencie el siguiente formulario{% endblock %}
{% block content %}

            <!-- begin row -->
           <style>
       .panel-border{border: 1px solid #ddd !important}
       .form-ajust .form-group{margin-bottom: 0px !important}
      input[type="text"],select,input[type="number"]
      {

    border: 1px solid #ccd0d4;
    border-radius: 3px;
    box-shadow: none;
    font-size: 12px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
       }

 .table2 {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
      display:table}

.table2>tbody>tr>td, .table2>tbody>tr>th, .table2>tfoot>tr>td, .table2>tfoot>tr>th {
    border-color: #e2e7eb;
    padding: 1px 0px;
}
    
 .table2>thead>tr>td, .table2>thead>tr>th {
    border-color: #e2e7eb;
    padding: 10px 5px;
}
    </style>
<form class="form-horizontal" method="post" data-parsley-validate="true" name="form-wizard" enctype="multipart/form-data"> {% csrf_token %}
			    	<!-- INICIO PANEL DE BUSQUEDA -->
						<div class="panel-group" id="accordion">
					<div class="panel panel-inverse overflow-hidden">
						<div class="panel-heading">
							<h3 class="panel-title">
								<a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true">
								    <i class="fa fa-plus-circle pull-right"></i> 
									Búsqueda
								</a>
							</h3>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true">
							<div class="panel-body">
                				<div class="form-group">
			                        <label class="col-md-2 col-sm-2 control-label">Persona:</label> 
			                        <div class="col-md-4 col-sm-5">
			                            <div class="input-group">
			                            <input autocomplete="off"  size="40" class="object-description form-control input-sm ui-autocomplete-input" value="" placeholder="···" type="text" name="empleado" id="empleado">
			                            <input type="hidden" name="empleado_id"  id="empleado_id" />
			                            <span class="input-group-addon object-button btn btn-default input-sm" style="cursor:pointer;" type="button"><a href="javascript: egresos_ad(1)" class="btn btn-xs btn-default" data-toggle="modal"><i class="glyphicon glyphicon-search"></i></a></span>

			                           
			                            </div><input autocompletar="True" class="object-hidden form-control"  name="persona_id" size="40" type="hidden">

			                            
			                        </div>
			                        <label class="col-md-2 col-sm-2 col-md-offset-1 control-label">Desde:</label> 
			                        <div class="col-md-2 col-sm-3">
			                            <input class="form-control input-sm hasDatepicker" id="id_fecha_inicio" name="fecha_inicio" type="text">
			                            
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="col-md-2 col-sm-2 control-label">Comprobante:</label> 
			                        <div class="col-md-4 col-sm-5">
			                            <input class="form-control input-sm" id="id_numero_comprobante" name="numero_comprobante" type="text">
			                            
			                        </div>
			                        <label class="col-md-2 col-sm-2 col-md-offset-1 control-label">Hasta:</label> 
			                        <div class="col-md-2 col-sm-3">
			                            <input class="form-control input-sm hasDatepicker" id="id_fecha_fin" name="fecha_fin" type="text">
			                            
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="col-md-2 col-sm-3 control-label">Cuenta Bancaria:</label>
			                        <div class="col-md-4 col-sm-4">
			                            <select class="select-input form-control input-sm" id="id_cuenta_bancaria" name="cuenta_bancaria">
											<option value="" selected="selected"></option>
											{% for am  in banco %}
                                                <option value="{{ am.id }}"> {{ am.nombre }}</option>
                                            {% endfor %} 
										</select>
			                        </div>
			                        <label class="col-md-2 col-sm-2 col-md-offset-1 control-label">Movimiento:</label> 
			                        <div class="col-md-2 col-sm-3">
			                            <select class="select-input form-control input-sm" id="id_tipo" name="tipo">
											<option value="" selected="selected">Todos</option>
											<option value="C">Cheque</option>
											<option value="T">Transferencia</option>
										</select>
			                            
			                        </div>
			                    </div>
		                    	<div class="form-group">
			                        <label class="col-md-2 col-sm-3 control-label">Período:</label>
			                        <div class="col-md-2 col-sm-2">
			                            <select class="form-control input-sm" id="id_mes" name="mes">
											<option value="" selected="selected">Todos</option>
											<option value="1">Enero</option>
											<option value="2">Febrero</option>
											<option value="3">Marzo</option>
											<option value="4">Abril</option>
											<option value="5">Mayo</option>
											<option value="6">Junio</option>
											<option value="7">Julio</option>
											<option value="8">Agosto</option>
											<option value="9">Septiembre</option>
											<option value="10">Octubre</option>
											<option value="11">Noviembre</option>
											<option value="12">Diciembre</option>
										</select>
			                            
			                        </div>
			                        <div class="col-md-2 col-sm-2 anio" style="display: none">
			                            <input class="form-control input-sm" id="id_anio" name="anio" value="2016" type="text">
			                            
			                        </div>
			                        
			                    </div>
		                        <hr>
		                        <div class="row">
			                        <div class="col-md-12">
			                            <a class="btn btn-primary" href="javascript:consulta();">
			                                <span class="glyphicon glyphicon-search"></span>
			                                Consultar
			                            </a>
			                        </div>                      
			                    </div>

		                	</div>
						</div>
					</div>
					
					
					
				</div>
			    <!-- fin del panel de búsqueda-->
				<!-- begin #content -->
				<div class="panel panel-inverse panel-border">
				    <div class="panel-heading">
				        <div class="panel-heading-btn">
				            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
				            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
				            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
				        </div>
				        <h4 class="panel-title">&nbsp;   </h4>
				    </div>
				    <div class="panel-body">
						<!-- inicio del contenido-->
						<div class="table-responsive">
						    <table class="table table-bordered table-hover table-striped">
						        <thead>
						            <tr>
						                
						                    <th width="60"></th>
						                
						                <th align="center" width="80px">Emisión</th>
						                <th align="center">Persona</th>
						                <th align="center">Periodo</th>
						                <th width="80px">Tipo</th>
						                <th align="center"># Comprobante</th>                
						                <th style="text-align:right;" align="center" width="50px">Valor</th>
						                <th width="20px"></th>
						            </tr>
						        </thead>
						        <tbody>
						            
						            <tr>
						                
						                    <td class="text-center">
						                        
						                                <a data-toggle="tooltip" data-placement="top" data-original-title="Modificar" class="btn btn-default btn-xs text-primary" rel="tooltip" href="/sistema/banco/movimiento/826186/"><i class="fa fa-pencil"></i></a>
						                        
						                    </td>
						                
						                <td>15/05/2016</td>
						                <td>
						                    
						                    <a class="text-primary" href="/sistema/persona/consultar/893721/">Juan Baque</a>
						                    
						                </td>
						                <td>PRIMERA - Mayo, 2016</td>
						                <td>Cheque</td>
						                <td><a class="text-primary" title="Consultar" href="/sistema/banco/movimiento/consultar/826186/">201605000003</a></td>
						                <td style="text-align:right;">$231.00</td>
						                    <td>
						                        
						                        
						                                <a data-toggle="tooltip" data-placement="top" data-original-title="Imprimir" class="btn btn-default btn-xs text-primary" rel="tooltip" href="/sistema/registro/documento/imprimir/826186/?tipo=CHEQ">
						                                    <i class="fa fa-print"></i>
						                                </a>
						                        
						                        
						                    </td>
						            </tr>
						        
						            <tr>
						                
						                    <td class="text-center">
						                        
						                                <a data-toggle="tooltip" data-placement="top" data-original-title="Modificar" class="btn btn-default btn-xs text-primary" rel="tooltip" href="/sistema/banco/movimiento/665553/"><i class="fa fa-pencil"></i></a>
						                        
						                    </td>
						                
						                <td>29/02/2016</td>
						                <td>
						                    
						                    <a class="text-primary" href="/sistema/persona/consultar/893721/">Juan Baque</a>
						                    
						                </td>
						                <td>SEGUNDA - Febrero, 2016</td>
						                <td>Cheque</td>
						                <td><a class="text-primary" title="Consultar" href="/sistema/banco/movimiento/consultar/665553/">201602000002</a></td>
						                <td style="text-align:right;">$561.53</td>
						                    <td>
						                        
						                        
						                                <a data-toggle="tooltip" data-placement="top" data-original-title="Imprimir" class="btn btn-default btn-xs text-primary" rel="tooltip" href="/sistema/registro/documento/imprimir/665553/?tipo=CHEQ">
						                                    <i class="fa fa-print"></i>
						                                </a>
						                        
						                        
						                    </td>
						            </tr>
						        
						            <tr>
						                
						                    <td class="text-center">
						                        
						                                <a data-toggle="tooltip" data-placement="top" data-original-title="Modificar" class="btn btn-default btn-xs text-primary" rel="tooltip" href="/sistema/banco/movimiento/665529/"><i class="fa fa-pencil"></i></a>
						                        
						                    </td>
						                
						                <td>15/02/2016</td>
						                <td>
						                    
						                    <a class="text-primary" href="/sistema/persona/consultar/893721/">Juan Baque</a>
						                    
						                </td>
						                <td>PRIMERA - Febrero, 2016</td>
						                <td>Cheque</td>
						                <td><a class="text-primary" title="Consultar" href="/sistema/banco/movimiento/consultar/665529/">201602000001</a></td>
						                <td style="text-align:right;">$689.00</td>
						                    <td>
						                        
						                        
						                                <a data-toggle="tooltip" data-placement="top" data-original-title="Imprimir" class="btn btn-default btn-xs text-primary" rel="tooltip" href="/sistema/registro/documento/imprimir/665529/?tipo=CHEQ">
						                                    <i class="fa fa-print"></i>
						                                </a>
						                        
						                        
						                    </td>
						            </tr>
						        
						        </tbody>
						    </table>
						</div>
						<!-- fin del contenido -->
				    
				    </div>

				</div>
				</form>
				 <div aria-hidden="true" style="display: none;"  id="dlgEgreso" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 id="id_popup_egresos" class="modal-title"></h4>
                </div>
                <div class="modal-body">
                   <input type="hidden" id="tipo_egreso_id" name="tipo_egreso" value="" />
                   <div id="contenido_dlgEgreso">
                       <div class="indicator show"><span class="spinner spinner16"></span></div>
                   </div>
                </div>
            </div>
        </div>
    </div>
				
						<!-- fin modal ingresos -->

						


		{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'color_admin/assets/plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'color_admin/assets/plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
<script src="https://swisnl.github.io/jQuery-contextMenu/dist/jquery.contextMenu.js" type="text/javascript"></script>

<script src="{% static 'color_admin/assets/js/apps.min.js' %}"></script>	
<script src="{% static 'color_admin/assets/plugins/DataTables-1.9.4/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'color_admin/assets/plugins/DataTables-1.9.4/js/data-table.js' %}"></script> 
<!-- ================== END BASE JS ================== -->
	
	
	<script>
		var mas = false;
		$(document).ready(function() {

			//App.init();
			//Dashboard.init();
			$("#datepicker-default").datepicker({todayHighlight:!0});
			$("#btn_guardar_ingresos").click(function(){


			});
		});
		
		function consultarRol(){
            var mes = $('#id_mes').val();
            var quincena = $('#id_quincena').val();
            var anio = $('#id_anio').val();
            var parametros = {
                'mes': mes,
                'anio': anio,
                'quincena':quincena,               
                'csrfmiddlewaretoken': '{{ csrf_token }}'
                
            }
          $.ajax({
                url: "/recursos_humanos/obtenerRol/", // the endpoint
                type : "POST", // http method
                data: parametros,
                success:function(data){
                	
                  $("#tabla tbody tr").remove();

                  $("#tabla").append(data);
                },
                error: function(){
                 
                },
              });
    }
		

		function seleccionarEmpleados(){
            var mes = $('#id_mes').val();
            var quincena = $('#id_quincena').val();
            var anio = $('#id_anio').val();
            var parametros = {
                'mes': mes,
                'anio': anio,
                'quincena':quincena,               
                'csrfmiddlewaretoken': '{{ csrf_token }}'
                
            }
          $.ajax({
                url: "/recursos_humanos/obtenerRol/", // the endpoint
                type : "POST", // http method
                data: parametros,
                success:function(data){
                	
                  $("#tabla tbody tr").remove();

                  $("#tabla").append(data);
                },
                error: function(){
                 
                },
              });
    }
		
   function ingresos_ad(prefix){
            $("#id_popup_ingresos").html("<b>Ingresos Adicionales</b>");
            var id_txt_otros_ingresos = $('#id_empleado'+prefix).val();
            var mes = $('#id_mes').val();
            var quincena = $('#id_quincena').val();
            var anio = $('#id_anio').val();
            var tipo_contrato_persona = $('#tipo_contrato_persona').val();
            var fila=prefix
            


            var parametros = {
                'mes': mes,
                'anio': anio,
                'quincena':quincena,
                'tipo_contrato_persona': tipo_contrato_persona,
                'id_txt_otros_ingresos':id_txt_otros_ingresos,
                'fila':fila,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
                
            }

            $.ajax({
                    url: "/recursos_humanos/mostrar_otros_ingresos/",
                    type: "POST",
                    async: true,
                    data: parametros,
                    success: function(data){
                        $('#contenido_dlgIngreso').html(data);
                        
                        mes = $('#id_mes').val();
                        quincena = $('#id_quincena').val();
                        anio = $('#id_anio').val();
                        
                            $('#mes_id').val(mes);
                            $('#quincena_id').val(quincena);
                            $('#anio_id').val(anio);
                            $('#tipo_ingreso_id').val('');
                            var meses = $('input[id$="-mes_ingreso"]');
                            for(var i=0;i<meses.length;i++) {
                                meses[i].value = mes;
                            }
                            var anios = $('input[id$="-anio_ingreso"]');
                            for(var i=0;i<anios.length;i++) {
                                anios[i].value = anio;
                            }
                            var quincenas = $('input[id$="-quincena_ingreso"]');
                            for(var i=0;i<quincenas.length;i++) {
                                if(quincena == '1Q'){
                                    quincenas[i].value = "P";    
                                }else{
                                    quincenas[i].value = "S";
                                }
                            }
                        
                    },
                    complete: function(){
                       $("#btn_guardar_ingresos").show();
                    }
                });
            $('#dlgIngreso').modal();
        }

        function egresos_ad(prefix){
            $("#id_popup_egresos").html("<b>Empleados</b>");

            var parametros = {
                'csrfmiddlewaretoken': '{{ csrf_token }}'
                
            }

            $.ajax({
                    url: "/recursos_humanos/mostrar_empleados/",
                    type: "POST",
                    async: true,
                    data: parametros,
                    success: function(data){
                        $('#contenido_dlgEgreso').html(data);
                   
                        
                    },
                    complete: function(){
                       $("#btn_guardar_egresos").show();
                    }
                });
            $('#dlgEgreso').modal();
        }


    function dias_ad(prefix){
            $("#id_popup_dias").html("<b>Dias No Laborados</b>");
            var id_txt_otros_dias = $('#id_empleado'+prefix).val();
            var mes = $('#id_mes').val();
            var quincena = $('#id_quincena').val();
            var anio = $('#id_anio').val();
            var tipo_contrato_persona = $('#tipo_contrato_persona').val();
            var fila=prefix
            


            var parametros = {
                'mes': mes,
                'anio': anio,
                'quincena':quincena,
                'tipo_contrato_persona': tipo_contrato_persona,
                'id_txt_otros_dias':id_txt_otros_dias,
                'fila':fila,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
                
            }

            $.ajax({
                    url: "/recursos_humanos/mostrar_dias/",
                    type: "POST",
                    async: true,
                    data: parametros,
                    success: function(data){
                        $('#contenido_dlgDias').html(data);
                        
                        mes = $('#id_mes').val();
                        quincena = $('#id_quincena').val();
                        anio = $('#id_anio').val();
                        
                            $('#mes_id').val(mes);
                            $('#quincena_id').val(quincena);
                            $('#anio_id').val(anio);
                            $('#tipo_ingreso_id').val('');
                            var meses = $('input[id$="-mes_ingreso"]');
                            for(var i=0;i<meses.length;i++) {
                                meses[i].value = mes;
                            }
                            var anios = $('input[id$="-anio_ingreso"]');
                            for(var i=0;i<anios.length;i++) {
                                anios[i].value = anio;
                            }
                            var quincenas = $('input[id$="-quincena_ingreso"]');
                            for(var i=0;i<quincenas.length;i++) {
                                if(quincena == '1Q'){
                                    quincenas[i].value = "P";    
                                }else{
                                    quincenas[i].value = "S";
                                }
                            }
                        
                    },
                    complete: function(){
                       $("#btn_guardar_dias").show();
                    }
                });
            $('#dlgDias').modal();
        }


	</script>
{% endblock %}                            
