{% extends "login/base_nuevo.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}
    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="{% static 'color_admin/assets/plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
        <link href="{% static 'color_admin/assets/plugins/bootstrap-datepicker/css/datepicker.css'%}" rel="stylesheet" />
  <link href="{% static 'color_admin/assets/plugins/bootstrap-datepicker/css/datepicker3.css'%}" rel="stylesheet" />
    <!-- ================== END PAGE LEVEL STYLE ================== -->
{% endblock %}

{% block section_title %}Mano de Obra{% endblock %}
{% block section_subtitle %}Por favor diligencie el siguiente formulario{% endblock %}
{% block content %}

            <!-- begin row -->
           <style>
       .panel-border{border: 1px solid #ddd !important}
       .form-ajust .form-group{margin-bottom: 0px !important}
      input[type="text"],select,input[type="number"]
      {

    border: 1px solid #ccd0d4;
    border-radius: 3px;
    box-shadow: none;
    font-size: 12px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
       }

 .table2 {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
      display:table}

.table2>tbody>tr>td, .table2>tbody>tr>th, .table2>tfoot>tr>td, .table2>tfoot>tr>th {
    border-color: #e2e7eb;
    padding: 1px 0px;
}

 .table2>thead>tr>td, .table2>thead>tr>th {
    border-color: #e2e7eb;
    padding: 10px 5px;
}
    </style>
  <form method="post" data-parsley-validate="true" name="form-wizard" enctype="multipart/form-data"> {% csrf_token %}
   {{ form.title.errors }}
  <div class="row">
                <!-- begin col-6 -->
      <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">

                         <h3 class="panel-title"><b>PRODUCTO:</b>&nbsp;{{ prod.codigo_producto }} {{ prod.descripcion_producto }}
                        <br /><b>AREA:</b>&nbsp;{{ areas.descripcion }}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div>

                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                  <li role="presentation" class="active"><a href="#principales" aria-controls="principales" role="tab" data-toggle="tab">Principales</a></li>
<!--                                     <li role="presentation"><a href="#costo" aria-controls="costo" role="tab" data-toggle="tab">Costos y Precios</a></li>
 -->

                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="principales">





                                        <div class="row" style="">
                                            <div class="panel panel-default panel-border">
                                                <!-- Default panel contents -->
                                                <div class="panel-heading"></div>
                                                <div class="panel-body">

                                                </div>

                                                <!-- Table -->
                                                <table class="table2 table-striped table-bordered"  id="tabla">
                                                <thead>
                                                  <tr>
                                                    <th></th>
<!--                                                     <th width="100px">Fecha</th>
 -->                                                    <th>Operacion Unitaria</th>
<!--                                                     <th width="200px">Empleado</th>
 -->                                                 <th>Tipo Hora</th>
                                                    <th>Hr.Total</th>
                                                    <th>Costo Hr.</th>
                                                    <th>Total</th>
                                                  </tr>
                                                </thead>
                                                  <tbody>


                                                  {% if suborden %}
                                                    {% for kit  in suborden %}

                                                  <tr>
                                                    <td><a class="btn btn-danger remove_fields">
                                                        <i class=" glyphicon glyphicon-trash icon-white"  onclick="eliminar({{ kit.id }},{{ id }})"></i>
                                                      </a>
                                                    </td>

                                             <!--        <td>

                                                    <input type="text" class="form-control" id="fecha_kits{{ forloop.counter }}" name="fecha_kits{{ forloop.counter }}"  value="{{ kit.fecha }}"></td> -->
                                                    <td><input type="hidden" class="form-control" id="id_detalle_kits{{ forloop.counter }}" name="id_detalle_kits{{ forloop.counter }}" value="{{ kit.id }}"/><input type="text" class="form-control" id="operacion_kits{{ forloop.counter }}" name="operacion_kits{{ forloop.counter }}" value="{{ kit.operacion_unitaria}}"></td>
                                                    <!-- <td><input type="text" class="form-control" id="empleado_kits{{ forloop.counter }}" name="empleado_kits{{ forloop.counter }}"  value="{{ kit.empleado }}"></td>
 -->
 <td>
     <select id="tipo_hora_kits1" name="tipo_hora_kits{{ forloop.counter }}" onchange="actualizarCosto({{ forloop.counter }})" required="required" >
                                                     <option value="NORMAL"
                                                             {% if kit.tipo_hora == 'NORMAL'%}
                                                        selected="selected"
                                                           {% endif %}
                                                           >NORMAL</option>
                                                     <option value="SUPLEMENTARIA"
                                                             {% if kit.tipo_hora == 'SUPLEMENTARIA'%}
                                                        selected="selected"
                                                           {% endif %}
                                                         >SUPLEMENTARIA
                                                         </option>
                                                     <option value="EXTRAORDINARIA"
                                                     {% if kit.tipo_hora == 'EXTRAORDINARIA'%}
                                                        selected="selected"
                                                           {% endif %}
                                                     >EXTRAORDINARIA</option>
      </select>
 </td>

                                                      <td><input type="text" class="form-control" id="hora_total_kits{{ forloop.counter }}" name="hora_total_kits{{ forloop.counter }}" value="{{ kit.hora_total }}" onkeyup="actualizarCosto({{ forloop.counter }})"></td>
                                                    <td><input type="text" class="form-control" id="costo_hora_kits{{ forloop.counter }}" name="costo_hora_kits{{ forloop.counter }}" value="{{ kit.costo_hora }}" onkeyup="actualizarCosto({{ forloop.counter }})" required="required" ></td>
                                                    <td><input type="text" class="form-control" id="total_kits{{ forloop.counter }}" name="total_kits{{ forloop.counter }}" value="{{ kit.total }}" readonly="readonly"></td>
                                                  </tr>
                                                        {% endfor %}
                                                   {% else %}
                          <tr>
                                                    <td class="eliminar"><a class="btn btn-danger remove_fields">
                                                        <i class=" glyphicon glyphicon-trash icon-white"></i>
                                                      </a>
                                                    </td>


<!--                                                     <td><textarea class="text" id="fecha_kits1" name="fecha_kits1"></textarea></td>
 -->                                                    <td><textarea class="form-control" id="operacion_kits1" name="operacion_kits1"></textarea></td>
                                                    <!-- <td><input type="text" class="form-control" id="empleado_kits1" name="empleado_kits1"></td> -->
                                                     <td>
                                                         <select id="tipo_hora_kits1" name="tipo_hora_kits1" onchange="actualizarCosto(1)" required="required" >
                                                     <option value="NORMAL">NORMAL</option>
                                                     <option value="SUPLEMENTARIA">SUPLEMENTARIA</option>
                                                     <option value="EXTRAORDINARIA">EXTRAORDINARIA</option>
                                                     </select></td>

                                                     <td><input type="text" class="form-control" id="hora_total_kits1" name="hora_total_kits1" onkeyup="actualizarCosto(1)" required="required" ></td>
                                                    <td><input type="text" class="form-control" id="costo_hora_kits1" name="costo_hora_kits1" onkeyup="actualizarCosto(1)" required="required"  value="{{ areas.costo_hora}}"></td>

                                                    <td><input type="text" class="form-control" id="total_kits1" name="total_kits1" readonly="readonly">
                                                    </td>

                                                  </tr>

                                                   {% endif %}
                                                   </tbody>
                                                  <tfoot>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <th>Total:</th>
                                                    <th>

                                                  </tfoot>
                                                </table>
                                            </div>
                                        </div>

                                        <p class="text-right">

                                                         <button type="button" class="btn btn-default btn-lg" id="add"><i class="fa fa-plus"></i>Agregar</button>


                                                    </p>


<input type="hidden" class="form-control" id="acosto_hora" name="acosto_hora" value="{{ areas.costo_hora}}">
   <input type="hidden" class="form-control" id="acosto_hora_extraordinaria" name="acosto_hora_extraordinaria" value="{{ areas.costo_hora_extraordinaria}}">
      <input type="hidden" class="form-control" id="acosto_hora_suplementaria" name="acosto_hora_suplementaria" value="{{ areas.costo_hora_suplementaria}}">


                                    </div>


                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

     <p class="text-center">

                                    <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-save"></i> Guardar</button>
                                            <a class="default btn btn-link" href="/inventario/producto_areas/{{ subop.producto_id }}/list/"><button type="button" class="btn btn-primary btn-lg">  Regresar</button></a>
                                        </p>
                                         {% if suborden %}
<input type="hidden" name="columnas_receta" id="columnas_receta" value="{{ suborden|length }}" />
{% else %}
<input type="hidden" name="columnas_receta" id="columnas_receta" value="1" />

{% endif %}

    <input type="hidden" name="id_fila_cambiar" id="id_fila_cambiar" value="" />

    <input type="hidden" name="id_subop" id="id_subop" value="{{ id }}" />

  </form>
                               <div class="modal fade" id="modal-dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                             <div class="panel-body">
                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered" id="tabla2">
                                                        <thead>
                                                            <tr>
                                                            <th></th>
                                                                <th>Codigo</th>
                                                                <th>Nombre</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>


                                                        </tbody>
                                                    </table>
                                                </div>
                                                <button type="button" onclick="cerrar()" class="btn btn-danger btn-block">Cerrar <i class=" glyphicon glyphicon-trash icon-white"></i></button>


                            </div>
                        </div>
                    </div>
                    </div>

{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'color_admin/assets/plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'color_admin/assets/plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
<script src="{% static 'color_admin/assets/js/form-wizards-validation.demo.min.js' %}"></script>
<script src="{% static 'color_admin/assets/js/apps.min.js' %}"></script>
<script src="{% static 'color_admin/assets/plugins/DataTables-1.9.4/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'color_admin/assets/plugins/DataTables-1.9.4/js/data-table.js' %}"></script>
<script src="{% static 'color_admin/assets/js/apps.min.js' %}"></script>
<script src="{% static 'color_admin/assets/js/bootstrap-datepicker.js' %}"></script>

<script>
  $(document).ready(function() {
    // App.init();
    $('#tabla2').DataTable();
  });
</script>
<script>
    $(document).ready(function() {
      $('#id_codigo').each(function(){
  $(this).attr('readonly','readonly');
});
             $('#id_created_by').each(function(){
  $(this).attr('readonly','readonly');
});
        $('#id_updated_by').each(function(){
  $(this).attr('readonly','readonly');
});
        $('#id_created_at').each(function(){
  $(this).attr('readonly','readonly');
});
        $('#id_updated_at').each(function(){
  $(this).attr('readonly','readonly');
});






  });
</script>
<script>
    function mostrarProductos(data){
       $('#id_fila_cambiar').val(data);
       $(".modal").modal('toggle');
    }
    function cerrar(){
       $(".modal").modal('toggle');
    }

    function cargarCodigoProducto(id,codigo,descripcion,medida,costo){
      var fila=$('#id_fila_cambiar').val();
         $('#id_kits'+fila).val(id);
         costo = costo.toString().replace(/\,/g,'.');


        $('#codigo_kits'+fila).val(codigo);
         $('#nombre_kits'+fila).val(descripcion);
           $('#medida_kits'+fila).val(medida);
         $('#costo_kits'+fila).val(costo);
   $('#total_kits'+fila).val('');
          $('#cantidad_kits'+fila).val('');
          cerrar();

    }
    function actualizarCosto(data){
      var cantidad=$('#hora_total_kits'+data).val();

      var tipo= $('#tipo_hora_kits'+data).val();
      var costo_n=$('#acosto_hora').val();
      var costo_s=$('#acosto_hora_suplementaria').val();
      var costo_e=$('#acosto_hora_extraordinaria').val();
      var valor=0;
      var beneficios=0;
      //alert(tipo);
      if (tipo=='EXTRAORDINARIA') {

        $('#costo_hora_kits'+data).val(costo_e);
        //alert(costo_e);

      }
      if (tipo=='SUPLEMENTARIA') {

          $('#costo_hora_kits'+data).val(costo_s);
          //alert(costo_s);

      }
      if (tipo=='NORMAL') {
         $('#costo_hora_kits'+data).val(costo_n);
         //alert(costo_n);
      }
      cambiarFormato();
      var costo= $('#costo_hora_kits'+data).val();

      valor=parseFloat(cantidad*costo);
      //alert(valor);
      var decimo13=valor/12;
      //alert(decimo13);
      var decimo14=(30.5/160)*cantidad;
      //alert(decimo14);
      var vacaciones=valor/24;
      //alert(vacaciones);
      var fr=(valor*8.33)/100;
      //alert(fr);
      var iess=(valor*12.15)/100;
      //alert(iess);
      var valor_real=valor+decimo13+decimo14+vacaciones+fr+iess;


      $('#total_kits'+data).val(valor_real.toFixed(2));
      actualizarTotal();
    }
    function actualizarTotal(){
      var num_recetas=$('#columnas_receta').val();
      var total=0;
      var cantidad=0;
      var descuento=0;
      var porcentaje_descuento=0;
      var totalidad=0;
      var costo=0;
      var subt=0;
      var i;
      //alert(' BNUM RECETS'+num_recetas);
      for (i = 1; i <= num_recetas; i++) {
        costo= $('#costo_hora_kits'+i).val();
        costo = costo.toString().replace(/\,/g,'.');
        $('#costo_hora_kits'+i).val(costo);
        subt = $('#hora_total_kits'+i).val();
        subt = subt.toString().replace(/\,/g,'.');
        $('#hora_total_kits'+i).val(subt);

        if ($('#total_kits_'+i).length){
            cantidad=$('#total_kits'+i).val();
            total=parseFloat(total)+parseFloat(cantidad);
          }


      }
       porcentaje_descuento= $('#porcentaje_descuento').val();
       descuento=parseFloat(total*(porcentaje_descuento/100));
       total=total-descuento;
      // total=(total).toFixed(2);
      $('#total').val((total).toFixed(2));



    }
     function cambiarFormato(){
      var num_recetas=$('#columnas_receta').val();
      var total=0;
      var costo=0;
      var subt=0;
      var i;
      //alert(' BNUM RECETS'+num_recetas);
      for (i = 1; i <= num_recetas; i++) {
        costo= $('#costo_hora_kits'+i).val();
        costo = costo.toString().replace(/\,/g,'.');
        $('#costo_hora_kits'+i).val(costo);
        subt = $('#hora_total_kits'+i).val();
        subt = subt.toString().replace(/\,/g,'.');
        $('#hora_total_kits'+i).val(subt);

       total = $('#total_kits'+i).val();
        total = total.toString().replace(/\,/g,'.');
        $('#total_kits'+i).val(total);


      }



    }
</script>
<script type="text/javascript">
 function eliminar(id,pk){

          $.ajax({
                url: "/inventario/producto/eliminarManoObraReceta/", // the endpoint
                type : "POST", // http method
                data : { id : id,'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success:function(data){
                  alert("Se elimino el item satisfactoriamente");
                  window.location.href ="/inventario/producto/"+pk+"/manoobra/";

                },
                error: function(){

                },
              });
    }


    $(document).ready(function(){
cambiarFormato();
        /**
         * Funcion para una nueva columna en la tabla
         */
        $("#add").click(function(){
            // Obtenemos el numero de filas (td) que tiene la primera columna
            // (tr) del id "tabla"
            var num_recetas=$('#columnas_receta').val();
            num_recetas=parseInt(num_recetas)+1;

            var tds=$("#tabla tr:first td").length;
            // Obtenemos el total de columnas (tr) del id "tabla"
            var trs=$("#tabla tr").length;
            var nuevaFila='<tr><td  class="eliminar"><a class="btn btn-danger remove_fields "><i class=" glyphicon glyphicon-trash icon-white"></i></a></td>';
                  // nuevaFila+='<td><input type="text" class="form-control" id="fecha_kits'+num_recetas+'" name="fecha_kits'+num_recetas+'" ></td>';
                  nuevaFila+='<td><input type="text" class="form-control" id="operacion_kits'+num_recetas+'" name="operacion_kits'+num_recetas+'" ></td>';
                //nuevaFila+='<td><input type="text" class="form-control" required="required" id="empleado_kits'+num_recetas+'" name="empleado_kits'+num_recetas+'" onkeyup="actualizarCosto('+num_recetas+')"></td>';
               nuevaFila+='<td><select id="tipo_hora_kits'+num_recetas+'" name="tipo_hora_kits'+num_recetas+'" onchange="actualizarCosto('+num_recetas+')" required="required" >';
               nuevaFila+='<option value="NORMAL">NORMAL</option><option value="SUPLEMENTARIA">SUPLEMENTARIA</option><option value="EXTRAORDINARIA">EXTRAORDINARIA</option></select></td>';
               nuevaFila+='<td><input type="text" class="form-control" id="hora_total_kits'+num_recetas+'" name="hora_total_kits'+num_recetas+'" onkeyup="actualizarCosto('+num_recetas+')" ></td>';
               nuevaFila+='<td><input type="text" class="form-control" id="costo_hora_kits'+num_recetas+'" name="costo_hora_kits'+num_recetas+'" onkeyup="actualizarCosto('+num_recetas+')" required="required" value="{{ areas.costo_hora}}" ></td>';
               nuevaFila+='<td><input type="text" class="form-control" id="total_kits'+num_recetas+'" name="total_kits'+num_recetas+'" readonly="readonly"></td>';

                nuevaFila+='</tr>';

              $('#columnas_receta').val(num_recetas);
            // for(var i=0;i<tds;i++){
            //     //  las columnas
            //     nuevaFila+="<td>columna "+(i+1)+"  con jquery</td>";
            // }
            // // As una columna con el numero total de columnas.
            // //  uno al total, ya que cuando cargamos los valores para la
            // // columna, todavia no esta
            // nuevaFila+="<td>"+(trs+1)+" columnas";
            // nuevaFila+="</tr>";
            $("#tabla").append(nuevaFila);
        });

        /**
         * Funcion para eliminar la ultima columna de la tabla.
         * Si unicamente queda una columna, esta no sera eliminada
         */
        $("#del").click(function(){
            // Obtenemos el total de columnas (tr) del id "tabla"
            var trs=$("#tabla tr").length;
            if(trs>1)
            {
                // Eliminamos la ultima columna
                $("#tabla tr:last").remove();
            }
             actualizarTotal();
        });


        $(document).on("click",".eliminar",function(){
            var parent = $(this).parent();
  $(parent).remove();
   actualizarTotal();
          });

    });
    </script>
{% endblock %}
