{% extends "login/base_nuevo.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}
    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="{% static 'color_admin/assets/plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
    <!-- ================== END PAGE LEVEL STYLE ================== -->
{% endblock %}

{% block breadcrumb %}Sucursal {{ sucursal.nombre }}{% endblock %}
{% block section_title %}Proforma{% endblock %}
{% block section_subtitle %}Por favor diligencie el siguiente formulario{% endblock %}
{% block content %}

            <!-- begin row -->
           <style>
       .panel-border{border: 1px solid #ddd !important}
       .form-ajust .form-group{margin-bottom: 0px !important}
      input[type="text"],select,input[type="number"]
      {

    border: 1px solid #ccd0d4;
    border-radius: 3px;
    box-shadow: none;
    font-size: 12px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
       }

    

    </style>

  <div class="row">
                <!-- begin col-6 -->
      <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                         <form method="post" data-parsley-validate="true" name="form-wizard" enctype="multipart/form-data"> {% csrf_token %}

                        <h3 class="panel-title">Proforma</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-9">
                            <div>

                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                  <li role="presentation" class="active"><a href="#principales" aria-controls="principales" role="tab" data-toggle="tab">Principales</a></li>
                                    <li role="presentation"><a href="#costo" aria-controls="costo" role="tab" data-toggle="tab">Costos y Precios</a></li>
                                  
                                  <li role="presentation"><a href="#foto" aria-controls="foto" role="tab" data-toggle="tab">Foto</a></li>
                                </ul>
                              
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="principales">
                                        <div class="row">
                                            
                                            <div class="panel panel-default panel-border">
                                                <div class="panel-heading">Id del Registro</div>
                                                <div class="panel-body">
                                                 
                                                    <div class="col-md-12">
                                                      <label for="exampleInputName2">C&oacute;digo</label>
                                                        {{ producto_form.codigo_producto }}
                                                   </div>
                                                    <div class="col-md-4">
                                                      <label for="exampleInputEmail2">Fecha </label>
                                                      {{ producto_form.descripcion_producto }}
                                                    </div>
                                                    <div class="col-md-4">
                                                      <label for="exampleInputName2">Fecha Entrega</label>
                                                        {{ producto_form.codigo_producto }}
                                                   </div>
                                                    
                                                   <div class="col-md-8">
                                                      <label for="exampleInputName2">Nombre del Cliente</label>
                                                        {{ producto_form.codigo_producto }}
                                                   </div>
                                                    <div class="col-md-8">
                                                      <label for="exampleInputEmail2">Ambiente </label>
                                                      {{ producto_form.descripcion_producto }}
                                                    </div>
                                                     <div class="col-md-8">
                                                      <label for="exampleInputName2">Vendedor</label>
                                                        {{ producto_form.codigo_producto }}
                                                   </div>

                                                    <div class="col-md-12">
                                                      <label for="exampleInputEmail2">Condiciones fisicas del lugar </label>
                                                      {{ producto_form.descripcion_producto }}
                                                    </div>
                                                    <div class="col-md-4">
                                                      <label for="exampleInputEmail2">Pedido fuera de la ciudad </label>
                                                      {{ producto_form.activo }}
                                                    </div>
                                                    <div class="col-md-4">
                                                      <label for="exampleInputName2">Tiempo de respuesta</label>
                                                        {{ producto_form.codigo_producto }}
                                                   </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="inputEmail3" >Observaci&oacute;n</label>
                                                    <div>
                                                       {{ producto_form.notas }}  
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputEmail3" >Usuario y Fecha de Edici&oacute;n</label>
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <th>Creaci&oacute;n</th>
                                                        <td>{{ producto_form.created_by.value}}  </td>
                                                        <td>{{ producto_form.created_at.value }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Actualizado</th>
                                                        <td>{{ producto_form.updated_by.value}}</td>
                                                        <td>{{ producto_form.updated_at.value}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        
                                      
                                   
                                        
                                        <div class="row" style="width:1200px!important">
                                            <div class="panel panel-default panel-border">
                                                <!-- Default panel contents -->
                                                <div class="panel-heading">Componentes de producto terminado</div>
                                                <div class="panel-body">
                                                  
                                                </div>
                                              
                                                <!-- Table -->
                                                <table class="table" id="tabla">
                                                  <tr>
                                                    <th></th>
                                                    <th>Componente</th>
                                                    <th>Nombre</th>
                                                    <th>Cantidad</th>
                                                    <th>Med</th>
                                                    <th>Costo</th>
                                                    <th>Subtotal</th>
                                                    <th>Foto</th>
                                                    <th>Observacion</th>
                                                  </tr>
                                                  {% if kits %}
                                                    {% for kit  in kits %}

                                                  <tr>
                                                    <td class="eliminar"><a class="btn btn-danger remove_fields">
                                                        <i class=" glyphicon glyphicon-trash icon-white"></i>
                                                      </a>
                                                    </td>
                                                    <td> 
                                                    <input type="hidden" class="form-control" id="id_kits{{ forloop.counter }}" name="id_kits{{ forloop.counter }}" value="{{ kit.hijo.producto_id }}"/>
                                                    <input type="text" class="form-control" id="codigo_kits{{ forloop.counter }}" name="codigo_kits{{ forloop.counter }}" onfocus="mostrarProductos({{ forloop.counter }})" value="{{ kit.hijo.codigo_producto }}"></td>
                                                    <td><input type="text" class="form-control" id="nombre_kits{{ forloop.counter }}" name="nombre_kits{{ forloop.counter }}" value="{{ kit.hijo }}"></td>
                                                    <td><input type="text" class="form-control" id="cantidad_kits{{ forloop.counter }}" name="cantidad_kits{{ forloop.counter }}" onkeyup="actualizarCosto({{ forloop.counter }})" value="{{ kit.cantidad }}"></td>

                                                    <td><input type="text" class="form-control" id="medida_kits{{ forloop.counter }}" name="medida_kits{{ forloop.counter }}" value="{{ kit.hijo.medida }}"></td>
                                                    <td><input type="text" class="form-control" id="costo_kits{{ forloop.counter }}" name="costo_kits{{ forloop.counter }}" value="{{ kit.hijo.costo }}"></td>
                                                    <td><input type="text" class="form-control" id="total_kits{{ forloop.counter }}" name="total_kits{{ forloop.counter }}" value="{{ kit.total }}"></td>
                                                  </tr>
                                                        {% endfor %} 
                                                   {% else %}
<tr>
                                                    <td class="eliminar"><a class="btn btn-danger remove_fields">
                                                        <i class=" glyphicon glyphicon-trash icon-white"></i>
                                                      </a>
                                                    </td>
                                                    <td> 
                                                    <input type="hidden" class="form-control" id="id_kits1" name="id_kits1"/>
                                                    <input type="text" class="form-control" id="codigo_kits1" name="codigo_kits1" onfocus="mostrarProductos(1)"></td>
                                                    <td><input type="text" class="form-control" id="nombre_kits1" name="nombre_kits1"></td>
                                                    <td><input type="text" class="form-control" id="cantidad_kits1" name="cantidad_kits1" onkeyup="actualizarCosto(1)"></td>
                                                    <td><input type="text" class="form-control" id="medida_kits1" name="medida_kits1"></td>
                                                    <td><input type="text" class="form-control" id="costo_kits1" name="costo_kits1"></td>
                                                    <td><input type="text" class="form-control" id="total_kits1" name="total_kits1"></td>
                                                    <td> 
                                                      <label for="exampleInputName2">Imagen</label>
                                                        {{ producto_form.imagen }}
                                                   </td>
                                                   <td><input type="text" class="form-control" id="total_kits1" name="total_kits1"></td>
                                                  </tr>

                                                   {% endif %}
                                                  <tfoot>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <th>Total:</th>
                                                    <th>$40.00</th>
                                                  </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                        
                                        <p class="text-center">
                                             <button type="button" class="btn btn-primary btn-lg" id="add">Agregar</button>

                                                                                    
                                        </p>
                                    </div>
                                    
                                    <div role="tabpanel" class="tab-pane fade" id="costo">..
                                     
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="codigo">...</div>
                                    <div role="tabpanel" class="tab-pane fade" id="foto">
                                        <div class="row">
                                            
                                            <div class="panel panel-default panel-border">
                                                <div class="panel-heading">Foto</div>
                                                <div class="panel-body">
                                                 
                                                    <div class="col-md-4">
                                                      <label for="exampleInputName2">Imagen</label>
                                                        {{ producto_form.imagen }}
                                                   </div>
                                                    
                                                  
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-xs-12">
                                  <a href="#" class="thumbnail">
                                  {% if producto_form.imagen.value != "" %}
                                   <img src="/media/{{ producto_form.imagen.value}}" alt="logo producto">
                                    {% else %}
                                    <img src="/media/imagenes/producto/logo-producto.svg" alt="logo producto">
                                    {% endif %}
                                  </a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
     <p class="text-center">

                                    <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-cog"></i> Guardar</button>
                                            <a class="default btn btn-link" href="/inventario/producto"><button type="button" class="btn btn-primary btn-lg">  Regresar</button></a>
                                        </p>
                                         {% if kits %}
<input type="hidden" name="columnas_receta" id="columnas_receta" value="{{ kits|length }}" />
{% else %}
<input type="hidden" name="columnas_receta" id="columnas_receta" value="1" />

{% endif %}
<input type="hidden" name="id_fila_cambiar" id="id_fila_cambiar" value="" />
<input type="hidden" name="product_id" id="product_id" value="{{ producto_form.producto_id.value}}" />



<!--  <p class="text-right m-b-0">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-cog"></i> Guardar</button>
                                </p>
                                <a class="default btn btn-link" href="/inventario/producto">
      <i class="fa fa-times"></i> Regresar
    </a> -->
                            </form>
                              <div class="modal fade" id="modal-dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                             <div class="panel-body">
                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Codigo</th>
                                                                <th>Nombre</th>
                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for producto  in productos %}
                                                            <tr>
                                                                <td  onclick="cargarCodigoProducto('{{ producto.producto_id }}','{{ producto.codigo_producto }}','{{ producto.descripcion_producto }}','{{ producto.medida }}','{{ producto.costo }}')">{{ producto.codigo_producto }}</td>
                                                                <td>{{ producto.descripcion_producto }}</td>
                                                            </tr >
                                                        {% endfor %} 
                                                        
                                                        </tbody>
                                                    </table>
                                                </div>
                                            

                            </div>
                        </div>
                    </div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="{% static 'color_admin/assets/plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'color_admin/assets/plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
<!-- <script src="{% static 'color_admin/assets/js/form-wizards-validation.demo.min.js' %}"></script>
 --><script src="{% static 'color_admin/assets/js/apps.min.js' %}"></script>
<!-- ================== END PAGE LEVEL JS ================== -->
<script>
    // $(document).ready(function() {
    //     App.init();
    //     FormWizardValidation.init();
    // });
</script>
<script>
    $(document).ready(function() {
      $('#id_codigo_producto').each(function(){
  $(this).attr('readonly','readonly');
});
       $('#id_created_by').each(function(){
  $(this).attr('readonly','readonly');
});
        $('#id_updated_by').each(function(){
  $(this).attr('readonly','readonly');
});
        $('#id_created_at').each(function(){
  $(this).attr('readonly','readonly');
});
        $('#id_updated_at').each(function(){
  $(this).attr('readonly','readonly');
});
      var codigo_producto=$('#id_codigo_producto').val();
      //alert(codigo_producto);
      if(codigo_producto==""){
         $.ajax({
                url: "/config/obtenerSecuencial/", // the endpoint
                type : "POST", // http method
                data : { id : 'producto','csrfmiddlewaretoken': '{{ csrf_token }}'}, 
                success:function(data){
                 $('#id_codigo_producto').val(data);
                  
                },
                error: function(){
                 
                },
              });
      }
      
        
    });
    function mostrarProductos(data){
       $('#id_fila_cambiar').val(data);
       $(".modal").modal('toggle');
    }

    function cargarCodigoProducto(id,codigo,descripcion,medida,costo){
      var fila=$('#id_fila_cambiar').val();
         $('#id_kits'+fila).val(id);

        $('#codigo_kits'+fila).val(codigo);
         $('#nombre_kits'+fila).val(descripcion);
           $('#medida_kits'+fila).val(medida);
         $('#costo_kits'+fila).val(costo);
    }
    function actualizarCosto(data){
      var cantidad=$('#cantidad_kits'+data).val();
      var costo= $('#costo_kits'+data).val();
     

       var valor=parseFloat(cantidad)*parseFloat(costo);
       alert(data);
      alert(costo);
      alert(valor);
      $('#total_kits'+data).val(valor);
    }
</script>
<script type="text/javascript">
    $(document).ready(function(){
        /**
         * Funcion para 
          una nueva columna en la tabla
         */
        $("#add").click(function(){
            // Obtenemos el numero de filas (td) que tiene la primera columna
            // (tr) del id "tabla"
            var num_recetas=$('#columnas_receta').val();
            num_recetas=parseInt(num_recetas)+1;

            var tds=$("#tabla tr:first td").length;
            // Obtenemos el total de columnas (tr) del id "tabla"
            var trs=$("#tabla tr").length;
            var nuevaFila='<tr><td  class="eliminar"><a class="btn btn-danger remove_fields "><i class=" glyphicon glyphicon-trash icon-white"></i></a></td>';
                nuevaFila+='<td><input type="hidden" class="form-control" id="id_kits'+num_recetas+'" name="id_kits'+num_recetas+'"> ';
                nuevaFila+='<input type="text" class="form-control" id="codigo_kits'+num_recetas+'" name="codigo_kits'+num_recetas+'" onfocus="mostrarProductos('+num_recetas+')"></td>';
                 nuevaFila+='<td><input type="text" class="form-control" id="nombre_kits'+num_recetas+'" name="nombre_kits'+num_recetas+'"></td>';
                nuevaFila+='<td><input type="text" class="form-control" id="cantidad_kits'+num_recetas+'" name="cantidad_kits'+num_recetas+'" onkeyup="actualizarCosto('+num_recetas+')"></td>';
                nuevaFila+='<td><input type="text" class="form-control" id="medida_kits'+num_recetas+'" name="medida_kits'+num_recetas+'"></td>';
                nuevaFila+='<td><input type="text" class="form-control" id="costo_kits'+num_recetas+'" name="costo_kits'+num_recetas+'"></td>';
                nuevaFila+='<td><input type="text" class="form-control" id="total_kits'+num_recetas+'" name="total_kits'+num_recetas+'"></td>';
                nuevaFila+='</tr>';

              $('#columnas_receta').val(num_recetas);
            
            $("#tabla").append(nuevaFila);
        });
 
        /**
         * Funcion para eliminar la ultima columna de la tabla.
         * Si unicamente queda una columna, esta no sera eliminada
         */
        $("#del").click(function(){
            // Obtenemos el total de columnas (tr) del id "tabla"
            var trs=$("#tabla tr").length;
            if(trs>1)
            {
                // Eliminamos la ultima columna
                $("#tabla tr:last").remove();
            }
        });


        $(document).on("click",".eliminar",function(){
            var parent = $(this).parent();
  $(parent).remove();
          });

    });
    </script>

{% endblock %}