{% extends "login/base_nuevo.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}
<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
<link href="{% static 'color_admin/assets/plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet"/>
<link href="{% static 'color_admin/assets/plugins/bootstrap-datepicker/css/datepicker.css'%}" rel="stylesheet"/>
<link href="{% static 'color_admin/assets/plugins/bootstrap-datepicker/css/datepicker3.css'%}" rel="stylesheet"/>
<!-- ================== END PAGE LEVEL STYLE ================== -->
{% endblock %}

{% block content %}

<!-- begin row -->
<style>
    .panel-border {
        border: 1px solid #ddd !important
    }

    .form-ajust .form-group {
        margin-bottom: 0px !important
    }

    input[type="text"], select, input[type="number"] {

        border: 1px solid #ccd0d4;
        border-radius: 3px;
        box-shadow: none;
        font-size: 12px;
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
    }

    .table2 {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
        display: table
    }

    .table2 > tbody > tr > td, .table2 > tbody > tr > th, .table2 > tfoot > tr > td, .table2 > tfoot > tr > th {
        border-color: #e2e7eb;
        padding: 1px 0px;
    }

    .table2 > thead > tr > td, .table2 > thead > tr > th {
        border-color: #e2e7eb;
        padding: 10px 5px;
    }

    #id_abreviatura_codigo {
        width: 50px;
    }

    #id_codigo {
        width: 120px;
    }
</style>
<form method="post" data-parsley-validate="true" name="form-wizard" enctype="multipart/form-data"> {% csrf_token %}
    {{ form.title.errors }}
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <h3 class="panel-title">CONFIGURACIÓN DE CUENTAS CONTABLES</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">

                            <div class="row">

                                <div class="panel panel-default panel-border">
                                    <div class="panel-heading">MODULO DE CLIENTES (VENTAS)</div>
                                    <div class="panel-body">
                                        <div class="col-md-10 col-md-offset-1">
                                            <div class="col-md-4">
                                                <input class="form-control" id="clave_ventas" maxlength="50" name="clave_ventas"  type="text" value="cuenta_ventas" readonly>

                                            </div>
                                            <div class="col-md-8">
                                                <select class="form-control" name="valor_ventas" required>
                                                    <option value="">SELECCIONE CUENTA</option>
                                                    {% for cuenta in cuentas %}
                                                    <option value="{{ cuenta.plan_id }}">
                                                        {{ cuenta.codigo_plan }} -
                                                        {{ cuenta.nombre_plan }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-10 col-md-offset-1">
                                            <div class="col-md-4">
                                                <input class="form-control" id="clave_iva_ventas" maxlength="50" name="clave_iva_ventas"  type="text" value="cuenta_iva_ventas" readonly>

                                            </div>
                                            <div class="col-md-8">
                                                <select class="form-control" name="valor_iva_ventas" required>
                                                    <option value="">SELECCIONE CUENTA</option>
                                                    {% for cuenta in cuentas %}
                                                    <option value="{{ cuenta.plan_id }}">
                                                        {{ cuenta.codigo_plan }} -
                                                        {{ cuenta.nombre_plan }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-10 col-md-offset-1">
                                            <div class="col-md-4">
                                                <input class="form-control" id="clave_descuento_ventas" maxlength="50" name="clave_descuento_ventas"  type="text" value="cuenta_descuento_ventas" readonly>
                                            </div>
                                            <div class="col-md-8">
                                                <select class="form-control" name="valor_descuento_ventas" required>
                                                    <option value="">SELECCIONE CUENTA</option>
                                                    {% for cuenta in cuentas %}
                                                    <option value="{{ cuenta.plan_id }}">
                                                        {{ cuenta.codigo_plan }} -
                                                        {{ cuenta.nombre_plan }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>
                    </div>
                </div>
            </div>
        </div>

        <p class="text-center">

            <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-cog"></i> Guardar</button>
            <a class="default btn btn-link" href="/config/parametros/">
                <button type="button" class="btn btn-primary btn-lg"> Regresar</button>
            </a>
        </p>

</form>


{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'color_admin/assets/plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'color_admin/assets/plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
<script src="{% static 'color_admin/assets/js/form-wizards-validation.demo.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#id_codigo').each(function () {
            $(this).attr('readonly', 'readonly');
        });
        var codigo = $("#id_codigo").val();
        if (codigo < 1) {
            $.ajax({
                url: "/config/obtenerSecuencial/", // the endpoint
                type: "POST", // http method
                data: {id: 'productogeneral', 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function (data) {
                    $('#id_codigo').val('00' + data);

                },
                error: function () {

                },
            });
        }
    });
</script>
{% endblock %}
