{% autoescape off %}
Usted está recibiendo este correo electrónico porque ha solicitado un restablecimiento de contraseña para la cuenta de usuario en {{ site_name }}.

Por favor, vaya a la siguiente página y elegir una nueva contraseña:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url django.contrib.auth.views.password_reset_confirm uidb36=uid, token=token %}
{% endblock %}

Su nombre de usuario, en caso de que lo hayas olvidado: {{ user.username }}

Gracias por utilizar nuestro sitio!

El Equipo de {{ site_name }}.

{% endautoescape %}