{% extends 'main/base.html' %}
{% load extra_filters %}

{% block content %}
<div class="col-md-offset-4 col-sm-offset-0 col-xs-offset-0 col-md-4 col-sm-12 col-xs-12">
    <h3>Restablecer Contraseña</h3>
    <p>Por favor, indique su dirección de email para recibir instrucciones para poder restablecer su contraseña.</p>
    <form action="" method="post">
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
        <div class="form-group {% if form.email.errors %}has-error{% endif %}">
        	<div class="controls">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-envelope"></i>
                    </span>
         		    {{ form.email|addCss:'text-field form-control' }}
                </div>
         		<span class="help-block">
    				{{ form.email.help_text }}
    				<strong>{{ form.email.errors }}</strong>
    			</span>
    		</div>
    	</div>
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Restablecer contraseña" style="margin-bottom: 20px;" />
        <a href="{% url "login" %}" class="btn btn-lg btn-default btn-block" />Cancelar</a>
    </form>
</div>
{% endblock %}