{% extends 'main/base.html' %}

{% block content %}
<div class="col-md-offset-4 col-sm-offset-0 col-xs-offset-0 col-md-4 col-sm-12 col-xs-12">
    <h3>Restablecimiento de contraseñas exitosa</h3>

    <p>Te hemos enviado por correo electrónico las instrucciones para configurar su contraseña a la dirección de correo electrónico que ha enviado.</p>

    <p>Usted debe recibirlo en breve.</p>
    <br>
    <a href="{% url "login" %}" class="btn btn-lg btn-info btn-block" />Inicio</a>
</div>
{% endblock %}