{% extends "login/base-list.html" %}
{% load extra_filters %}



{% block list-add %}



{% if perms.inventario.add_bodega %}

    <a href="{% url 'bodega-create' %}" class="btn btn-primary pull-right">
    	<i class="fa fa-plus"></i>
        Agregar {{verbose_name}}
    </a>
{% endif %}
{% endblock %}

{% block section_title %}Bodega{% endblock %}
{% block section_subtitle %}
<br />
 <div class="email-btn-row hidden-xs">
                        <a href="{% url 'bodega-create' %}" class="btn btn-sm btn-success"><i class="fa fa-plus m-r-5"></i> Nuevo Bodega</a>
                    </div>

                    {% endblock %}