{% extends "login/base_nuevo.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}
    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="{% static 'color_admin/assets/plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
    <!-- ================== END PAGE LEVEL STYLE ================== -->
{% endblock %}

{% block section_title %}Liquidacion de Vacaciones{% endblock %}
{% block section_subtitle %}Por favor diligencie el siguiente formulario{% endblock %}
{% block content %}
  <style>
       .panel-border{border: 1px solid #ddd !important}
       .form-ajust .form-group{margin-bottom: 0px !important}
      input[type="text"],select,input[type="number"]
      {

    border: 1px solid #ccd0d4;
    border-radius: 3px;
    box-shadow: none;
    font-size: 12px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
       }

    .table2 {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
      display:table}

.table2>tbody>tr>td, .table2>tbody>tr>th, .table2>tfoot>tr>td, .table2>tfoot>tr>th, .table2>thead>tr>td, .table2>thead>tr>th {
    border-color: #e2e7eb;
    padding: 10px 15px;
}
    </style>


     <form method="post" data-parsley-validate="true" name="form-wizard" enctype="multipart/form-data"> {% csrf_token %}
     {{ ordencompra_form.title.errors }}
            <!-- begin row -->
          <div class="row">
                    <!-- begin col-6 -->
        <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Liquidacion de Vacaciones</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div>

                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                  <li role="presentation" class="active"><a href="#principales" aria-controls="principales" role="tab" data-toggle="tab">Documento</a></li>

                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="principales">
                                        <!--INICIO ORDEN PRODUCCION-->

                                        <div class="row">
                                            <div class="col-md-12">
                        <div class="panel panel-default panel-border">
                            <div class="panel-heading">Documento</div>
                            <div class="panel-body">

                            <div class="col-md-3">
                              <label for="exampleInputName2">Codigo</label>
                               {% bootstrap_field form.codigo show_label=False %}

                            </div>
                                <div class="col-md-3">
                              <label for="exampleInputName2">Fecha</label>
                               {% bootstrap_field form.fecha show_label=False %}

                            </div>
                                 <div class="col-md-3">
                              <label for="exampleInputName2">Sueldo Fijo</label>
                                        <input type="text" class="form-control" id="sueldo" name="sueldo" value=""/>

                            </div>
                            <div class="col-md-6">
                              <label for="exampleInputName2">Empleado</label>
                               {% bootstrap_field form.empleado show_label=False %}

                            </div>
                                <div class="col-md-6">
                              <label for="exampleInputName2">Fecha Ingreso</label>
<div class="form-group">
                                <input type="text" class="form-control" id="fecha_ingreso" name="fecha_ingreso" value=""/>
</div>
                            </div>
                                <div class="col-md-6">
                              <label for="exampleInputName2">Cargo</label>
                               {% bootstrap_field form.tipoempleado show_label=False %}

                            </div>
                            <div class="col-md-6">
                              <label for="exampleInputName2">Area</label>
                               {% bootstrap_field form.departamento show_label=False %}

                            </div>
                                  <div class="col-md-12">
                              <label for="exampleInputName2">Periodo de Goce</label>
<div class="form-group">
                                 Desde: {% bootstrap_field form.fecha_salida show_label=False %}<br />
                                Hasta: {% bootstrap_field form.fecha_entrada show_label=False %}
</div>
                            </div>


                            </div>
                        </div>
                        </div>


                                        </div>




                                           <!-- comienza -->
                                         <div class="row">
                                            <div class="col-md-12">
                        <div class="panel panel-default panel-border">
                            <div class="panel-heading">Detalle </div>
                            <div class="panel-body">



<table>
                                        <thead><tr>
                                        <td>DETALLE</td>
                                        <td>INGRESOS</td>
                                        <td>EGRESOS</td>
                                    </tr></thead>
                                        <tbody>

                                        <tr>
                                        <td style="width: 400px">INGRESOS</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                        <tr>
                                        <td>VACACIONES</td>
                                        <td><input type="text" name="vacaciones" id="vacaciones" onkeyup="actualizarValores()"/> </td>
                                        <td></td>
                                    </tr>

                                        <tr>
                                        <td>Antiguedad &nbsp;&nbsp;<input type="text" name="antiguedad" id="antiguedad"  style="width:50px;display: inline; " onkeyup="actualizarValores()" /> <span style="display: inline; " >A&Ntilde;OS</span></td>
                                        <td><input type="text" name="total_antiguedad" id="total_antiguedad" onkeyup="actualizarValores()" /> </td>
                                        <td></td>
                                    </tr>
                                         <tr>
                                        <td>TOTAL DE INGRESOS US$</td>
                                        <td><input type="text" name="total_ingresos" id="total_ingresos" readonly="readonly"/> </td>
                                        <td></td>
                                    </tr>


                                            <tr>
                                        <td>EGRESOS</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                        <tr>

                                        <td>APORTE IESS 9.45%</td>
                                            <td></td>
                                        <td><input type="text" name="iess" id="iess" readonly="readonly" /> </td>

                                    </tr>

                                        <tr>
                                        <td>ANTICIPO VACACIONES</td>
                                             <td></td>
                                        <td><input type="text" name="anticipo" id="anticipo" onkeyup="actualizarValores()"/> </td>

                                    </tr>
                                         <tr>
                                        <td>TOTAL DE EGRESOS US$</td>
                                              <td></td>
                                        <td><input type="text" name="total_egresos" id="total_egresos" readonly="readonly" /> </td>

                                    </tr>
                                        <tr>
                                        <td >INGRESOS MENOS EGRESOS TOTAL A COBRAR </td>
                                        <td></td>
                                        <td><input type="text" name="total_recibir" id="total_recibir"  readonly="readonly"  /> </td>
                                    </tr>
                                        </tbody>
</table>


<div class="col-md-12" id="detalle">

</div>
                            </div>
                        </div>
                        </div>


                                        </div>


                                            </div>

                                        </div>



                                        <!--FIN ORDEN PRODUCCION-->
                                    </div>


                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

   <p class="text-center">

                                    <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-cog"></i> Guardar</button>
                                            <a class="default btn btn-link" href="/recursos_humanos/liquidacionLaboral/"><button type="button" class="btn btn-primary btn-lg">  Regresar</button></a>
                                        </p>
<!--  <p class="text-right m-b-0">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-cog"></i> Guardar</button>
                                </p>
                                <a class="default btn btn-link" href="/inventario/producto">
      <i class="fa fa-times"></i> Regresar
    </a> -->
    <input type="hidden" name="columnas_receta" id="columnas_receta" value="1" />

<input type="hidden" name="id_fila_cambiar" id="id_fila_cambiar" value="" />


                            </form>



{% endblock %}

{% block javascript %}
{{ block.super }}
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="{% static 'color_admin/assets/plugins/DataTables-1.9.4/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'color_admin/assets/plugins/DataTables-1.9.4/js/data-table.js' %}"></script>

<script src="{% static 'color_admin/assets/plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'color_admin/assets/plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
<script src="{% static 'color_admin/assets/js/apps.min.js' %}"></script>
<script src="{% static 'color_admin/assets/js/bootstrap-datepicker.js' %}"></script>

<script>
  $(document).ready(function() {
    // App.init();
    $('.table').DataTable();
    //FormWizardValidation.init();
      $("#id_empleado").change(function(){
      cargarAbreviatura();
         });
  });
</script>
<script>
    $(document).ready(function() {
     $('#id_codigo').attr('readonly','readonly');
       $('#total').attr('readonly','readonly');

$( "#id_plazos" ).keyup(function() {
    actualizarValor();
});
 $('#id_fecha').datepicker({todayHighlight: true, autoclose: true, format: 'yyyy-mm-dd'});
        $("#id_fecha").datepicker('setDate', new Date());

         $('#id_fecha_salida').datepicker({todayHighlight: true, autoclose: true, format: 'yyyy-mm-dd'});
        $("#id_fecha_salida").datepicker('setDate', new Date());
          $('#id_fecha_entrada').datepicker({todayHighlight: true, autoclose: true, format: 'yyyy-mm-dd'});
        $("#id_fecha_entrada").datepicker('setDate', new Date());
         $(".parsley-errors-list").css('display','none');

         $.ajax({
                url: "/config/obtenerSecuencial/", // the endpoint
                type : "POST", // http method
                data : { id : 'liquidacion_vacaciones','csrfmiddlewaretoken': '{{ csrf_token }}'},
                success:function(data){
                 $('#id_codigo').val(data);

                },
                error: function(){
                  alert( "Escoja una empresa");
                },
              });
    });
   function actualizarValor(){
      var plazo=$('#id_plazos').val();
      var valor=$('#valor_mensual').val();
      var total=0;
      total=valor*plazo;

             $("#total").val(total);
    }

 function actualizarValores(){
      var vacaciones=$("#vacaciones").val();
      var antiguedad=$("#antiguedad").val();
     var total_antiguedad=$("#total_antiguedad").val();
     var total_ingresos=$("#total_ingresos").val();
     var iess=$("#iess").val();
      var anticipo=$("#anticipo").val();
       var total_egresos=  $("#total_egresos").val();
       var total_recibir=$("#total_recibir").val();

       var catn_antiguedad=0;
     var total=0;
     var ingresos=0;
     var egresos=0;
     var iess_calculo=0;
      catn_antiguedad=parseFloat(vacaciones)/15*antiguedad;
     ingresos=parseFloat(vacaciones)+parseFloat(catn_antiguedad);
     iess_calculo=parseFloat(ingresos)*0.0945;
     egresos=parseFloat(iess_calculo)+parseFloat(anticipo);
     total=ingresos-egresos;


     $("#total_antiguedad").val((catn_antiguedad).toFixed(2));
     $("#total_ingresos").val((ingresos).toFixed(2));
     $("#iess").val((iess_calculo).toFixed(2));
     $("#total_egresos").val((egresos).toFixed(2));
     $("#total_recibir").val((total).toFixed(2));
      //  alert(data);
      // alert(costo);
      // alert(valor);

    }
    function cargarAbreviatura(){
     codigo_reunion=$("#id_empleado").val();
        fecha=$("#id_fecha").val();

               $.ajax({
                url: "/recursos_humanos/obtenerEmpleadoLiquidacionVacaciones/", // the endpoint
                type : "POST", // http method
                data : { id : codigo_reunion,fecha:fecha,'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success:function(data){




                     $("#id_departamento").val(data['departamento']);
                    $("#id_tipoempleado").val(data['cargo']);
                    $("#sueldo").val(data['sueldo_mensual']);
                    $("#sueldo").val(data['sueldo_mensual']);

                    $("#vacaciones").val(data['total_vacaciones']);
                    $("#antiguedad").val(data['antiguedad']);
                     $("#total_antiguedad").val(data['valor_antiguedad']);

                     $("#total_ingresos").val(data['total_ingresos_final']);


                     $("#iess").val(data['iess']);
                    $("#anticipo").val(data['anticipo_vacaciones']);
                    $("#total_egresos").val(data['total_egresos_final']);
                    $("#total_recibir").val(data['recibir']);




                    $("#detalle").html(data['html']);



                },
                error: function(){

                },
              });

}

</script>

<script>
    $(document).ready(function() {
      $('#id_codigo').each(function(){
  $(this).attr('readonly','readonly');
});
       $('#id_created_by').each(function(){
  $(this).attr('readonly','readonly');
});
        $('#id_updated_by').each(function(){
  $(this).attr('readonly','readonly');
});
        $('#id_created_at').each(function(){
  $(this).attr('readonly','readonly');
});
        $('#id_updated_at').each(function(){
  $(this).attr('readonly','readonly');
});



    });
 function cerrarProforma(){
       $(".bs-example-modal-lg").modal('toggle');
    }

    function mostrarProductos(data){
       $('#id_fila_cambiar').val(data);
       $(".modal").modal('toggle');
       cerrarProforma();
    }
    function cerrar(){
       $(".modal").modal('toggle');
                 cerrarProforma();

    }
    function cargarCodigoProforma(cod){
             $('#id_orden_produccion_codigo').val(cod);
cerrarProforma();
    }

    function cargarCodigoProducto(id,codigo,descripcion,medida,costo,unidad_medida){
      var fila=$('#id_fila_cambiar').val();
         $('#id_kits'+fila).val(id);
         costo = costo.toString().replace(/\,/g,'.');


        $('#codigo_kits'+fila).val(codigo);
         $('#nombre_kits'+fila).append(descripcion);
           $('#medida_kits'+fila).val(unidad_medida);
         $('#costo_kits'+fila).val(costo);
   $('#total_kits'+fila).val('');
          $('#cantidad_kits'+fila).val('');
          cerrar();

    }

    function actualizarTotal(){
      var num_recetas=$('#columnas_receta').val();
      var total=0;
      var cantidad=0;
      var i;
      //alert(' BNUM RECETS'+num_recetas);
      for (i = 1; i <= num_recetas; i++) {

        if ($('#total_kits'+i).length){
            cantidad=$('#total_kits'+i).val();
            total=parseFloat(total)+parseFloat(cantidad);
          }


      }

      $('#total').val(total);
    }
</script>
<script type="text/javascript">
    $(document).ready(function(){
        /**
         * Funcion para añadir una nueva columna en la tabla
         */
        $("#add").click(function(){
            // Obtenemos el numero de filas (td) que tiene la primera columna
            // (tr) del id "tabla"
            var num_recetas=$('#columnas_receta').val();
            num_recetas=parseInt(num_recetas)+1;

            var tds=$("#tabla tr:first td").length;
            // Obtenemos el total de columnas (tr) del id "tabla"
            var trs=$("#tabla tr").length;
            var nuevaFila='<tr><td  class="eliminar"><a class="btn btn-danger remove_fields "><i class=" glyphicon glyphicon-trash icon-white"></i></a></td>';
                nuevaFila+='<td><input type="hidden" class="form-control" id="id_kits'+num_recetas+'" name="id_kits'+num_recetas+'"> ';
                nuevaFila+='<input type="text" required="required" class="form-control" id="codigo_kits'+num_recetas+'" name="codigo_kits'+num_recetas+'" onfocus="mostrarProductos('+num_recetas+')" readonly="readonly"></td>';
                 nuevaFila+='<td><span  id="nombre_kits'+num_recetas+'" name="nombre_kits'+num_recetas+'" ></span></td>';
                nuevaFila+='<td><input type="text" class="form-control" required="required" id="cantidad_kits'+num_recetas+'" name="cantidad_kits'+num_recetas+'" onkeyup="actualizarCosto('+num_recetas+')"></td>';
                nuevaFila+='<td><input type="text" class="form-control" id="medida_kits'+num_recetas+'" name="medida_kits'+num_recetas+'" readonly="readonly"></td>';
                nuevaFila+='<td><input type="text" class="form-control" id="costo_kits'+num_recetas+'" name="costo_kits'+num_recetas+'" readonly="readonly"></td>';
                nuevaFila+='<td><input type="text" class="form-control" id="total_kits'+num_recetas+'" name="total_kits'+num_recetas+'" readonly="readonly"></td>';
                nuevaFila+='</tr>';

              $('#columnas_receta').val(num_recetas);
            // for(var i=0;i<tds;i++){
            //     // añadimos las columnas
            //     nuevaFila+="<td>columna "+(i+1)+" Añadida con jquery</td>";
            // }
            // // Añadimos una columna con el numero total de columnas.
            // // Añadimos uno al total, ya que cuando cargamos los valores para la
            // // columna, todavia no esta añadida
            // nuevaFila+="<td>"+(trs+1)+" columnas";
            // nuevaFila+="</tr>";
            $("#tabla").append(nuevaFila);
        });

        /**
         * Funcion para eliminar la ultima columna de la tabla.
         * Si unicamente queda una columna, esta no sera eliminada
         */
        $("#del").click(function(){
            // Obtenemos el total de columnas (tr) del id "tabla"
            var trs=$("#tabla tr").length;
            if(trs>1)
            {
                // Eliminamos la ultima columna
                $("#tabla tr:last").remove();
            }
             actualizarTotal();
        });


        $(document).on("click",".eliminar",function(){
            var parent = $(this).parent();
  $(parent).remove();
   actualizarTotal();
          });

    });
    </script>
{% endblock %}