{% extends "base.html" %}

{% block content-title %}
    <div class="title clearfix">
        <h1>Página no encontrada</h1>
    </div>
{% endblock %}

{% block content %}
<br /><br />
<div class="well">
 <h4 class="text-center">
 	Posiblemente seguiste un enlace incorrecto o estás en busca de un documento que ha cambiado de dirección.
 </h4>
</div>
 <button onclick="window.history.back();" class="btn btn-info">
 	<i class="fa fa-reply"></i>
 	regresar a la página anterior
 </button>
{% endblock content %}