<html>
<head>
    <title>CRM</title>
    <!-- Bootstrap framework -->
	<link rel="stylesheet" href="https://crm.tarpuysoft.com/static/crm/bootstrap/css/bootstrap.min.css" media="all" />
	<link rel="stylesheet" href="https://crm.tarpuysoft.com/static/crm/css/font-awesome.min.css">

	<!-- main styles -->
	<link rel="stylesheet" href="https://crm.tarpuysoft.com/static/crm/css/color.min.css" media="all" />
	<link rel="stylesheet" href="https://crm.tarpuysoft.com/static/crm/css/flat-style.min.css" media="all" />
	<link rel="stylesheet" href="https://crm.tarpuysoft.com/static/crm/css/main.min.css" media="all" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800" rel="stylesheet" type="text/css">

	<!-- favicon and touch icons -->
	<link rel="apple-touch-icon" href="https://crm.tarpuysoft.com/static/crm/img/logo/ios/icon.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="https://crm.tarpuysoft.com/static/crm/img/logo/ios/Icon-72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="https://crm.tarpuysoft.com/static/crm/img/logo/ios/Icon@2x.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="https://crm.tarpuysoft.com/static/crm/img/logo/ios/Icon-72@2x.png" />
	<link rel="shortcut icon" href="https://crm.tarpuysoft.com/static/crm/img/logo/favicon.ico" />
	<link rel="icon" type="image/png" href="https://crm.tarpuysoft.com/static/crm/img/logo/favicon.png" />

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<script src="https://crm.tarpuysoft.com/static/crm/js/ie/html5.js"></script>
	<script src="https://crm.tarpuysoft.com/static/crm/js/ie/respond.min.js"></script>
	<![endif]-->
</head>
<body class="blue">
    <div class="container sign-login">
        <div class="col-md-offset-4 col-sm-offset-0 col-xs-offset-0 col-md-4 col-sm-12 col-xs-12">
            <div class="form-login">
                <div class="header text-center">
                    <h1 class="fcw"><i class="fa fa-cloud"></i> Administrador de Clientes</h1>
                </div>
				<div class="">
			        <h3>Parece que algo salió mal</h3>
			        <p>
						Hacemos un seguimiento de estos errores de forma automática, pero si el problema persiste no dude en contactar con nosotros <a href="mailto:soporte@tarpuysoft.com">soporte@tarpuysoft.com</a>.
					</p>
					<p></p>
					<div class="form-group">
						<div class="controls" style="padding:0">
							<a href="/static/crm/" class="btn btn-default">Ir a la página de Inicio</a>
			    			<button onclick="window.history.back();" class="btn btn-info">regresar a la página anterior</button>
						</div>
					</div>
			    </div>
            </div>
        	<div class="text-center copyright fcw">
        		©2014 <a href="http:https://www.tarpuysoft.com">tarpuysoft</a>
        	</div>
    	</div>
    </div>
</body>
</html>