
  
    <!-- ================== END PAGE LEVEL STYLE ================== -->
{% extends "login/base_nuevo.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}
    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="{% static 'color_admin/assets/plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
        <link href="{% static 'color_admin/assets/plugins/bootstrap-datepicker/css/datepicker.css'%}" rel="stylesheet" />
  <link href="{% static 'color_admin/assets/plugins/bootstrap-datepicker/css/datepicker3.css'%}" rel="stylesheet" />
   <link href="{% static 'color_admin/assets/plugins/isotope/isotope.css' %}" rel="stylesheet" />
    <link href="{% static 'color_admin/assets/plugins/lightbox/css/lightbox.css' %}" rel="stylesheet" />
    <!-- ================== END PAGE LEVEL STYLE ================== -->
{% endblock %}

{% block section_title %}Actualizacion de Imagen{% endblock %}
{% block section_subtitle %}Por favor diligencie el siguiente formulario{% endblock %}
{% block content %}

            <!-- begin row -->
           <style>
       .panel-border{border: 1px solid #ddd !important}
       .form-ajust .form-group{margin-bottom: 0px !important}
      input[type="text"],select,input[type="number"]
      {

    border: 1px solid #ccd0d4;
    border-radius: 3px;
    box-shadow: none;
    font-size: 12px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
       }

 .table2 {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
      display:table}

.table2>tbody>tr>td, .table2>tbody>tr>th, .table2>tfoot>tr>td, .table2>tfoot>tr>th {
    border-color: #e2e7eb;
    padding: 1px 0px;
}
    
 .table2>thead>tr>td, .table2>thead>tr>th {
    border-color: #e2e7eb;
    padding: 10px 5px;
}
    </style>
    <style>
    
    .head{
        width: 100%;
        text-align: center;
        
    }
    
    .details{
        width: 100%;
        padding: 2px 0;
      /* background-color: #fff;*/
        
    }
    .contenido{
        width: 100%;
        padding: 2px 0;
        
    }
    
    td{
        text-align: left;
        padding: 3px 5px;
        border:0;
    }
    th{
        text-align: center;
        padding: 3px 5px;
        border:0;
        /* background-color: #EEEEEE;*/
    }
    
    .foot{
        text-align: center;
    }
    
      
    @page {
        /*size: a4 landscape;*/
        margin: 1cm;
        
    }
    
    
</style>

  <form method="post" data-parsley-validate="true" name="form-wizard" enctype="multipart/form-data"> {% csrf_token %}
   {{ form.title.errors }}
      <div class="row">
                                            
                                            <div class="panel panel-default panel-border">
                                            <br />
                <div class="panel-body">
                                                    <div class="col-md-4">
                                                      <label for="exampleInputName2">Reunion</label>
                                                      {% bootstrap_field form.reunion show_label=False %}
                                                   </div>
                                                      <div class="col-md-4">
                                                      <label for="exampleInputName2">Cliente</label>
                                                      {% bootstrap_field form.cliente show_label=False %}
                                                   </div>
                                                      <div class="col-md-4">
                                                      <label for="exampleInputName2">Vendedor</label>
                                                      {% bootstrap_field form.vendedor show_label=False %}
                                                   </div>
                                                   <div class="col-md-4">
                                                      <label for="exampleInputName2">Descripcion</label>
                                                       {% bootstrap_field form.descripcion show_label=False %}
                                                   </div>
                                                    
                                               
                                                </div>
        <br/>
                                   <div class="panel-heading">Foto</div>
                                                <div class="panel-body">
                                                 
                                                   <div class="col-md-4">
                                                      <label for="exampleInputName2">Descripcion</label>
<textarea class="form-control" id="descripcion_imagen" name="descripcion_imagen">         
</textarea>                                                    </div>
                                                    
                                                  <div class="col-md-4">
                                                      <label for="exampleInputName2">Imagen</label>
                                                       <input type="file" class="form-control" id="imagen_reunion" name="imagen_reunion">
                                                   </div>
                                                </div>
                                            </div>
                                             <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-cog"></i> Guardar</button>
                                             <a class="default btn btn-link" href="{% url 'imagenesreunion-list' %}" ><button type="button" class="btn btn-primary btn-lg">  Regresar</button></a>

                                        </div>
            <div id="options" class="m-b-10">
                <span class="gallery-option-set" id="filter" data-option-key="filter">
                    <a href="#show-all" class="btn btn-default btn-xs active" data-option-value="*">
                        Todos
                    </a>
                    
                </span>
            </div>
            <div id="gallery" class="gallery">
             {% if detalle %}
                {% for orden in detalle %}
                <div class="image gallery-group-1">
                    <div class="image-inner">
                        <a href="assets/img/gallery/gallery-1.jpg" data-lightbox="gallery-group-1">
                            {% if orden.imagen %}
                                <img src={{ orden.imagen.url }} alt=""/>
                            {% else %}
                                <img src="{{ MEDIA_URL }}imagenes/producto/imagen_no_disponible.jpg" alt=""/>
                            {% endif %}
                        </a>
                        <p class="image-caption">
                            {{ orden.descripcion }}
                        </p>
                    </div>
                    <div class="image-info">
                        <h5 class="title">
                           {{ orden.descripcion }}

                        </h5>
                        <div class="pull-right">
                            &nbsp;
                        </div>
                        <div class="desc">
                        </div>
                    </div>
                </div>
                {% endfor %}
              {% endif %}

               
            </div>
              </form>

{% endblock %}
{% block javascript %}
{{ block.super }}
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="{% static 'color_admin/assets/plugins/isotope/jquery.isotope.min.js' %}"></script>
    <script src="{% static 'color_admin/assets/plugins/lightbox/js/lightbox-2.6.min.js' %}"></script>
    <script src="{% static 'color_admin/assets/js/gallery.demo.min.js' %}"></script>
    <script src="{% static 'color_admin/assets/js/apps.min.js' %}"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->
    <script>
        $(document).ready(function() {
            Gallery.init();
        });
    </script>

{% endblock %}
