{% extends 'base.html' %}
{% load extra_filters %}

{% block content-title %}
    <div class="title clearfix">
        <h1>Registrar un Nuevo Usuario</h1>
    </div>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }} » <a href="{% url "user-list" %}">Usuarios</a> » Nuevo
{% endblock %}

	{% block content %}
	<div class="well">
		{% if form.errors %}
		    <div class="alert alert-danger alert-dismissable">
		    	<button type="button" class="close" data-dismiss="alert">×</button>
		      	Por favor, corrija los siguientes errores.
		    </div>
		{% endif %}
		<form action="" method="post" id="formulario" class="form">
			<div class="form-horizontal">
				<div class="panel panel-default fieldset unsort no_title">
			    	<div class="panel-body">
						{% csrf_token %}
						{% for field in form %}
							<div class="form-group {% if field.errors %}has-error{% endif %}">
								{{ field|labelAddCss:'control-label' }}
								<div class="controls">
								    {{ field|addCss:'text-field form-control' }}
								    <span class="help-block">
								    	{{ field.help_text }}
								        <strong>{{ field.errors }}</strong>
								    </span>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			{% include "form-actions.html" %}
		</form>
	</div>
	{% endblock %}