<!doctype html>

<html lang="en">
<head>
    <title>SUB ORDEN DE PRODUCCI&Oacute;N - MUEDIRSA</title>
</head>
<style>
    
    .head{
        width: 100%;
        text-align: center;
        
    }
    
    #detail{
        width: 100%;
     
    }
    
    .contenido{
        width: 100%;
        padding: 2px 0;
        
    }
    
    .contenido td{
        text-align: left;
        padding: 3px 5px;
        font-size: 10pt
    }
    td{
     
        font-size: 10pt
    }
    .contenido th{
        text-align: center;
        padding: 3px 5px;
        background-color: #EEEEEE;
    }
    
    .foot{
        text-align: center;
    }
    @page {
        size: a4 landscape;
        margin: 1cm;
        font-size: 10pt;
        
    }
    
    
</style>
<body>
    <div class="head">  
   
    </div>
    <div id="detail" >
    </div>
    <div class="contenido">
      
        <table border="1">
            <tr>
            <td><b>SUB OP-OR #</b></td><td> {{subop.secuencia}} </td><td ><b> OP-OR#</b></td><td>  {{subop.orden_produccion.codigo}} </td><td> Pedido# </td><td> {{pedido.codigo}} </td><td> <b> Codigo Area:</b> </td>
            <td> {{subop.areas.codigo}} </td><td> <b> Area:</b> </td><td> {{subop.areas.descripcion}} </td>
            <td colspan="2" rowspan="2"><img src="media/{{ordenproduccion.imagen}}" alt="logo producto" width="80pt" height="" ="80pt"></td>
            </tr>
            <tr>
            <td><b>Fecha Inicio</b></td><td colspan="3"> </td><td ><b>Fecha Meta interna:</b></td><td colspan="3">  </td><td> <b>Fecha entrega interna:</b> </td><td>  </td>
            </tr>
            <tr>
                <td ><b>Fecha</b> </td><td colspan="2"><b>Operacion Unitaria</b> </td>
                <td colspan="2" ><b>Empleado</b> </td><td ><b>HR</b> </td><td ><b>MIN</b> </td> <td ><b>HRF</b> </td> <td ><b>MINF</b> </td><td ><b>HORA TOTAL</b> </td> <td ><b>Costo/HR</b> </td><td ><b>T.costo</b> </td>

            </tr>
             <tr>
                <td >&nbsp;</td><td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td><td >&nbsp;</td><td >&nbsp;</td> <td >&nbsp;</td> <td >&nbsp;</td><td >&nbsp;</td> 
<td >&nbsp;</td> 
            </tr>
            <tr>
                    <td >&nbsp;</td><td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td><td >&nbsp;</td><td >&nbsp;</td> <td >&nbsp;</td> <td >&nbsp;</td><td >&nbsp;</td> 
<td >&nbsp;</td> 
            </tr>
            <tr>
                <td >&nbsp;</td><td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td><td >&nbsp;</td><td >&nbsp;</td> <td >&nbsp;</td> <td >&nbsp;</td><td >&nbsp;</td> 
<td >&nbsp;</td> 
            </tr>
            <tr>
                    <td >&nbsp;</td><td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td><td >&nbsp;</td><td >&nbsp;</td> <td >&nbsp;</td> <td >&nbsp;</td><td >&nbsp;</td> 
<td >&nbsp;</td> 
            </tr>
            <tr>
                <td >&nbsp;</td><td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td><td >&nbsp;</td><td >&nbsp;</td> <td >&nbsp;</td> <td >&nbsp;</td><td >&nbsp;</td> 
<td >&nbsp;</td> 
            </tr>
            <tr>
                    <td >&nbsp;</td><td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td><td >&nbsp;</td><td >&nbsp;</td> <td >&nbsp;</td> <td >&nbsp;</td><td >&nbsp;</td> 
<td >&nbsp;</td> 
            </tr>
               <tr>
                <td >&nbsp;</td><td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td><td >&nbsp;</td><td >&nbsp;</td> <td >&nbsp;</td> <td >&nbsp;</td><td >&nbsp;</td> 
<td >&nbsp;</td> 
            </tr>
            <tr>
                    <td >&nbsp;</td><td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td><td >&nbsp;</td><td >&nbsp;</td> <td >&nbsp;</td> <td >&nbsp;</td><td >&nbsp;</td> 
<td >&nbsp;</td> 
            </tr>
             <tr>
                <td >&nbsp;</td><td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td><td >&nbsp;</td><td >&nbsp;</td> <td >&nbsp;</td> <td >&nbsp;</td><td >&nbsp;</td> 
<td >&nbsp;</td> 
            </tr>
            <tr>
                    <td >&nbsp;</td><td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td><td >&nbsp;</td><td >&nbsp;</td> <td >&nbsp;</td> <td >&nbsp;</td><td >&nbsp;</td> 
<td >&nbsp;</td> 
            </tr>
             <tr>
                <td >&nbsp;</td><td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td><td >&nbsp;</td><td >&nbsp;</td> <td >&nbsp;</td> <td >&nbsp;</td><td >&nbsp;</td> 
<td >&nbsp;</td> 
            </tr>
         
             <tr>
                <td >&nbsp;</td><td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td><td >&nbsp;</td><td >&nbsp;</td> <td >&nbsp;</td> <td >&nbsp;</td><td >&nbsp;</td> 
<td >&nbsp;</td> 
            </tr>
           
            <tr>
                    <td >&nbsp;</td><td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td><td >&nbsp;</td><td >&nbsp;</td> <td >&nbsp;</td> <td >&nbsp;</td><td >&nbsp;</td> 
<td >&nbsp;</td> 
            </tr>
            
        </table>
        
    </div>
    <div class="foot">
        <br><br><br>
        <table>
            
                <tr>
                    <td>___________________</td><td> ___________________</td>
                </tr>
                <tr>
                    <td>Firma Supervisor</td><td> Firma Responsable</td>
                </tr>
            </tbody>
            
        </table>
    </div>
   <br />
    <div class="contenido">
      
        <table border="1">
          
            <tr>
                <td ><b>Fecha</b> </td><td colspan="2"><b>Registro de Materiales</b> </td>
                <td colspan="2" ><b>Unidades</b> </td><td ><b>Util</b> </td><td ><b>Costo/Unidad</b> </td> 
                <td ><b>Total</b></td> 

            </tr>
             <tr>
                <td >&nbsp;</td><td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td><td >&nbsp;</td><td >&nbsp;</td> <td >&nbsp;</td> 
            </tr>
            <tr>
                <td >&nbsp;</td><td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td><td >&nbsp;</td><td >&nbsp;</td> <td >&nbsp;</td> 
            </tr>
             <tr>
                <td >&nbsp;</td><td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td><td >&nbsp;</td><td >&nbsp;</td> <td >&nbsp;</td> 
            </tr>
             <tr>
                <td >&nbsp;</td><td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td><td >&nbsp;</td><td >&nbsp;</td> <td >&nbsp;</td> 
            </tr>
             <tr>
                <td >&nbsp;</td><td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td><td >&nbsp;</td><td >&nbsp;</td> <td >&nbsp;</td> 
            </tr>
             <tr>
                <td >&nbsp;</td><td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td><td >&nbsp;</td><td >&nbsp;</td> <td >&nbsp;</td> 
            </tr>
           
             <tr>
                <td >&nbsp;</td><td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td><td >&nbsp;</td><td >&nbsp;</td> <td >&nbsp;</td> 
            </tr>
             <tr>
                <td >&nbsp;</td><td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td><td >&nbsp;</td><td >&nbsp;</td> <td >&nbsp;</td> 
            </tr>
             <tr>
                <td >&nbsp;</td><td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td><td >&nbsp;</td><td >&nbsp;</td> <td >&nbsp;</td> 
            </tr>
             <tr>
                <td >&nbsp;</td><td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td><td >&nbsp;</td><td >&nbsp;</td> <td >&nbsp;</td> 
            </tr>
             <tr>
                <td >&nbsp;</td><td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td><td >&nbsp;</td><td >&nbsp;</td> <td >&nbsp;</td> 
            </tr>
             <tr>
                <td >&nbsp;</td><td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td><td >&nbsp;</td><td >&nbsp;</td> <td >&nbsp;</td> 
            </tr>
             <tr>
                <td >&nbsp;</td><td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td><td >&nbsp;</td><td >&nbsp;</td> <td >&nbsp;</td> 
            </tr>
             <tr>
                <td >&nbsp;</td><td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td><td >&nbsp;</td><td >&nbsp;</td> <td >&nbsp;</td> 
            </tr>
             <tr>
                <td >&nbsp;</td><td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td><td >&nbsp;</td><td >&nbsp;</td> <td >&nbsp;</td> 
            </tr>
             <tr>
                <td >&nbsp;</td><td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td><td >&nbsp;</td><td >&nbsp;</td> <td >&nbsp;</td> 
            </tr> <tr>
                <td >&nbsp;</td><td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td><td >&nbsp;</td><td >&nbsp;</td> <td >&nbsp;</td> 
            </tr>
             <tr>
                <td >&nbsp;</td><td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td><td >&nbsp;</td><td >&nbsp;</td> <td >&nbsp;</td> 
            </tr>

           
            
        </table>
        
    </div>
    <div class="foot">
        <br><br><br>
        <table>
            
                <tr>
                    <td>___________________</td><td> ___________________</td>
                </tr>
                <tr>
                    <td>Firma Supervisor</td><td> Firma Responsable</td>
                </tr>
            </tbody>
            
        </table>
    </div>
</body>
</html>
