{% extends "login/base-list.html" %}
{% load extra_filters %}

{% load staticfiles %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block section_title %}SubOrdenes de Produccion Detalle{% endblock %}
{% block section_subtitle %}
		   <b>{{ op.tipo}} &nbsp;{{ op.codigo }}</b> <br />
							 <b>Fecha:</b>&nbsp; {{ op.fecha }} &nbsp;&nbsp;&nbsp;&nbsp;
							<b> Cliente:</b>&nbsp;{{ op.cliente.nombre_cliente }}<br />
							 <b>Descripci&oacute;n:</b>&nbsp;{{ op.descripcion }}<br />
							 <b>Detalle:</b>&nbsp;{{ op.detalle }}<br />
							 <b>Cantidad:</b>&nbsp;{{ op.cantidad }}<br />

<br />
 <div class="email-btn-row hidden-xs">

                    </div>

                    {% endblock %}

{% block content %}
				<!-- begin col-12 -->
		<form method="post" data-parsley-validate="true" name="form-wizard" enctype="multipart/form-data"> {% csrf_token %}

				<div class="col-md-12">
					<!-- begin panel -->
					<div class="panel panel-inverse">
						<div class="panel-heading">
							<div class="panel-heading-btn">
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
							</div>
							<h4 class="panel-title">Sub Ordenes de Produccion Detalle</h4>
						</div>
						<div class="panel-body">

<div class="col-md-4">
                                                     <label for="exampleInputName2">Area</label>
							<select name="ambientes" id="ambientes"  class="form-control">
                                                         {% for am  in ambientes %}
                                                           <option value="{{ am.id }}"> {{ am.descripcion }}</option>
                                                        {% endfor %}
                                                     </select>
                                                    </div>
                                                    <div class="col-md-4">
                                                     <label for="exampleInputName2">Secuencia</label>
                                     <input type="number" class="form-control" id="secuencia" name="secuencia" >
 </div>
							 <div class="col-md-4">
                                     <label for="exampleInputName2">Reproceso</label>
                                     <input type="checkbox" class="form-control" id="reproceso" name="reproceso" >
 </div>
                                                    <div class="col-md-4">
                                     <a class="btn btn-danger remove_fields" onclick="agregar({{ id }})">
                                                        <i class="glyphicon glyphicon-plus icon-white"></i>
                                                      </a>
						</div>
						<br /><br />						<br /><br />
						<br /><br />
<div style="float:right"><a href="{% url 'subordenproduccion-imprimir-detalle' op.id %}"><button type="button" class="btn btn-info btn-xs"><i class="fa fa-cog"></i> IMPRIMIR</button>	</a>
</div>

							<div class="table-responsive">
								<table id="data-table" class="table table-striped table-bordered">
									<thead>
										<tr>
										<th></th>
											<th>Areas</th>
											<th>Secuencia</th>
											<th>Horas</th>
											<th>Costo Horas</th>
											<th>Costo Materiales</th>
                                            <th>Total</th>
											<th width="200px">Observaciones</th>
											<th>Estado</th>
											<th>Accion</th>
										</tr>

									</thead>
									<tbody>

										<!--{% for orden  in subordenes %}-->
										<!--{% if orden.reproceso %}-->
										<!--{% else %}-->
											<!--<tr>-->
												<!--<td>-->
												<!--<input type="hidden" id="suborden_id{{ forloop.counter }}" name="suborden_id{{ forloop.counter }}" value="{{ orden.id }}"><a class="btn btn-danger remove_fields" onclick="eliminar({{ orden.id }},{{ id }})">-->
                                                        <!--<i class=" glyphicon glyphicon-trash icon-white"></i>-->
                                                      <!--</a></td>-->
												<!--<td>{{ orden.areas.descripcion }} </td>-->
												<!--<td>{{ orden.secuencia }}</td>-->
												<!--<td>{{ orden.horas }}<input type="hidden" id="horas{{ forloop.counter }}" name="horas{{ forloop.counter }}" value="{{ orden.horas }}"></td>-->
												<!--<td>{{ orden.costo_horas }}<input type="hidden" id="costo_horas{{ forloop.counter }}" name="costo_horas{{ forloop.counter }}" value="{{ orden.costo_horas }}"></td>-->

												<!--<td>{{ orden.costo_materiales}}<input type="hidden" id="costo_material{{ forloop.counter }}" name="costo_material{{ forloop.counter }}" value="{{ orden.costo_materiales }}"></td>-->

												<!--<td>-->
													<!--{{ orden.observaciones }}-->
												<!--</td>-->

													<!--<td>{% if orden.finalizada %}-->
												<!--Finalizada-->

														<!--{% else %}-->
												<!--En Proceso-->
														<!--{% endif %}-->
												<!--</td>-->

												<!--<td>-->

												<!--<a href="{% url 'subordenproduccion-manoobra' orden.id %}">-->
												<!--<button type="button" class="btn btn-info btn-xs"><i class="fa fa-cog"></i> Mano de Obra</button>	</a>-->
													<!--<a href="{% url 'subordenproduccion-receta' orden.id %}">-->
												<!--<button type="button" class="btn btn-info btn-xs"><i class="fa fa-cog"></i> Materiales</button>	</a>-->

											<!--</td>-->

											<!--</tr >-->
											<!--{% endif %}-->
										<!--{% endfor %}-->

            {{ html |safe }}
									</tbody>
                                    <tfoot>{{ html_total |safe }}</tfoot>
								</table>
							</div>



 <table class="table table-striped table-bordered">
                <tr><th>Costo Produccion:</th><td><input type="text" readonly="readonly" name="costo_produccion" id="costo_produccion" value="{{ total_d}}" readonly></td></tr>
                 <tr><th>Costo Fijo:<input type="text"  name="porcentaje_precio1" id="porcentaje_precio1" onkeyup="actualizarTotal()" value="{{ op.porcentaje_costo | default_if_none:'0'}}">%</th><td><input type="text" readonly="readonly" name="costo_fijo" id="costo_fijo"></td></tr>
                <tr><th>Total:</th><td><input type="text" readonly="readonly" name="costo_total" id="costo_total">                                                <button type="button" onclick="guardarCosto()" class="btn btn-save btn-block">Actualizar Costo <i class=" glyphicon glyphicon-save icon-white"></i></button> </td></tr>
              </table>
 
 
 <table class="table table-striped table-bordered">
                <tr><th>Costo Fabricacion:</th><td></td><td></td></tr>
                {% for r  in costos_fabricacion %}
                 <tr><td>{{r.0}}</td><td>{{r.1}}</td><td>{{r.4}}</td></tr>
{% endfor %}
              </table>
               



							<h4>REPROCESO</h4>

							<div class="table-responsive">
								<table id="data-table" class="table table-striped table-bordered">
									<thead>
										<tr>
										<th></th>
											<th>Areas</th>
											<th>Secuencia</th>
											<th>Horas</th>
											<th>Costo Horas</th>
											<th>Costo Materiales</th>
                                            <th>Total</th>
											<th width="200px">Observaciones</th>
											<th>Estado</th>
<th>Accion</th>
										</tr>

									</thead>
									<tbody>
										  {{ html_rep |safe }}
									</tbody>
                                    <tfoot>{{ html_total_rep |safe }}</tfoot>
								</table>
							</div>

	</div>
					</div>
					{% if subordenes %}
<input type="hidden" name="columnas_receta" id="columnas_receta" value="{{ subordenes|length }}" />
{% else %}
<input type="hidden" name="columnas_receta" id="columnas_receta" value="1" />

{% endif %}

<input type="hidden" name="id" id="id" value="{{ id }}" />

 </form>

					<!-- end panel -->

					<!-- #modal-dialog -->
					<div class="modal fade" id="modal-dialog">
						<div class="modal-dialog">
							<div class="modal-content">
							{% if form_mode == "update" %}
							<form method="post" action="{% url 'ordenescompra-update' ordenescompra.pk %}" data-parsley-validate="true" name="form-wizard" enctype="multipart/form-data">
							{% else %}
							<form method="post" action="{% url 'ordenescompra-create' %}" data-parsley-validate="true" name="form-wizard" enctype="multipart/form-data">
							{% endif %}
									{% csrf_token %}
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
										<h4 class="modal-title">Nueva Orden de Compra</h4>
									</div>
									<div class="modal-body">
									</div>
									<div class="modal-footer">
										<a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
										<button type="submit" class="btn btn-sm btn-success">Guardar</button>
									</div>
								</form>

							</div>
						</div>
					</div>
				</div>
				<!-- end col-12 -->

{% endblock %}

{% block javascript %}
{{ block.super }}


	<script type="text/javascript">
		
 $(document).ready(function () {

        actualizarTotal();
    });

function actualizarTotal(){
      

      var total=0;
      var horas=0;
      var costo_horas=0;
      var costo_material=0;
      var costo_produccion=0;
      var costo_fijo=0;
      var precio1=0;
      var precio2=0;

 
     var costo_produccion=$('#costo_produccion').val();
                   
     var porcentaje1=$('#porcentaje_precio1').val();
    
     //Validaciond e porcentajes

           if (porcentaje1==null || porcentaje1==''  || porcentaje1=='None' ){

              porcentaje1='0';
          }


 precio2=parseFloat(costo_produccion*porcentaje1/100);
            precio1=parseFloat(costo_produccion)+parseFloat(costo_produccion*porcentaje1/100);

            total=parseFloat(costo_produccion)+parseFloat(precio2);
            //alert(total);
            $('#costo_fijo').val((precio2).toFixed(2));
            $('#costo_total').val((total).toFixed(2));
     
    }
  

	function detalledeCompra(id){
          $.ajax({
                url: "/config/obtenerDetalleCompra/", // the endpoint
                type : "POST", // http method
                data : { id : id,'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success:function(data){
                  $("#detalle").append(data);
                },
                error: function(){

                },
              });
    }
      function agregar(id){
       var ambiente=$("#ambientes").val();
	   var secuencia=$("#secuencia").val();
          $.ajax({
                url: "/subordenproduccion/agregarSubordenproduccion/", // the endpoint
                type : "POST", // http method
                data : { id : id,secuencia : secuencia,ambiente : ambiente,'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success:function(data){
                  alert("Se  agrego satisfactoriamente")
                  window.location.href ="/subordenproduccion/subordenproduccion/"+id+"/list";
                },
                error: function(){

                },
              });
    }
    function eliminar(id,pk){

          $.ajax({
                url: "/subordenproduccion/eliminarSubordenproduccion/", // the endpoint
                type : "POST", // http method
                data : { id : id,'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success:function(data){
                  alert("Se elimino el item satisfactoriamente");
                  window.location.href ="/subordenproduccion/subordenproduccion/"+pk+"/listdetalle";

                },
                error: function(){

                },
              });
    }

      function enviarBodega(id){

          $.ajax({
                url: "/subordenproduccion/subordenproduccion/enviarBodega/", // the endpoint
                type : "POST", // http method
                data : { id : id,'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success:function(data){
                  alert("Se  envio a bodega satisfactoriamente")
                },
                error: function(){
                  alert("Verifique si ha terminado todas las etapas y si ha creado el producto")

                },
              });
    }
    function enviarBodegaCrudo(id,subopid){

          $.ajax({
                url: "/subordenproduccion/subordenproduccion/enviarBodegaCrudo/", // the endpoint
                type : "POST", // http method
                data : { id : id,subopid:subopid,'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success:function(data){
                  alert("Se  envio a bodega de productos en crudo satisfactoriamente")
                },
                error: function(){
                  alert("Verifique si ha terminado todas las etapas y si ha creado el producto")

                },
              });
    }
     function finalizar(id){
      var num_recetas=$('#columnas_receta').val();
      var total=0;
      var cantidad=0;
      var i;
      //alert(' BNUM RECETS'+num_recetas);
      for (i = 1; i <= num_recetas; i++) {
      	if( $('#finalizada'+i).prop('checked') ) {
      			total++;
					}



      }

      if(total==num_recetas){
      	 window.location.href ="/inventario/producto/"+id+"/nuevo_orden_produccion";

      }else{
      	alert("Debe finalizar todas las etapas")
      }
    }

        function agregar(id){
       var ambiente=$("#ambientes").val();
	   var secuencia=$("#secuencia").val();
     var reproceso="false";

     if( $('#reproceso').prop('checked') ) {
    reproceso="true";
}else{
	reproceso="false";
}
          $.ajax({
                url: "/subordenproduccion/agregarSubordenproduccion/", // the endpoint
                type : "POST", // http method
                data : { id : id,secuencia : secuencia,ambiente : ambiente,reproceso : reproceso,'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success:function(data){
                  alert("Se  agrego satisfactoriamente")
                  window.location.href ="/subordenproduccion/subordenproduccion/"+id+"/listdetalle";
                },
                error: function(){

                },
              });
    }
    
        function guardarCosto(){
       var porcentaje=$("#porcentaje_precio1").val();
       var total=$("#costo_total").val();
       var id=$("#id").val();
        var costo_fijo=$("#costo_fijo").val();
         var costo_produccion=$("#costo_produccion").val();
          $.ajax({
                url: "/subordenproduccion/guardarCosto/", // the endpoint
                type : "POST", // http method
                data : { id : id,porcentaje : porcentaje,total : total,costo_fijo : costo_fijo,costo_produccion : costo_produccion,'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success:function(data){
                  alert("Se  guardo satisfactoriamente")
                  window.location.href ="/subordenproduccion/subordenproduccion/"+id+"/listdetalle/";
                },
                error: function(){

                },
              });
    }
    

	</script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	{% if form.errors or form_mode == "update" %}
	<script type="text/javascript">
		$( document ).ready(function() {
		    $(".modal").modal('toggle');
		});


	</script>
	{% endif %}
{% endblock %}

