{% extends "login/base_nuevo.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}
<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
<link href="{% static 'color_admin/assets/plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<link href="{% static 'color_admin/assets/plugins/bootstrap-datepicker/css/datepicker.css'%}" rel="stylesheet" />
<link href="{% static 'color_admin/assets/plugins/bootstrap-datepicker/css/datepicker3.css'%}" rel="stylesheet" />
<!-- ================== END PAGE LEVEL STYLE ================== -->
{% endblock %}

{% block section_title %}Asiento Contable-Libro Diario Crear{% endblock %}
{% block section_subtitle %}Por favor diligencie el siguiente formulario{% endblock %}
{% block content %}
<style>
.panel-border{border: 1px solid #ddd !important}
.form-ajust .form-group{margin-bottom: 0px !important}
input[type="text"],select,input[type="number"]
{

  border: 1px solid #ccd0d4;
  border-radius: 3px;
  box-shadow: none;
  font-size: 12px;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
}

.table2 {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  display:table}

  .table2>tbody>tr>td, .table2>tbody>tr>th, .table2>tfoot>tr>td, .table2>tfoot>tr>th, .table2>thead>tr>td, .table2>thead>tr>th {
    border-color: #e2e7eb;
    padding: 10px 15px;
  }
  </style>


  <form method="post" data-parsley-validate="true" name="form-wizard" enctype="multipart/form-data" id="asiento-form"> {% csrf_token %}
   {{ asiento_form.title.errors }}
   <!-- begin row -->
   <div class="row">
    <!-- begin col-6 -->
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Asiento</h3>
        </div>
        <div class="panel-body">
              <!-- Nav tabs -->

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="principales">
                  <!--INICIO ORDEN PRODUCCION-->

                  <div class="row">
                    <div class="col-md-12">
                      <div class="panel panel-default panel-border">
                        <div class="panel-heading">Informacion del Asiento</div>
                        <div class="panel-body">

                          
                          <div class="col-md-4">
                            <label>Fecha</label>
                            {% bootstrap_field asiento_form.fecha show_label=False%}
                          </div>
                          <div class="col-md-4">
                            <label>Codigo Asiento</label>
                            {% bootstrap_field asiento_form.codigo_asiento show_label=False %}

                          </div>
                          <div class="col-md-4">
                            <label>Glosa</label>
                            {% bootstrap_field asiento_form.glosa show_label=False %}

                          </div>
                          <div class="col-md-4">
                            {% bootstrap_field asiento_form.gasto_no_deducible show_label=False %}

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  
                  
                  
                      <div class="row">
                    <div class="col-md-12">
                      <div class="panel panel-default panel-border">
                        <div class="panel-heading">Informacion del Movimiento</div>
                        <div class="panel-body">

                          
                          <div class="col-md-8">
                            <label>Proveedoor</label>
                            <input type="hidden" name="proveedor"/>
                                    <div class="input-group add-on">
                                        <input type="hidden" name="persona_id"  id="persona_id"/>
                                        <input class="form-control" name="persona" type="text" readonly>
                                        <div class="input-group-btn">
                                            <a id="persona_modal" class="btn btn-inverse" data-toggle="modal" >
                                                <i class="glyphicon glyphicon-search icon-white"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>                          
                          <div class="col-md-8">
                            <label>Descripcion</label>
                                    <textarea class="form-control" name="descripcion" id="descripcion" rows="3" onkeyup="actualizar_descripcion()"></textarea>

                          </div>
                          
                           <div class="form-group mostrar-cheque" style="display:none">
                                <label class="col-sm-4 control-label">Páguese a la orden
                                    de</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" name="paguese_a" readonly>
                                </div>
                            </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  
                
                  
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default panel-border">
                <!-- Default panel contents -->
                <div class="panel-heading">ASIENTO DETALLE</div>
                <div class="panel-body">
             
                </div>

                <!-- Table -->
                <table class="table2 table-striped table-bordered" id="tabla" >
                  <tr>
                    <th></th>
                    <th style="width:200px">Cuenta</th>
                    <th>Debe</th>
                    <th>Haber</th>
                    <th>Centro de Costo</th>
                     <th>Concepto</th>
                  </tr>
                  {% if detalle %}
                  {% for kit in detalle %}

                  <tr>
                    <td></td>
                    <td>
                      {% if kit.debe > kit.haber %}
                              <input type="hidden" class="form-control" id="tipo_kits{{forloop.counter}}" name="tipo_kits{{forloop.counter}}" value="p"/>

                        {% endif %}
                      <input type="hidden" class="form-control" id="id_detalle{{forloop.counter}}" name="id_detalle{{forloop.counter}}" value="{{kit.detalle_id}}" readonly="readonly"/>
                    	<input type="hidden" class="form-control" id="id_cuenta_kits{{forloop.counter}}" name="id_cuenta_kits{{forloop.counter}}" value="{{kit.cuenta.plan_id}}" readonly="readonly"/>
                    	<div class="input-group add-on"><input required="required" type="text" class="form-control" id="cuenta_kits{{forloop.counter}}" name="cuenta_kits{{forloop.counter}}" readonly="readonly" value="{{kit.cuenta.nombre_plan}}" onfocus="mostrarCuentas({{forloop.counter}})" />
                    <div class="input-group-btn">
                                            <a class="btn btn-inverse" data-toggle="modal"
                                               data-target=".bd-example-modal-lg" onclick="mostrarCuentas({{forloop.counter}})">
                                                <i class=" glyphicon glyphicon-search icon-white"></i>
                                            </a>
                                        </div></div></td>
                    <td><div class="input-group"><span class="input-group-addon">$</span><input type="text" class="form-control mask_float" required="required" id="debe_kits{{forloop.counter}}" name="debe_kits{{forloop.counter}}" onkeyup="actualizarTotal()" value="{{kit.debe}}" title="Debe"/></div></td>
                    <td><div class="input-group"><span class="input-group-addon">$</span><input type="text" class="form-control mask_float" required="required" id="haber_kits{{forloop.counter}}" name="haber_kits{{forloop.counter}}" onkeyup="actualizarTotal()" value="{{kit.haber}}" title="Haber" /></div></td>
                    <td>
                      {% if kit.centro_costo_id  %}
                    	<input type="hidden" class="form-control" id="id_centro_kits{{forloop.counter}}" name="id_centro_kits{{forloop.counter}}" value="{{kit.centro_costo.centro_id}}" readonly="readonly"/>
                      <div class="input-group add-on"><input required="required" value="{{kit.centro_costo.nombre_centro}}" type="text" class="form-control" id="centro_kits{{forloop.counter}}" name="centro_kits{{forloop.counter}}" readonly="readonly" value="{{kit.centro_costo.nombre_centro}}"  onfocus="mostrarCentros({{forloop.counter}})" />
                            <div class="input-group-btn">
                                            <a class="btn btn-inverse" data-toggle="modal"
                                               data-target=".bd-example-modal-lg" onclick="mostrarCentros({{forloop.counter}})">
                                                <i class=" glyphicon glyphicon-search icon-white"></i>
                                            </a>
                                        </div></div>
                      {% else %}
                          <input type="hidden" class="form-control" id="id_centro_kits{{forloop.counter}}"
                                 name="id_centro_kits{{forloop.counter}}" value="{{centros_defecto.centro_id}}" readonly="readonly"/>
                          
                          <div class="input-group add-on"><input required="required" value="{{centros_defecto.nombre_centro}}" type="text" class="form-control" id="centro_kits{{forloop.counter}}" name="centro_kits{{forloop.counter}}" readonly="readonly" value="{{kit.centro_costo.nombre_centro}}"  onfocus="mostrarCentros({{forloop.counter}})" />
                            <div class="input-group-btn">
                                            <a class="btn btn-inverse" data-toggle="modal"
                                               data-target=".bd-example-modal-lg" onclick="mostrarCentros({{forloop.counter}})">
                                                <i class=" glyphicon glyphicon-search icon-white"></i>
                                            </a>
                                        </div></div>
                        {% endif %}
                    	
                    </td>
                     <td>

                    	<input  type="text" class="form-control" id="concepto_kits{{forloop.counter}}" name="concepto_kits{{forloop.counter}}" value="{{kit.concepto}}" />
                    </td>
                  </tr>
                  {% endfor %}
                  {% endif %}
                  <tfoot>
                  	<td></td>
                    <td></td>

                  	<th>
                  		<div class="input-group"><span class="input-group-addon">$</span><input type="text" class="form-control mask_float" id="total_debe" name="total_debe"  required="required" readonly="readonly" /></div>
                  	</th>
                  	<th>
                  		<div class="input-group"><span class="input-group-addon">$</span><input type="text" class="form-control mask_float" id="total_haber" name="total_haber"  required="required" readonly="readonly" /></div>
                  	</th>
                  	<td></td>
                  	<td></td>
                  </tfoot>              
               </table>
                 <p class="text-center">
                         <button type="button" class="btn btn-default btn-lg" id="add2"><i class="fa fa-plus"></i> Agregar</button>


                    </p>
                 
                 
                 
                 <h3>FACTURAS</h3>
                 
                   <table class="table2 table-striped table-bordered" id="tabla-facturas" >
                  <tr>
                    <th></th>
                    <th style="width:200px">Factura</th>
                    <th>Monto</th>
                     <th>Concepto</th>
                  </tr>
                 {% if detallefactura %}
                                                    {% for kit  in detallefactura %}

                       <tr>
                        <td></td>
                              <td>
                                
                                <input type="hidden" class="form-control" id="id_detallef{{forloop.counter}}" name="id_detallef{{forloop.counter}}" value="{{ kit.0 }}" readonly="readonly"/>
                                <select class="form-control" name="facturas_kits{{forloop.counter}}" id="facturas_kits{{forloop.counter}}" onchange="actualizarAbono(1)" readonly="readonly" ui-select2="{readonly: true}">
                                                                 
                                                                   {% for f  in facturas_sql2 %}
                                                               %}
                                                               {% if kit.1 == f.0 %}
                                                               %}
                                                                    <option value="{{ f.0 }}"
                                                                
                                                                    
                                                                     selected="selected"  > {{ f.1}}-{{ f.2 }}-{{ f.3}}|{{ f.4 }}</option>
                                                                               {% endif %}
                                                               %}
                                                                  {% endfor %} 
                                                               </select>
                              </td>
                    <td><input type="hidden" id="abono_kits{{forloop.counter}}" name="abono_kits{{forloop.counter}}"/><div class="input-group"><span class="input-group-addon">$</span>
                    <input type="text" class="form-control mask_float" required="required" id="monto_kits{{forloop.counter}}" name="monto_kits{{forloop.counter}}"
                    onKeyup="actualizarTotalFacturas({{forloop.counter}})" value="{{kit.3}}"
                           readonly/></div>
                    </td>
                  
                     <td>

                    	<input  type="text" class="form-control" id="observacion_kits{{forloop.counter}}" name="observacion_kits{{forloop.counter}}" value="{{kit.12}}" />
                    </td>
                  </tr>
                                                        {% endfor %} 
                                                   {% else %}
                        
                  <tr>
                    <td  class="eliminar"><a class="btn btn-danger remove_fields "><i class=" glyphicon glyphicon-trash icon-white"></i></a></td>
                    <td>
                      <input type="hidden" class="form-control" id="id_detallef{{forloop.counter}}" name="id_detallef{{forloop.counter}}" value="" readonly="readonly"/>
                      <select class="form-control" name="facturas_kits1" id="facturas_kits1" onchange="actualizarAbono(1)">
                        <option value="0"   data-abono="0" data-id="0" data-total="0" data-iva="0" data-subtotal="0">Seleccione</option>
                                                         {% for f  in facturas_sql %}
                                                           <option value="{{ f.0 }}"
                                                           data-abono="{{ f.6}}" data-id="{{ f.0}}"
                                                           data-total="{{ f.5}}"
                                                           data-iva="{{ f.4}}"
                                                           data-subtotal="{{ f.3}}"
                                                           data-totalpagar="{{ f.11}}"
                                                           data-valorretenido="{{ f.10}}"
                                                           data-nc="{{ f.12}}"
                                                           > {{ f.2}}-{{ f.7 }}-{{ f.8 }}|{{ f.9 }}</option>
                                                        {% endfor %} 
                                                     </select>
                    </td>
                    <td><input type="hidden" id="abono_kits1" name="abono_kits1"/><div class="input-group"><span class="input-group-addon">$</span>
                    <input type="text" class="form-control mask_float" required="required" id="monto_kits1" name="monto_kits1"
                    onKeyup="actualizarTotalFacturas(1)" value="0" /></div>
                    </td>
                  
                     <td>

                    	<input  type="text" class="form-control" id="observacion_kits1" name="observacion_kits1" value="" />
                    </td>
                  </tr>
                
                  {% endif %}
                  <tfoot>
                  	<td></td>
                    <td></td>
                  	<th>
                  		<div class="input-group"><span class="input-group-addon">$</span><input type="text" class="form-control mask_float" id="total_monto" name="total_monto"  required="required" readonly="readonly" /></div>
                  	</th>
                  	<th>
                  	</th>
                  	
                  	
                  </tfoot>              
               </table>
              
                  <p class="text-center">
                         <button type="button" class="btn btn-default btn-lg" id="add"><i class="fa fa-plus"></i> Agregar</button>


                    </p>
                 
                 
             </div>
           </div>
         </div>
       </div>

     </div>



     <!--FIN ORDEN PRODUCCION-->
   </div>


 </div>

</div>
</div>


                  <p class="text-center">

                    <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-cog"></i> Guardar</button>
                    <a class="default btn btn-link" href="/contabilidad/asiento_factura_libro_list/"><button type="button" class="btn btn-primary btn-lg">  Regresar</button></a>
                  </p>
<!--  <p class="text-right m-b-0">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-cog"></i> Guardar</button>
                                </p>
                                <a class="default btn btn-link" href="/inventario/producto">
      <i class="fa fa-times"></i> Regresar
    </a> -->
    <input type="hidden" name="columnas_receta" id="columnas_receta" value="{{ detalle|length }}" />

 {% if detallefactura %}
    <input type="hidden" name="columnas_recetaf" id="columnas_recetaf" value="{{ detallefactura|length }}" />
{% else %}
    <input type="hidden" name="columnas_recetaf" id="columnas_recetaf" value="1" />

{% endif %}

    <input type="hidden" name="id_fila_cambiar" id="id_fila_cambiar" value="" />


  </form>
 <div class="modal fade" id="modal-dialog-cuenta">
  	<div class="modal-dialog">
  		<div class="modal-content">
  			<div class="panel-body">
  				<div class="table-responsive">
  					<table class="table table-striped table-bordered" id="tabla_cuenta" style="width:100%;">
  						<thead>
  							<tr>
  								<td></td>
  								<th>Codigo</th>
  								<th>Nombre</th>

  							</tr>
  						</thead>
  						<tbody>
  							{% for cuenta  in cuentas %}
  							<tr>
  								<td  onclick="cargarCodigoCuenta('{{ cuenta.plan_id }}','{{ cuenta.nombre_plan }}')"><a class="btn btn-danger remove_fields">
  									<i class=" glyphicon glyphicon-plus icon-white"></i>
  								</a></td><td>{{ cuenta.codigo_plan }}</td>
  								<td>{{ cuenta.nombre_plan }}</td>
  							</tr >
  							{% endfor %}

  						</tbody>
  					</table>
  				</div>
  				<button type="button" onclick="cerrarCuentas()" class="btn btn-danger btn-block">Cerrar <i class=" glyphicon glyphicon-trash icon-white"></i></button>


  			</div>
  		</div>
  	</div>
  </div>
  <div class="modal fade" id="modal-dialog-centro">
  	<div class="modal-dialog">
  		<div class="modal-content">
  			<div class="panel-body">
  				<div class="table-responsive">
  					<table class="table table-striped table-bordered" id="tabla_centro" style="width:100%;">
  						<thead>
  							<tr>
  								<td></td>
  								<th>Centro</th>

  							</tr>
  						</thead>
  						<tbody>
  							{% for centro  in centros %}
  							<tr>
  								<td  onclick="cargarCodigoCentro('{{ centro.centro_id }}','{{ centro.nombre_centro }}')"><a class="btn btn-danger remove_fields">
  									<i class=" glyphicon glyphicon-plus icon-white"></i>
  								</a></td>
  								<td>{{ centro.nombre_centro }}</td>
  							</tr >
  							{% endfor %}

  						</tbody>
  					</table>
  				</div>
  				<button type="button" onclick="cerrarCentros()" class="btn btn-danger btn-block">Cerrar <i class=" glyphicon glyphicon-trash icon-white"></i></button>


  			</div>
  		</div>
  	</div>
  </div>

  
   <!-- Modal Proveedor-->
    <div class="modal fade bs-example-modal-lg" id="modal-proveedor">
        <div class="modal-dialog  modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Proveedor</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table2 table-striped" width="100%" id="tabla-proveedor">
                            <thead>
                            <tr>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Ruc</th>
                                <th>Acción</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for proveedor  in proveedores %}
                                <tr>
                                    <td>{{ proveedor.codigo_proveedor }}</td>
                                    <td>{{ proveedor.nombre_proveedor }}</td>
                                    <td>{{ proveedor.ruc }}</td>
                                    <td onclick="cargar_proveedor('{{ proveedor.proveedor_id }}', '{{ proveedor.nombre_proveedor }}')">
                                        <a class="btn btn-inverse remove_fields">
                                            <i class=" glyphicon glyphicon-plus icon-white"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-inverse" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
   
  
  
  {% endblock %}

  {% block javascript %}
  {{ block.super }}
  <!-- ================== BEGIN PAGE LEVEL JS ================== -->
  <script src="{% static 'color_admin/assets/plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
  <script src="{% static 'color_admin/assets/js/form-wizards-validation.demo.min.js' %}"></script>
  <script src="{% static 'color_admin/assets/js/bootstrap-datepicker.js' %}"></script>

<script type="text/javascript">
  $(document).ready(function() {
    
  	$('#id_codigo_asiento').attr('readonly','readonly');
  	$('#id_fecha').datepicker({todayHighlight:true,autoclose:true,format: 'yyyy-mm-dd'});
     	$('#persona_modal').removeAttr('data-target');
        $('#persona_modal').attr('data-target', '#modal-proveedor');
        $('#tabla-proveedor').DataTable();
         actualizarValorTotalFacturas2();   
            	$('#id_fecha').change(
                            function() {
                              
                                 var fecha=$('#id_fecha').val();
                                                  

             $.ajax({
                                    url: '/bancos/movimiento/validarBloqueoPeriodo/',
                                    type: "POST",
                                    data: {fecha: fecha},
                                    dataType: "json",
                                    async:false,
                                   success: function (response) {
                                  // alert(response.length);
                                            if (response.length != 0){
                                                 var mensaje="No se puede ingresar ningun movimiento en este mes debido a que se encuentra bloqueado. Por favor ingrese otra fecha ";
                                                  alert(mensaje);
                                                  $('#id_fecha').val('');
                                                event.preventDefault();
                                               
                                            }else{   
                                               
                                            }
                                            
                                  
                                    
                                    },
                            });
                     
                              }
                              
                              );
              
$.ajax({
                url: "/config/obtenerSecuencial/", // the endpoint
                type : "POST", // http method
                data : { id : 'asiento','csrfmiddlewaretoken': '{{ csrf_token }}'}, 
                success:function(data){                
                	d=new Date();
                	cod=('00' + data).substr(-6);
                	cod='LD-DB' + d.getFullYear() + cod;

                	$('#id_codigo_asiento').val(cod);

                },
                error: function(xhr, ajaxOptions, thrownError){
                	alert( "Escoja una empresa");
                },
            });
  });

  </script>

  <script>
  $(document).ready(function() {
    // App.init();
    $('.table').DataTable();
    FormWizardValidation.init();
  });
  </script>
  <script>
  $(document).ready(function() {
    $('#id_glosa').val('MOVIMIENTO LIBRO DIARIO-DARBAJA ');
  	$('#id_codigo_producto').each(function(){
  		$(this).attr('readonly','readonly');
  	});
  	$('#id_created_by').each(function(){
  		$(this).attr('readonly','readonly');
  	});
  	$('#id_updated_by').each(function(){
  		$(this).attr('readonly','readonly');
  	});
  	$('#id_created_at').each(function(){
  		$(this).attr('readonly','readonly');
  	});
  	$('#id_updated_at').each(function(){
  		$(this).attr('readonly','readonly');
  	});
    actualizarTotal();

       $("#add").click(function(){
            // Obtenemos el numero de filas (td) que tiene la primera columna
            // (tr) del id "tabla"
            var num_recetas=$('#columnas_recetaf').val();
            num_recetas=parseInt(num_recetas)+1;

            var tds=$("#tabla-facturas tr:first td").length;
            // Obtenemos el total de columnas (tr) del id "tabla"
            var trs=$("#tabla-facturas tr").length;
            var nuevaFila=' <tr><td  class="eliminar"><a class="btn btn-danger remove_fields "><i class=" glyphicon glyphicon-trash icon-white"></i></a></td><td>';
             nuevaFila+='<input type="hidden" class="form-control" id="id_detallef'+num_recetas+'" name="id_detallef'+num_recetas+'" value="" readonly="readonly"/>';
            nuevaFila+='<select class="form-control" name="facturas_kits'+num_recetas+'" id="facturas_kits'+num_recetas+'" onchange="actualizarAbono('+num_recetas+')">';
            nuevaFila+='<option value="0"  data-abono="0" data-id="0" data-total="0" data-iva="0" data-subtotal="0">Seleccione</option>'
                                                         {% for f  in facturas_sql %}
              nuevaFila+='<option value="{{ f.0 }}" data-abono="{{ f.6}}" data-id="{{ f.0}}" data-total="{{ f.5}}" data-iva="{{ f.4}}" data-subtotal="{{ f.3}}"   data-totalpagar="{{ f.11}}" data-valorretenido="{{ f.10}}" data-nc="{{ f.12}}"> {{ f.2}}-{{ f.7 }}-{{ f.8 }}|{{ f.9 }}</option>';
                                                        {% endfor %} 
              nuevaFila+='</select>';
              nuevaFila+='</td><td><input type="hidden" id="abono_kits'+num_recetas+'" name="abono_kits'+num_recetas+'" /><div class="input-group"><span class="input-group-addon">$</span>';
              nuevaFila+='<input type="text" class="form-control mask_float" required="required" id="monto_kits'+num_recetas+'" name="monto_kits'+num_recetas+'" onKeyup="actualizarTotalFacturas('+num_recetas+')" value="0" /></div>';
              nuevaFila+='</td><td>';
              nuevaFila+='<input  type="text" class="form-control" id="observacion_kits'+num_recetas+'" name="observacion_kits'+num_recetas+'" value="" /></td></tr>';
                $('#columnas_recetaf').val(num_recetas);
             // for(var i=0;i<tds;i++){
            //     // añadimos las columnas
            //     nuevaFila+="<td>columna "+(i+1)+" Añadida con jquery</td>";
            // }
            // // Añadimos una columna con el numero total de columnas.
            // // Añadimos uno al total, ya que cuando cargamos los valores para la
            // // columna, todavia no esta añadida
            // nuevaFila+="<td>"+(trs+1)+" columnas";
            // nuevaFila+="</tr>";
            $("#tabla-facturas tbody").append(nuevaFila);
             $(".mask_float").maskMoney({thousands:'', decimal:'.', allowZero: true});
          $('select').select2();
          });

         $("#del").click(function(){
            // Obtenemos el total de columnas (tr) del id "tabla"
            var trs=$("#tabla-facturas tr").length;
            if(trs>1)
            {
                // Eliminamos la ultima columna
                $("#tabla-facturas tr:last").remove();
              }

               actualizarTotalFacturas(0);
            });


         $(document).on("click",".eliminar",function(){
            var parent = $(this).parent();
            $(parent).remove();
             actualizarTotalFacturas(0);
        });


  });
function mostrarCuentas(data){
 $('#id_fila_cambiar').val(data);
 $("#modal-dialog-cuenta").modal('toggle');
}
function mostrarCentros(data){
 $('#id_fila_cambiar').val(data);
 $("#modal-dialog-centro").modal('toggle');
}
function cerrarCentros(){
 $("#modal-dialog-centro").modal('toggle');
}
function cerrarCuentas(){
 $("#modal-dialog-cuenta").modal('toggle');
}

function cargarCodigoCuenta(id,nombre){
  var fila=$('#id_fila_cambiar').val();
  $('#id_cuenta_kits'+fila).val(id);
  $('#cuenta_kits'+fila).val(nombre);
  cerrarCuentas();
}
function cargarCodigoCentro(id,nombre){
  var fila=$('#id_fila_cambiar').val();
  $('#id_centro_kits'+fila).val(id);
  $('#centro_kits'+fila).val(nombre);
  cerrarCentros();
}
function actualizarTotal(){
	var num_recetas=$('#columnas_receta').val();
	var totaldebe=0;
	var totalhaber=0;
	var deb=0;
	var hab=0;
	var i;

	var d=document.getElementById('total_debe')
	var h=document.getElementById('total_haber')
	//alert(' BNUM RECETS'+num_recetas);
	for (i = 1; i <= num_recetas; i++) {
    var hab=$('#haber_kits'+i).val();

      if ( $('#haber_kits'+i).length ) {
           hab=hab.replace(/,/g,'.');
      }
    var deb=$('#debe_kits'+i).val();
        if ( $('#debe_kits'+i).length ) {
            deb=deb.replace(/,/g,'.');
        }



		if ($.isNumeric(hab)){
			totalhaber=parseFloat(totalhaber)+parseFloat(hab);
		}
		if ($.isNumeric(deb)){
			totaldebe=parseFloat(totaldebe)+parseFloat(deb);
		}
	}

	totaldebe = totaldebe.toFixed(2);
    totalhaber = totalhaber.toFixed(2);

	if ($.isNumeric(totalhaber)) {
		$('#total_haber').val(totalhaber);
	};
	$('#total_debe').val(totaldebe);
	if (totaldebe!=totalhaber){
		d.setAttribute("aria-invalid", "true");
		h.setAttribute("aria-invalid", "true");
	}else{
		d.setAttribute("aria-invalid", "false");
		h.setAttribute("aria-invalid", "false");
	}

}


         $( "#asiento-form" ).submit(function( event ) {

            total_haber = $('#total_haber').val();
            total_debe =$('#total_debe').val();
           var  monto_real =$('#monto_real').val();

            if(total_haber == total_debe){
                var num_recetas=$('#columnas_receta').val();
                for (i = 1; i <= num_recetas; i++) {
                    if ($('#id_cuenta_kits'+i).val()==""){
                       alert("Faltan cuentas por ingresar.");
                        event.preventDefault();
                        break;
                    }
	            }

            }else{
                alert("Los totales de los asientos deben ser iguales ");
                event.preventDefault();
            }

        });
         function actualizarTotalFacturas(j){
          
          //alert("entro");
           var num_recetas=$('#columnas_recetaf').val();
           
           var debe=$('#total_debe').val();
           var haber=$('#total_haber').val();
          var abono=parseFloat($('#abono_kits'+j).val());
          var m= parseFloat($('#monto_kits'+j).val());
        // alert(m);
       // alert(abono);
          if (abono<m){
            alert("No puede ingresar cantidades mayores a las que le falta a abonar a esta factura de "+(abono));
            $('#monto_kits'+j).val(0);
          }else{
                      var total=0;
                      var cantidad=0;
                      var descuento=0;
                      var porcentaje_descuento=0;
                      var totalidad=0;
                      var i;
                      for (i = 1; i <= num_recetas; i++) {
                
                        if ($('#monto_kits'+i).length){
                            cantidad=$('#monto_kits'+i).val();
                            total=parseFloat(total)+parseFloat(cantidad);
                
                          }
                        
                         
                      }
                                if (debe==haber){
                                   if (total>debe){
                                    alert("Su monto supera al valor del asiento.Revise las cantidades ingresadas");
                                        if(j>0){
                                           $('#monto_kits'+j).val(0);
                                        }
                                   
                                   }
                                }else{
                                  alert("Revise el valor de su asiento");
                                }
                                
                                  $('#total_monto').val(total);
                            
                          }

//alert(debe);
      actualizarValorTotalFacturas();
         }
         
         function actualizarAbono(j){
          
        //alert("entro");
          var selected = $('#facturas_kits'+j).find('option:selected');
        
         if (selected.val() != "") {
             var id = selected.data('id');
            var ab = selected.data('abono');
            var valor_retenido = selected.data('valorretenido');
            var nc = selected.data('nc');
            if (ab=="" || ab=="None"){
               ab=0;
            }else{
             
            }
            
            
            
            
             if (valor_retenido=="" || valor_retenido=="None" || valor_retenido=="undefined"){
               valor_retenido=0;
            }else{
             
            }
            
            if (nc=="" || nc=="None" || nc=="undefined"){
               nc=0;
            }else{
             
            }
            var total = selected.data('total');
            
          // alert(valor_retenido);
           // alert(total);
            //alert(ab);
           // var abono=parseFloat(total)-parseFloat(valor_retenido)-parseFloat(ab)-parseFloat(nc);
            var abono=parseFloat(total)-parseFloat(valor_retenido)-parseFloat(nc);
           // alert(abono);
            if (abono){
              abono=parseFloat(abono).toFixed(2);
              $('#abono_kits'+j).val(abono);
               $('#monto_kits'+j).val(abono);
            }else{
              $('#abono_kits'+j).val(0);
               $('#monto_kits'+j).val(0);
            }
            
         }
         actualizarValorTotalFacturas();
           
         }

  function actualizarValorTotalFacturas2(){
          
          //alert("entro");
           var num_recetas=$('#columnas_recetaf').val();
           
           var debe=$('#total_debe').val();
           var haber=$('#total_haber').val();
         
        // alert(m);
       // alert(abono);
       
                      var total=0;
                      var cantidad=0;
                      var descuento=0;
                      var porcentaje_descuento=0;
                      var totalidad=0;
                      var i;
                      for (i = 1; i <= num_recetas; i++) {
                
                        if ($('#monto_kits'+i).length){
                            cantidad=$('#monto_kits'+i).val();
                            total=parseFloat(total)+parseFloat(cantidad);
                
                          }
                        
                         
                      }
                           
                                  $('#total_monto').val(total);
                            

//alert(debe);
      
         }
   function actualizarValorTotalFacturas(){
          
          //alert("entro");
           var num_recetas=$('#columnas_recetaf').val();
           
           var debe=$('#total_debe').val();
           var haber=$('#total_haber').val();
         
        // alert(m);
       // alert(abono);
       
                      var total=0;
                      var cantidad=0;
                      var descuento=0;
                      var porcentaje_descuento=0;
                      var totalidad=0;
                      var i;
                      for (i = 1; i <= num_recetas; i++) {
                
                        if ($('#monto_kits'+i).length){
                            cantidad=$('#monto_kits'+i).val();
                            total=parseFloat(total)+parseFloat(cantidad);
                
                          }
                        
                         
                      }
                           
                                  $('#total_monto').val(total);
                            
                       relacionarfactura(total);

//alert(debe);
      
         }
         
         
         function relacionarfactura(total){
          var num_recetas=$('#columnas_receta').val();
	

	//alert(' BNUM RECETS'+num_recetas);
                      for (i = 1; i <= num_recetas; i++) {
                              var hab=$('#id_cuenta_kits'+i).val();
                              var haber=$('#haber_kits'+i).val();
                              var debe=$('#debe_kits'+i).val();

              
                                if ( hab=='678' && haber==0 && debe==0) {
                                    $('#debe_kits'+i).val(total);
                                }
              
                       }
                       
         actualizarTotal();
         
         }
      
      
      $("#add2").click(function(){
            // Obtenemos el numero de filas (td) que tiene la primera columna
            // (tr) del id "tabla"
            var num_recetas=$('#columnas_receta').val();
            num_recetas=parseInt(num_recetas)+1;

            var tds=$("#tabla tr:first td").length;
            // Obtenemos el total de columnas (tr) del id "tabla"
            var trs=$("#tabla tr").length;
            var nuevaFila='<tr><td  class="eliminar2"><a class="btn btn-danger remove_fields "><i class=" glyphicon glyphicon-trash icon-white"></i></a></td>';
            nuevaFila+='<td><input type="hidden" required="required" class="form-control" id="id_cuenta_kits'+num_recetas+'" name="id_cuenta_kits'+num_recetas+'"> ';
            nuevaFila+='<div class="input-group add-on"><input type="text" required="required" class="form-control" id="cuenta_kits'+num_recetas+'" name="cuenta_kits'+num_recetas+'" onfocus="mostrarCuentas('+num_recetas+')" readonly="readonly"><div class="input-group-btn"> <a class="btn btn-inverse" data-toggle="modal" data-target=".bd-example-modal-lg" onclick="mostrarCuentas('+num_recetas+')"><i class=" glyphicon glyphicon-search icon-white"></i></a></div></td>';
            nuevaFila+='<td><div class="input-group"><span class="input-group-addon">$</span><input class="form-control mask_float" required="required" id="debe_kits'+num_recetas+'" name="debe_kits'+num_recetas+'" onkeyup="actualizarTotal()"  title="Debe" value="0.00"></td></div>';
            nuevaFila+='<td><div class="input-group"><span class="input-group-addon">$</span><input class="form-control mask_float" required="required" id="haber_kits'+num_recetas+'" name="haber_kits'+num_recetas+'" onkeyup="actualizarTotal()"  title="Haber" value="0.00"></td></div>';
            nuevaFila+='<td><input type="hidden" class="form-control" id="id_centro_kits'+num_recetas+'" name="id_centro_kits'+num_recetas+'" value="{{centros_defecto.centro_id }}"> ';
            nuevaFila+='<div class="input-group add-on"><input type="text" required="required" class="form-control" id="centro_kits'+num_recetas+'" value="{{centros_defecto.nombre_centro }}" name="centro_kits'+num_recetas+'" onfocus="mostrarCentros('+num_recetas+')" readonly="readonly"><div class="input-group-btn"><a class="btn btn-inverse" data-toggle="modal" data-target=".bd-example-modal-lg" onclick="mostrarCentros('+num_recetas+')"> <i class=" glyphicon glyphicon-search icon-white"></i></a></div></td>';
             nuevaFila+='<td><input type="text"  class="form-control" id="concepto_kits'+num_recetas+'" name="concepto_kits'+num_recetas+'"> ';
            nuevaFila+='</tr>';
            $('#columnas_receta').val(num_recetas);
             // for(var i=0;i<tds;i++){
            //     // añadimos las columnas
            //     nuevaFila+="<td>columna "+(i+1)+" Añadida con jquery</td>";
            // }
            // // Añadimos una columna con el numero total de columnas.
            // // Añadimos uno al total, ya que cuando cargamos los valores para la
            // // columna, todavia no esta añadida
            // nuevaFila+="<td>"+(trs+1)+" columnas";
            // nuevaFila+="</tr>";
            $("#tabla").append(nuevaFila);
             $(".mask_float").maskMoney({thousands:'', decimal:'.', allowZero: true});

          });

          $(document).on("click",".eliminar2",function(){
            var parent = $(this).parent();
            $(parent).remove();
             actualizarTotalFacturas(0);
                          actualizarTotal();

        });
          
          
 function cargar_proveedor(id, descripcion) {
            $('input[name="persona_id"]').val(id);
            $('input[name="persona"]').val(descripcion);
            $('input[name="paguese_a"]').val(descripcion);
            $("#modal-proveedor").modal('toggle');
            //cargar_factura(id); 
            //agregar_asiento();
        }

         function actualizar_descripcion(){
    var descrip = '';
            descrip=$('#descripcion').val() ;
            	var num_recetas=$('#columnas_receta').val();
	for (i = 1; i <= num_recetas; i++) {
  
              $('#concepto_kits'+i).val(descrip);

  }
  

}
      
</script>
{% endblock %}                                                                                                                                                                                                                                                                