{% extends "login/base-list.html" %}
{% load extra_filters %}

{% load staticfiles %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block section_title %}Asientos Contables    {% endblock %}
{% block section_subtitle %}
<br />
 <div class="email-btn-row hidden-xs">
                        <a href="{% url 'asiento-create' %}" class="btn btn-sm btn-success"><i class="fa fa-plus m-r-5"></i> Ingresar Asiento</a>
                    </div>

                    {% endblock %}

{% block content %}
				<!-- begin col-12 -->
				<div class="col-md-12">
					<!-- begin panel -->
					<div class="panel panel-inverse">
						<div class="panel-heading">
							<div class="panel-heading-btn">
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
							</div>
							<h4 class="panel-title"></h4>
						</div>
						<div class="panel-body">
							<div class="table-responsive">
								<table id="data-asientos" class="table table-striped table-bordered">
									<thead>
								<tr>
								<th>Código</th>
								<th>Fecha</th>
								<th>Glosa</th>
								<th>Descripcion del movimiento</th>
								<th>Cliente/Proveedor</th>
								<th>No.Movimiento</th>
								<th>Modulo</th>
								<th>Estado</th>	
								<th>Acción</th>
								</tr>
								</thead>
								<!--<tbody>
								{% for r  in ro %}

								<tr>
								<td> {{ r.1 }}</td>
								<td>{{ r.2 | date:'Y-m-d' }}</td>
								<td>{{ r.3 }}</td>
								<td>{{ r.11 | default_if_none:""}}</td>
								<td>{{ r.12 | default_if_none:""}}</td>
								<td>{{ r.14 | default_if_none:""}}</td>
								<td>
								{% if r.8 %}
								Anulado
								     {% else %}
							                                 Activo
								 {% endif  %}</td>
								<td>
								{% if r.8%}
							
								     {% else %}
							                                 <a href="{% url 'asiento-update' r.0  %}">
								<button type="button" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i>
								</button>
								</a>
								 {% endif  %}	
									
									<!--<a href="{% url 'asiento-delete-pk' r.0 %}" onclick="return confirm('¿Está seguro de borrar este asiento?')">-->
									<!--<button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i>-->
														<!--</button>-->
										<!--</a>-->
								<!-- <a href="{% url 'asiento-consultar' r.0  %}">
								<button type="button" class="btn btn-default btn-xs">
									<i class="fa fa-eye"></i>
								</button>
								</a>
								 {% if r.8%}
							 <a href="{% url 'asiento-imprimir' r.0  %}" >
								<button type="button" class="btn btn-default btn-xs">
									<i class="fa fa-print"></i>
								</button>
								</a>
								     {% else %}
								  <a href="{% url 'asiento-imprimir' r.0  %}" style="top: 2px; position: relative;">
								<button type="button" class="btn btn-default btn-xs">
									<i class="fa fa-print"></i>
								</button>
								</a>
								  {% if r.14 %}
								   {% else %}
								  <a href="{% url 'asiento-eliminar-pk' r.0  %}" style="top: 2px; position: relative;">
								<button type="button" class="btn btn-default btn-xs"><i class="fa fa-trash"></i>
								</button>
								</a>
								 
								 {% endif  %}
								 {% endif  %}
								</td>
											</tr >

										{% endfor %}
									</tbody>
								
								
				-->				
								</table>
							</div>
</div>



						</div>
					</div>
					<!-- end panel -->

					<!-- #modal-dialog -->

				</div>
				<!-- end col-12 -->
{% endblock %}

{% block javascript %}
{{ block.super }}


	<script type="text/javascript">

 $(document).ready(function () {
            $('#data-asientos').DataTable({
                 "processing": true,
                 "serverSide": true,
                 "ajax": "/contabilidad/asiento/api",
                 "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                 dom: 'Blfrtip',
	buttons: [
	    'csv', 'excel', 'pdf'
	]
                  
            });
        });
 
	function detalledeCompra(id){
          $.ajax({
                url: "/config/obtenerDetalleCompra/", // the endpoint
                type : "POST", // http method
                data : { id : id,'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success:function(data){

                  $("#detalle tr").remove();

                  $("#detalle").append(data);
                },
                error: function(){

                },
              });
    }
	</script>
	{% if form.errors or form_mode == "update" %}
	<script type="text/javascript">
		$( document ).ready(function() {
		    $(".modal").modal('toggle');
		});
	</script>

	{% endif %}
{% endblock %}
