{% extends "login/base_nuevo.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
    {{ block.super }}
    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="{% static 'color_admin/assets/plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet"/>
    <!-- ================== END PAGE LEVEL STYLE ================== -->
{% endblock %}

{% block section_title %}Requisición{% endblock %}
{% block section_subtitle %}Por favor diligencie el siguiente formulario OC{% endblock %}
{% block content %}
    <style>
        .panel-border {
            border: 1px solid #ddd !important
        }

        .form-ajust .form-group {
            margin-bottom: 0px !important
        }

        input[type="text"], select, input[type="number"] {

            border: 1px solid #ccd0d4;
            border-radius: 3px;
            box-shadow: none;
            font-size: 12px;
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
        }

        .table2 {
            width: 100%;
            max-width: 100%;
            margin-bottom: 20px;
            display: table
        }

        .table2 > tbody > tr > td, .table2 > tbody > tr > th, .table2 > tfoot > tr > td, .table2 > tfoot > tr > th, .table2 > thead > tr > td, .table2 > thead > tr > th {
            border-color: #e2e7eb;
            padding: 5px 5px;
        }

        .btn {
            padding: 4px 4px;
        }
    </style>


    <form method="post" data-parsley-validate="true" name="form-wizard" enctype="multipart/form-data"> {% csrf_token %}
        {{ ordencompra_form.title.errors }}
        <!-- begin row -->
        <div class="row">
            <!-- begin col-6 -->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Requisición</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div>

                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#principales"
                                                                              aria-controls="principales" role="tab"
                                                                              data-toggle="tab">Documento</a></li>

                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="principales">
                                        <!--INICIO ORDEN PRODUCCION-->

                                        <div class="row">
                                            <div class="col-md-7">
                                                <div class="panel panel-default panel-border">
                                                    <div class="panel-heading">Documento</div>
                                                    <div class="panel-body">

                                                        <div class="col-md-4">
                                                            <label for="exampleInputName2">Codigo</label>
                                                            {% bootstrap_field ordenegreso_form.codigo show_label=False %}

                                                        </div>
                                                        <div class="col-md-8">
                                                            <label for="exampleInputEmail2">Fecha</label>
                                                            {% bootstrap_field ordenegreso_form.fecha show_label=False %}
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="panel panel-default panel-border">
                                                    <div class="panel-heading">Estado</div>
                                                    <div class="panel-body">

                                                        <div class="form-group text-center">
                                                            <label class="checkbox-inline">
                                                                <input type="checkbox" id="inlineCheckbox1"
                                                                       value="option1"> Eliminado
                                                            </label>
                                                            <label class="checkbox-inline">
                                                                <input type="checkbox" id="inlineCheckbox2"
                                                                       value="option2"> Impreso
                                                            </label>
                                                            <label class="checkbox-inline">
                                                                <input type="checkbox" id="inlineCheckbox2"
                                                                       value="option2"> Aprobado
                                                            </label>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="panel panel-default panel-border">
                                                    <div class="panel-heading">Datos Principales</div>
                                                    <div class="panel-body">

                                                        <div class="form-horizontal form-ajust">
                                                            <div class="form-group">
                                                                <label for="inputEmail3" class="col-sm-3 control-label">Concepto</label>

                                                                <div class="col-sm-6">
                                                                    {% bootstrap_field ordenegreso_form.concepto_orden_egreso show_label=False %}

                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="inputEmail332"
                                                                       class="col-sm-3 control-label">Bodega
                                                                    interna</label>
                                                                <div class="col-sm-6">
                                                                    {% bootstrap_field ordenegreso_form.bodega show_label=False %}
                                                                </div>

                                                            </div>
                                                            <!--  <div class="form-group">
                                                                         <label for="fecha" class="col-sm-3 control-label">Fecha de egreso</label>
                                                                         <div class="col-sm-6">
                                                    {% bootstrap_field ordenegreso_form.fecha show_label=False %}
                                                                         
                                                                    </div>
                                                                    </div>-->
                                                            <!--<div class="form-group">
                                                                         <label for="fecha" class="col-sm-3 control-label">Orden Produccion</label>
                                                                         <div class="col-sm-6">
                                                    {% bootstrap_field ordenegreso_form.orden_produccion_codigo show_label=False %}
                                                     <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Orden Produccion</button>

                                                                    </div>

                                                                      </div>-->
                                                            <div class="form-group">
                                                                <label for="fecha" class="col-sm-3 control-label">Comentario</label>
                                                                <div class="col-sm-6">

                                                                    {% bootstrap_field ordenegreso_form.comentario show_label=False %}

                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="panel panel-default panel-border">
                                                    <!-- Default panel contents -->
                                                    <div class="panel-heading">Productos</div>
                                                    <div class="panel-body">

                                                    </div>

                                                    <!-- Table -->
                                                    <table class="table2 table-striped table-bordered" id="tabla"
                                                           style="width:100%">
                                                        <tr>
                                                            <th></th>
                                                            <th style="width:150px">Area</th>
                                                            <th class="column-op" style="width: 50px;">OP</th>
                                                            <th style="width:88px">Comp.</th>
                                                            <th style="width:193px">Nombre</th>
                                                            <th style="width:80px">Cant.</th>
                                                            <th style="width:60px">Un.</th>
                                                            <th style="width:75px">Costo</th>
                                                            <th style="width:75px">Subtotal</th>
                                                        </tr>
                                                        <tr>
                                                            <td class="eliminar"><a
                                                                    class="btn btn-danger remove_fields">
                                                                <i class=" glyphicon glyphicon-trash icon-white"></i>
                                                            </a>
                                                            </td>

                                                            <td>
                                                                <select name="areas_kits1" id="areas_kits1"
                                                                        class="form-control">
                                                                    {% for am  in areas %}
                                                                        <option value="{{ am.id }}"> {{ am.descripcion }}</option>
                                                                    {% endfor %}
                                                                </select>

                                                            </td>
                                                            <td>
                                                                <!--                                                       <input type="checkbox" id="op_kits1" name="op_kits1"  onclick="mostrar_subop(1)"/>
                                                                -->
                                                                <input type="hidden"
                                                                       class="form-control op_detalle_valor"
                                                                       id="subopid_kits1" name="subopid_kits1"/>
                                                                <input type="hidden" class="form-control"
                                                                       id="subopcantidad_kits1"
                                                                       name="subopcantidad_kits1"/>

                                                                <input type="text"
                                                                       class="form-control op_detalle_mostrar op_detalle_valor"
                                                                       id="subop_kits1" name="subop_kits1"
                                                                       onfocus="mostrarSubOp(1)" style="display:none"
                                                                       readonly="readonly">

                                                            </td>
                                                            <td>
                                                                <input type="hidden" class="form-control" id="id_kits1"
                                                                       name="id_kits1"/>
                                                                <input required="required" type="text"
                                                                       class="form-control" id="codigo_kits1"
                                                                       name="codigo_kits1" onfocus="mostrarProductos(1)"
                                                                       readonly="readonly"></td>
                                                            <td><span id="nombre_kits1"></span></td>
                                                            <td><input type="text" class="form-control"
                                                                       required="required" id="cantidad_kits1"
                                                                       name="cantidad_kits1"
                                                                       onkeyup="actualizarCosto(1)"></td>
                                                            <td><input type="text" class="form-control"
                                                                       id="medida_kits1" name="medida_kits1"
                                                                       readonly="readonly"></td>
                                                            <td><input type="text" class="form-control" id="costo_kits1"
                                                                       name="costo_kits1" readonly="readonly"></td>
                                                            <td><input type="text" class="form-control" id="total_kits1"
                                                                       name="total_kits1" readonly="readonly"><input
                                                                    type="hidden" class="form-control"
                                                                    id="existencia_kits1" name="existencia_kits1"></td>
                                                        </tr>


                                                        <tfoot>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <th>Total:</th>
                                                        <th>
                                                            <input type="text" class="form-control" id="total"
                                                                   name="total" required="required"
                                                                   readonly="readonly"/>
                                                        </th>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>

                                            <p class="text-center">
                                                <button type="button" class="btn btn-primary btn-lg" id="add">Agregar
                                                </button>


                                            </p>
                                        </div>
                                    </div>

                                </div>


                                <!--FIN ORDEN PRODUCCION-->
                            </div>


                        </div>

                    </div>
                </div>
                <!--      <div class="col-md-2">
                         <div class="row">

                 <p class="text-center">
                 <button type="button" class="btn btn-success btn-block">Agregar <i class=" glyphicon glyphicon-plus icon-white"></i></button>
                 </p>
                 <p class="text-center">
                 <button type="button" class="btn btn-danger btn-block">Eliminar <i class=" glyphicon glyphicon-trash icon-white"></i></button>
                 </p>
                 <p class="text-center">
                 <button type="button" class="btn btn-default btn-block">Buscar <i class=" glyphicon glyphicon-search icon-white"></i></button>
                 </p>
                 <p class="text-center">
                 <button type="button" class="btn btn-default btn-block">Imprimir <i class=" glyphicon glyphicon-print icon-white"></i></button>
                 </p>

                         </div>

                     </div> -->
            </div>
        </div>
        </div>
        </div>

        <p class="text-center">
            <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-cog"></i> Guardar</button>
            <a class="default btn btn-link" href="/ordenEgreso/OrdenEgreso/">
                <button type="button" class="btn btn-primary btn-lg"> Regresar</button>
            </a>
        </p>

        <!--  <p class="text-right m-b-0">
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-cog"></i> Guardar</button>
                                        </p>
                                        <a class="default btn btn-link" href="/inventario/producto">
              <i class="fa fa-times"></i> Regresar
            </a> -->
        <input type="hidden" name="columnas_receta" id="columnas_receta" value="1"/>

        <input type="hidden" name="id_fila_cambiar" id="id_fila_cambiar" value=""/>


    </form>
    <div class="modal fade bs-example-modal-sm" id="productos">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" id="tabla">
                            <thead>
                            <tr>
                                <td></td>
                                <th>Codigo</th>
                                <th>Nombre</th>
                                <th>Stock Actual</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for producto  in productos_bodega %}
                                <tr>
                                    <td onclick="cargarCodigoProducto('{{ producto.0 }}','{{ producto.1 }}','{{ producto.2 }}','{{ producto.3 }}','{{ producto.4 }}','{{ producto.5 }}','{{ producto.6 }}')">
                                        <a class="btn btn-danger remove_fields">
                                            <i class=" glyphicon glyphicon-plus icon-white"></i>
                                        </a></td>
                                    <td>{{ producto.1 }}</td>
                                    <td>{{ producto.2 }}</td>
                                    <td>{{ producto.6 }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <button type="button" onclick="cerrar()" class="btn btn-danger btn-block">Cerrar <i
                            class=" glyphicon glyphicon-trash icon-white"></i></button>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" id="tabla3">
                            <thead>
                            <tr>
                                <td></td>
                                <th>Codigo</th>
                                <th>Nombre</th>
                                <th>Cantidad</th>
                                <th>Area</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for f  in ordenproduccionreceta %}
                                <tr>
                                    <td onclick="cargarCodigoProforma('{{ f.2 }}')">
                                        <a class="btn btn-danger remove_fields">
                                            <i class=" glyphicon glyphicon-plus icon-white"></i>
                                        </a></td>
                                    <td>{{ f.1 }}-{{ f.2 }}</td>
                                    <td>{{ f.5 }}</td>
                                    <td>{{ f.6 }}</td>
                                    <td>{{ f.8 }}</td>

                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <button type="button" onclick="cerrarProforma()" class="btn btn-danger btn-block">Cerrar <i
                            class=" glyphicon glyphicon-trash icon-white"></i></button>

                </div>
            </div>
        </div>
    </div>
    <div id="dlgEgreso" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <button type="button" onclick="agregarTodos()" class="btn btn-danger btn-block"
                        style="float: left;width: 14%;padding: 2px;margin-top: 31px;">Agregar Todos <i
                        class=" glyphicon glyphicon-plus icon-white"></i></button>

                <div id="contenido_dlgEgreso">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="{% static 'color_admin/assets/plugins/parsley/dist/parsley.js' %}"></script>
    <script src="{% static 'color_admin/assets/plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
    <script src="{% static 'color_admin/assets/js/form-wizards-validation.demo.min.js' %}"></script>
    <script src="{% static 'color_admin/assets/js/apps.min.js' %}"></script>
    <script src="{% static 'color_admin/assets/plugins/DataTables-1.9.4/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'color_admin/assets/plugins/DataTables-1.9.4/js/data-table.js' %}"></script>

    <!-- <script src="{% static 'color_admin/assets/plugins/parsley/dist/parsley.js' %}"></script>-->
    <!-- <script src="{% static 'color_admin/assets/plugins/bootstrap-wizard/js/bwizard.js' %}"></script>-->
    <!-- <script src="{% static 'color_admin/assets/js/form-wizards-validation.demo.min.js' %}"></script>-->
    <!-- <script src="{% static 'color_admin/assets/js/apps.min.js' %}"></script>-->
    <script src="{% static 'color_admin/assets/js/bootstrap-datepicker.js' %}"></script>

    <script>
        $(document).ready(function () {
            // App.init();
            $('.table').DataTable();
            FormWizardValidation.init();
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#id_fecha').attr('readonly', 'readonly');
            $('input[name="fecha"]').datepicker({todayHighlight: true, autoclose: true, format: 'yyyy-mm-dd'});

            $('#id_bodega').attr('readonly', 'readonly');
            $('#id_bodega option[value=1]').attr('selected', 'selected');
            $('#id_bodega').select2().select2("val", "1");
            $('#id_nro_compra').each(function () {
                $(this).attr('readonly', 'readonly');
            });
            $.ajax({
                url: "/config/obtenerSecuencial/", // the endpoint
                type: "POST", // http method
                data: {id: 'ordenegreso', 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function (data) {
                    $('#id_codigo').val(data);

                },
                error: function () {
                    alert("Escoja una empresa");
                },
            });
        });

    </script>
    <script>
        $(document).ready(function () {
            $('#id_codigo').each(function () {
                $(this).attr('readonly', 'readonly');
            });
            $('#id_created_by').each(function () {
                $(this).attr('readonly', 'readonly');
            });
            $('#id_updated_by').each(function () {
                $(this).attr('readonly', 'readonly');
            });
            $('#id_created_at').each(function () {
                $(this).attr('readonly', 'readonly');
            });
            $('#id_updated_at').each(function () {
                $(this).attr('readonly', 'readonly');
            });

            $('#id_concepto_orden_egreso').change(
                function () {
                    var concepto_id = $('#id_concepto_orden_egreso').val();
                    var concepto_op_id ={{ concepto.id}};
                    if (concepto_id == concepto_op_id) {
                        //alert('entro');
                        $(".op_detalle_mostrar").css("display", "block");
                        $(".column-op").css("width", "110px");
                        $(".op_detalle_valor").val("");

                    } else {
                        $(".op_detalle_mostrar").css("display", "none");
                        $(".column-op").css("width", "50px");
                    }
                });

            var codigo_producto = $('#id_codigo').val();
            //alert(codigo_producto);
            if (codigo_producto == "") {
                $.ajax({
                    url: "/config/obtenerSecuencial/", // the endpoint
                    type: "POST", // http method
                    data: {id: 'compraslocales', 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    success: function (data) {
                        //$('#id_codigo').val(data);

                    },
                    error: function () {

                    },
                });
            }
        });

        function cerrarProforma() {
            $(".bs-example-modal-lg").modal('toggle');
        }

        function mostrarProductos(data) {
            $('#id_fila_cambiar').val(data);
            $("#productos").modal('toggle');
            //cerrarProforma();
        }

        function cerrar() {
            $("#productos").modal('toggle');
            //  cerrarProforma();

        }

        function cargarCodigoProforma(cod) {
            $('#id_orden_produccion_codigo').val(cod);
            cerrarProforma();
        }

        function cargarCodigoProducto(id, codigo, descripcion, medida, costo, unidad_medida, existencia) {
            var fila = $('#id_fila_cambiar').val();
            $('#id_kits' + fila).val(id);
            costo = costo.toString().replace(/\,/g, '.');
            //alert("Cargar Producto");
            //alert(existencia);
            if (existencia <= 0) {
                alert('El producto escogido no posee ninguna unidad en bodega');

            } else {
                $('#codigo_kits' + fila).val(codigo);
                $('#nombre_kits' + fila).html(descripcion);
                $('#medida_kits' + fila).val(unidad_medida);
                if (costo == 'None') {
                    $('#costo_kits' + fila).val('0');
                } else {
                    $('#costo_kits' + fila).val(costo);
                }

                $('#total_kits' + fila).val('');
                $('#existencia_kits' + fila).val(existencia);
                $('#cantidad_kits' + fila).val('');
                cerrar();
            }
        }

        function actualizarCosto(data) {
            var cantidad = $('#cantidad_kits' + data).val();
            var costo = $('#costo_kits' + data).val();
            var medida = $('#medida_kits' + data).val();
            var existencia = $('#existencia_kits' + data).val();
            var cantidad_ingresada = $('#subopcantidad_kits' + data).val();
            // alert(select_finalizar);
            var concepto_id = $('#id_concepto_orden_egreso').val();
            var concepto_op_id ={{ concepto.id}};
            var sku = $('#codigo_kits' + data).val();
            var cod_op = $('#subop_kits' + data).val();

                //alert(sku);
                //alert(cod_op);

            if (concepto_id == concepto_op_id && cod_op != "") {
                if (parseFloat(cantidad) > parseFloat(cantidad_ingresada)) {
                    alert('No Puede Ingresar Esta Cantidad. Supera la Cantidad a Despachar: ' + cantidad_ingresada);
                    $('#cantidad_kits' + data).val('');
                    $('#total_kits' + data).val('');
                    actualizarTotal();
                } else {
                    var valor = parseFloat(parseFloat(cantidad) * parseFloat(costo)).toFixed(2);
                    $('#total_kits' + data).val(valor);

                    if (cantidad==0){
                        $('#cantidad_kits' + data).val('');
                    }
                    actualizarTotal();
                }
            } else {
                if (parseFloat(existencia) < parseFloat(cantidad)) {

                    alert('No Puede Ingresar Esta Cantidad, En Bodega Existen solo: ' + existencia + ' Unidades ');
                    $('#cantidad_kits' + data).val('');
                    $('#total_kits' + data).val('');
                    actualizarTotal();
                } else {
                    var valor = parseFloat(parseFloat(cantidad) * parseFloat(costo)).toFixed(2);

                    $('#total_kits' + data).val(valor);
                    if (cantidad==0){
                        $('#cantidad_kits' + data).val('');
                    }

                    actualizarTotal();
                }
            }
        }

        function actualizarTotal() {
            var num_recetas = $('#columnas_receta').val();
            var total = 0;
            var cantidad = 0;
            var i;
            //alert(' BNUM RECETS'+num_recetas);
            for (i = 1; i <= num_recetas; i++) {

                if ($('#total_kits' + i).length) {
                    cantidad = $('#total_kits' + i).val();
                    total = parseFloat(total) + parseFloat(cantidad);
                }
            }

            $('#total').val(total);
            if (isNaN(total)){
                $('#total').val('');
            }

            if (total==0){
                $('#total').val('');
            }

            //alert(total);
        }

        function mostrarSubOp(data) {

            var fila = data;
            var areas = $('#areas_kits' + fila).val();
            var parametros = {
                'fila': fila,
                'areas': areas,
                'csrfmiddlewaretoken': '{{ csrf_token }}'

            }
            $.ajax({
                url: "/subordenproduccion/subordenproduccion/consultar_subop_receta",
                type: "POST",
                async: true,
                data: parametros,
                success: function (data) {
                    $('#contenido_dlgEgreso').html(data);
                    $('#tabla2').DataTable();

                },
                complete: function () {
                }
            });


            $('#dlgEgreso').modal();
            $('#tabla2').DataTable();


        }

        function mostrar_subop(data) {
            var select_finalizar = $("#op_kits" + data).prop('checked');
            if (select_finalizar) {
                $("#subop_kits" + data).css("display", "block");
            } else {
                $("#subop_kits" + data).css("display", "none");
                $('#codigo_kits' + fila).val('');
                $('#nombre_kits' + fila).append('');
                $('#medida_kits' + fila).val('');
                $('#costo_kits' + fila).val('');
                $('#total_kits' + fila).val('');
                $('#cantidad_kits' + fila).val('');
                //$('#cantidad_kits'+fila).val('');
                $('#subop_kits' + fila).val('');
                $('#subopid_kits' + fila).val('');

            }
        }

        /*Funcion par cargar los producto y validar */
        function cargarCodigoProductoOP(id, codigo, descripcion, medida, costo, subop, fila, top, op, area, egresos, ingresos, cantidad) {
            //var fila=$('#id_fila_cambiar').val();

            costo = costo.toString().replace(/\,/g, '.');
            var orden_produccion = top + '-' + op;
            var id_tabla = 0;

            //alert("Cargar OP ");
            //alert(cantidad);
            for (i = 1; i <= fila; i++) {
                var id_existe = $('#subopid_kits' + i).val();
                //alert(id_existe);
                //alert(id);
                if (id_existe == subop) {
                    id_tabla = 1;
                    var orden_produccion = top + '-' + op;
                    id_mensaje = "En la " + orden_produccion + " | " + codigo + "-" + descripcion + " ya se encuentra agregado en la tabla";
                    //alert("entro");
                    //code
                }
            }

            if (id_tabla == 1) {
                alert(id_mensaje);
                //alert("entro");
                //code
            } else {
                $('#id_kits' + fila).val(id);
                $('#codigo_kits' + fila).val(codigo);
                $('#nombre_kits' + fila).html(descripcion);
                $('#medida_kits' + fila).val(medida);
                $('#costo_kits' + fila).val(costo);
                $('#total_kits' + fila).val('');
                $('#cantidad_kits' + fila).val('');
                //$('#cantidad_kits'+fila).val('');
                $('#subop_kits' + fila).val(orden_produccion);
                $('#subopid_kits' + fila).val(subop);
                if (egresos == 'None' || egresos == '') {
                    egresos = 0;
                }
                //alert(egresos);
                if (cantidad == 'None' || cantidad == '') {
                    cantidad = 0;
                }
                //alert(cantidad);
                if (ingresos == 'None' || ingresos == '') {
                    ingresos = 0;
                }
                //alert(ingresos);
                total_cantidad = cantidad - egresos


                $('#subopcantidad_kits' + fila).val(total_cantidad);
                $('#dlgEgreso').modal('toggle');

            }

        }


    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            /**
             * Funcion para añadir una nueva columna en la tabla
             */
            $("#add").click(function () {
                // Obtenemos el numero de filas (td) que tiene la primera columna
                // (tr) del id "tabla"
                var num_recetas = $('#columnas_receta').val();
                num_recetas = parseInt(num_recetas) + 1;

                var tds = $("#tabla tr:first td").length;
                // Obtenemos el total de columnas (tr) del id "tabla"
                var trs = $("#tabla tr").length;
                var nuevaFila = '<tr><td  class="eliminar"><a class="btn btn-danger remove_fields "><i class=" glyphicon glyphicon-trash icon-white"></i></a></td>';
                nuevaFila += '<td><select class="form-control" id="areas_kits' + num_recetas + '" name="areas_kits' + num_recetas + '" > ';
                {% for am  in areas %}
                    nuevaFila += '<option value="{{ am.id }}"> {{ am.descripcion }}</option>';

                {% endfor %}
                nuevaFila += '</select></td>';
                nuevaFila += '<td>';
                nuevaFila += '<input type="hidden" class="form-control" id="subopcantidad_kits' + num_recetas + '" name="subopcantidad_kits' + num_recetas + '"/>';
                nuevaFila += '<input type="hidden" class="form-control op_detalle_valor" id="subopid_kits' + num_recetas + '" name="subopid_kits' + num_recetas + '"/>';
                //nuevaFila+='<input type="checkbox" id="op_kits'+num_recetas+'" name="op_kits'+num_recetas+'"  onclick="mostrar_subop('+num_recetas+')"/>';
                var concepto_id = $('#id_concepto_orden_egreso').val();
                var concepto_op_id ={{ concepto.id}};
                if (concepto_id == concepto_op_id) {
                    nuevaFila += '<input  type="text" class="form-control op_detalle_mostrar op_detalle_valor" id="subop_kits' + num_recetas + '" name="subop_kits' + num_recetas + '" onfocus="mostrarSubOp(' + num_recetas + ')"  readonly="readonly"></td>';
                } else {
                    nuevaFila += '<input  type="text" class="form-control op_detalle_mostrar op_detalle_valor" id="subop_kits' + num_recetas + '" name="subop_kits' + num_recetas + '" onfocus="mostrarSubOp(' + num_recetas + ')"  style="display:none" readonly="readonly"></td>';
                }
                nuevaFila += '<td><input type="hidden" class="form-control" id="id_kits' + num_recetas + '" name="id_kits' + num_recetas + '"> ';
                nuevaFila += '<input type="text" required="required" class="form-control" id="codigo_kits' + num_recetas + '" name="codigo_kits' + num_recetas + '" onfocus="mostrarProductos(' + num_recetas + ')" readonly="readonly"></td>';
                nuevaFila += '<td><span  id="nombre_kits' + num_recetas + '" name="nombre_kits' + num_recetas + '" ></span></td>';
                nuevaFila += '<td><input type="text" class="form-control" required="required" id="cantidad_kits' + num_recetas + '" name="cantidad_kits' + num_recetas + '" onkeyup="actualizarCosto(' + num_recetas + ')"></td>';
                nuevaFila += '<td><input type="text" class="form-control" id="medida_kits' + num_recetas + '" name="medida_kits' + num_recetas + '" readonly="readonly"></td>';
                nuevaFila += '<td><input type="text" class="form-control" id="costo_kits' + num_recetas + '" name="costo_kits' + num_recetas + '" readonly="readonly"></td>';
                nuevaFila += '<td><input type="text" class="form-control" id="total_kits' + num_recetas + '" name="total_kits' + num_recetas + '" readonly="readonly"><input type="hidden" class="form-control" id="existencia_kits' + num_recetas + '" name="existencia_kits' + num_recetas + '" ></td>';
                nuevaFila += '</tr>';

                $('#columnas_receta').val(num_recetas);
                // for(var i=0;i<tds;i++){
                //     // añadimos las columnas
                //     nuevaFila+="<td>columna "+(i+1)+" Añadida con jquery</td>";
                // }
                // // Añadimos una columna con el numero total de columnas.
                // // Añadimos uno al total, ya que cuando cargamos los valores para la
                // // columna, todavia no esta añadida
                // nuevaFila+="<td>"+(trs+1)+" columnas";
                // nuevaFila+="</tr>";
                $("#tabla").append(nuevaFila);
            });

            /**
             * Funcion para eliminar la ultima columna de la tabla.
             * Si unicamente queda una columna, esta no sera eliminada
             */
            $("#del").click(function () {
                // Obtenemos el total de columnas (tr) del id "tabla"
                var trs = $("#tabla tr").length;
                if (trs > 1) {
                    // Eliminamos la ultima columna
                    $("#tabla tr:last").remove();
                }
                actualizarTotal();
            });


            $(document).on("click", ".eliminar", function () {
                var parent = $(this).parent();
                $(parent).remove();
                actualizarTotal();
            });

        });

        function agregarTodos() {
            //alert("entro");
            var cont = 1;
            $('#tabla2 tbody tr').each(function () {
                var row = $(this).closest('tr');
                var id = $('input[name="subop_id_receta"]', row).val();
                var codigo = $('input[name="subop_codigo_receta"]', row).val();
                var descripcion = $('input[name="subop_descripcion_receta"]', row).val();
                var medida = $('input[name="subop_medida_receta"]', row).val();
                var costo = $('input[name="subop_costo_receta"]', row).val();
                var subop = $('input[name="subop_subop_receta"]', row).val();
                //var fila = $('input[name="asiento-plan-cuenta-descripcion"]', row).val();
                var top = $('input[name="subop_top_receta"]', row).val();
                var op = $('input[name="subop_op_receta"]', row).val();
                var area = $('input[name="subop_area_receta"]', row).val();
                var egresos = $('input[name="subop_egresos_receta"]', row).val();
                var ingresos = $('input[name="subop_ingresos_receta"]', row).val();
                var cantidad = $('input[name="subop_cantidad_receta"]', row).val();
                var fila = $('#columnas_receta').val();

                //alert(' BNUM RECETS'+num_recetas);
                var id_tabla = 0;
                var id_mensaje = "";
                for (i = 1; i <= fila; i++) {
                    var id_existe = $('#subopid_kits' + i).val();
                    //alert(id_existe);
                    //alert(id);
                    if (id_existe == subop) {
                        id_tabla = 1;
                        var orden_produccion = top + '-' + op;
                        id_mensaje = "En la " + orden_produccion + " | " + codigo + "-" + descripcion + " ya se encuentra agregado en la tabla";
                        //alert("entro");
                        //code
                    }
                }
                //alert(id_tabla);
                if (id_tabla == 1) {
                    alert(id_mensaje);
                    //alert("entro");
                    //code
                } else {
                    if (id) {
                        //code

                        var num_recetas = fila;
                        if (cont > 1) {
                            //code
                            // alert("entro2");
                            fila = parseInt(fila) + 1;
                            num_recetas = fila;

                            var nuevaFila = '<tr><td  class="eliminar"><a class="btn btn-danger remove_fields "><i class=" glyphicon glyphicon-trash icon-white"></i></a></td>';
                            nuevaFila += '<td><select class="form-control" id="areas_kits' + num_recetas + '" name="areas_kits' + num_recetas + '" > ';
                            {% for am  in areas %}
                                nuevaFila += '<option value="{{ am.id }}"> {{ am.descripcion }}</option>';

                            {% endfor %}
                            nuevaFila += '</select></td>';
                            nuevaFila += '<td>';
                            nuevaFila += '<input type="hidden" class="form-control" id="subopcantidad_kits' + num_recetas + '" name="subopcantidad_kits' + num_recetas + '"/>';
                            nuevaFila += '<input type="hidden" class="form-control op_detalle_valor" id="subopid_kits' + num_recetas + '" name="subopid_kits' + num_recetas + '"/>';
                            //nuevaFila+='<input type="checkbox" id="op_kits'+num_recetas+'" name="op_kits'+num_recetas+'"  onclick="mostrar_subop('+num_recetas+')"/>';
                            var concepto_id = $('#id_concepto_orden_egreso').val();
                            var concepto_op_id ={{ concepto.id}};
                            if (concepto_id == concepto_op_id) {
                                nuevaFila += '<input  type="text" class="form-control op_detalle_mostrar op_detalle_valor" id="subop_kits' + num_recetas + '" name="subop_kits' + num_recetas + '" onfocus="mostrarSubOp(' + num_recetas + ')"  readonly="readonly"></td>';
                            } else {
                                nuevaFila += '<input  type="text" class="form-control op_detalle_mostrar op_detalle_valor" id="subop_kits' + num_recetas + '" name="subop_kits' + num_recetas + '" onfocus="mostrarSubOp(' + num_recetas + ')"  style="display:none" readonly="readonly"></td>';
                            }
                            nuevaFila += '<td><input type="hidden" class="form-control" id="id_kits' + num_recetas + '" name="id_kits' + num_recetas + '"> ';
                            nuevaFila += '<input type="text" required="required" class="form-control" id="codigo_kits' + num_recetas + '" name="codigo_kits' + num_recetas + '" onfocus="mostrarProductos(' + num_recetas + ')" readonly="readonly"></td>';
                            nuevaFila += '<td><span  id="nombre_kits' + num_recetas + '" name="nombre_kits' + num_recetas + '" ></span></td>';
                            nuevaFila += '<td><input type="text" class="form-control" required="required" id="cantidad_kits' + num_recetas + '" name="cantidad_kits' + num_recetas + '" onkeyup="actualizarCosto(' + num_recetas + ')"></td>';
                            nuevaFila += '<td><input type="text" class="form-control" id="medida_kits' + num_recetas + '" name="medida_kits' + num_recetas + '" readonly="readonly"></td>';
                            nuevaFila += '<td><input type="text" class="form-control" id="costo_kits' + num_recetas + '" name="costo_kits' + num_recetas + '" readonly="readonly"></td>';
                            nuevaFila += '<td><input type="text" class="form-control" id="total_kits' + num_recetas + '" name="total_kits' + num_recetas + '" readonly="readonly"><input type="hidden" class="form-control" id="existencia_kits' + num_recetas + '" name="existencia_kits' + num_recetas + '" ></td>';
                            nuevaFila += '</tr>';
                            $("#tabla").append(nuevaFila);
                        }

                        //  alert(fila);
                        $('#id_kits' + fila).val(id);
                        costo = costo.toString().replace(/\,/g, '.');
                        var orden_produccion = top + '-' + op;

                        $('#codigo_kits' + fila).val(codigo);
                        $('#areas_kits' + fila).val(area);
                        $('#nombre_kits' + fila).html(descripcion);
                        $('#medida_kits' + fila).val(medida);
                        $('#costo_kits' + fila).val(costo);

                        $('#cantidad_kits' + fila).val(cantidad);

                        $('#subop_kits' + fila).val(orden_produccion);
                        $('#subopid_kits' + fila).val(subop);
                        if (egresos == 'None' || egresos == '') {
                            egresos = 0;
                        }
                        //alert(egresos);
                        if (cantidad == 'None' || cantidad == '') {
                            cantidad = 0;
                        }
                        //alert(cantidad);
                        if (ingresos == 'None' || ingresos == '') {
                            ingresos = 0;
                        }
                        //alert(ingresos);
                        total_cantidad = cantidad - egresos
                        $('#cantidad_kits' + fila).val(total_cantidad);
                        var subt = 0
                        subt = total_cantidad * costo

                        //alert(subt);
                        $('#total_kits' + fila).val(subt);

                        $('#subopcantidad_kits' + fila).val(total_cantidad);

                        $('#columnas_receta').val(fila);
                        actualizarTotal();
                        cont = cont + 1;
                    }
                }
            });
            //code
            $('#dlgEgreso').modal('toggle');
        }
    </script>
{% endblock %}                                                                                                                                                                                                                                                                