{% extends "login/base-create.html" %}
{% load staticfiles %}
{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block css %}
    {{ block.super }}
    <link href="{% static 'color_admin/assets/plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet"
          xmlns="http://www.w3.org/1999/html"/>
    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <!-- ================== END PAGE LEVEL STYLE ================== -->
{% endblock %}
{% block section_title %} Registro de cheques protestados {% endblock %}
{% block section_subtitle %}Por favor diligencie el siguiente formulario{% endblock %}
{% block content %}
    <style>
        .panel-border {
            border: 1px solid #ddd !important;
        }

        .form-group {
            margin-bottom: 0px !important;
        }
    </style>
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-md-12">
            <form class="form-horizontal" method="post"
                  action="{% url "cheque-protestados-update"  cheque_prestado.id %}">
                {% csrf_token %}
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a aria-expanded="true" class="accordion-toggle accordion-toggle-styled"
                               data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <i class="fa fa-plus-circle pull-right"></i>
                                Datos generales
                            </a>
                        </h3>
                    </div>
                    <div id="collapseOne" aria-expanded="true" id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body panel-border">
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="exampleInputEmail2">Fecha de emisión</label>
                                <div class="col-sm-4">
                                    <input id="fecha_emision" class="form-control"
                                           value="{{ cheque_prestado.fecha_emision | date:'Y-m-d'  }}" name="fecha_emision" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label"
                                       for="exampleInputName2">Cuenta bancaria</label>
                                <div class="col-sm-4">
                                    <div class="input-group add-on">
                                        <input class="form-control"  placeholder="..."  id="cuenta_bancaria" name="nombre_cuenta_bancaria" type="text" required>
                                        <input type="hidden" value="" id="cuenta_bancaria_id" name="banco" />
                                        <div class="input-group-btn">
                                            <a class="btn btn-inverse" data-toggle="modal"
                                               data-target=".bd-example-modal-lg">
                                                <i class=" glyphicon glyphicon-search icon-white"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="exampleInputEmail2">Persona</label>
                                <div class="col-sm-4">
                                    <div class="input-group add-on">
                                        <input class="form-control" placeholder="..." id="persona" name="persona" type="text" required>
                                        <input type="hidden" value="" id="persona_id" name="cliente" />
                                        <div class="input-group-btn">
                                            <a class="btn btn-inverse" data-toggle="modal" data-target="#myModal">
                                                <i class=" glyphicon glyphicon-search icon-white"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label"
                                       for="exampleInputEmail2">Número de cheque</label>
                                <div class="col-sm-4">
                                    <input class="form-control" type="text" value="{{ cheque_prestado.numero_cheque }}" name="numero_cheque" required readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="exampleInputEmail2">Fecha cheque</label>
                                <div class="col-sm-4">
                                    <input id="fecha_cheque" class="form-control" value="{{ cheque_prestado.fecha_cheque | date:'Y-m-d'  }}" name="fecha_cheque" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="exampleInputEmail2">Valor cheque</label>
                                <div class="col-sm-4">
                                    <input id="valor_cheque" class="form-control" type="number" step="0.01" name="valor_cheque" required readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="exampleInputEmail2">Valor multa</label>
                                <div class="col-sm-4">
                                    <input id="valor_multa" class="form-control"  type="number" step="0.01" name="valor_multa" required readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label"
                                       for="exampleInputEmail2">Comprobante débito</label>
                                <div class="col-sm-4">
                                    <input class="form-control" type="text" value="{{ cheque_prestado.comprobante_debito }}" name="comprobante_debito" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="exampleInputEmail2">Descripción</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" name="descripcion" rows="5">{{ cheque_prestado.descripcion }}</textarea>
                                </div>
                            </div>
                        
                    </div>
                </div>
               
                   <div class="form-group">
                     <div class="col-sm-11">
                            <table class="table table-striped" id="tabla-asiento" width="100%">
                                <thead style="background-color: #ccd0d4">
                                <tr>
                                    <th style="display:none;">Id</th>

                                    <th style="text-align: center">Código</th>
                                    <th style="text-align: center">Cuenta</th>
                                    <th style="text-align: center; width: 15%;">Debe</th>
                                    <th style="text-align: center; width: 15%;">Haber</th>
                                    <th style="text-align: center">Concepto</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% if detalle_asientos %}
                                                    {% for de  in detalle_asientos %}
                                <tr class="asiento-row" >
                                   

                        <td name="asiento-codigo">{{ asientos.codigo_asiento}}</td>
                        <td><div class="input-group add-on" style="width:100%"><input class="form-control" type="text" name="asiento-plan-cuenta-descripcion" value="{{ de.cuenta.nombre_plan}}"   readonly>
                        </div>
                        </td>
                        <td>


                            <input style="text-align: right;" class="form-control" type="number" step="0.01" name="asiento-debe" value="{{ de.debe}}" readonly>
                        </td>
                        <td align="right" >
                            <input style="text-align: right;" class="form-control" type="number" step="0.01" name="asiento-haber" value="{{ de.haber}}" readonly >
                        </td>
                                      <td align="right" >
                                          <textarea class="form-control" name="concepto-asiento"> {{ de.concepto}}</textarea>
                        </td>
                    </tr>
                                {% endfor %}
                                {% endif %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td><input type="hidden" id="total-debe-asiento" name="total-debe-asiento"  /><input type="hidden" id="total-haber-asiento" name="total-haber-asiento" /></td>


                                    <td><strong>TOTAL:</strong></td>
                                    <td align="right" name="asiento-total-debe"><strong>{{asientos.total_debe}}</strong></td>
                                    <td align="right" name="asiento-total-haber"><strong>{{asientos.total_haber}}</strong></td><td></td>
                                </tr>
                                </tfoot>
                            </table>

                            <br>
                            <br>
                        </div>
                    </div>
               
                <!--<button type="submit" class="btn btn-inverse"><i class="fa fa-save"></i> Guardar</button>-->
                
                                                <a class="default btn btn-link" href="/bancos/cheques_protestados/"><button type="button" class="btn btn-primary btn-lg">  Regresar</button></a>

            </form>
        </div></div>
    </div>
    <!-- Modal Persona-->
    <div class="modal fade bs-example-modal-lg" id="myModal">
        <div class="modal-dialog  modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Personas</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table2 table-striped" width="100%" id="tabla2">
                            <thead>
                            <tr>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Ruc</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for cliente  in clientes %}
                                <tr>
                                    <td>{{ cliente.codigo_cliente }}</td>
                                    <td>{{ cliente.nombre_cliente }}</td>
                                    <td>{{ cliente.ruc }}</td>
                                    <td onclick="cargar_persona('{{ cliente.id_cliente }}','{{ cliente.nombre_cliente }}')">
                                        <a class="btn btn-inverse remove_fields">
                                            <i class=" glyphicon glyphicon-plus icon-white"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-inverse" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Banco -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Cuenta bancaria</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table2 table-striped " width="100%" id="tabla_cuenta">
                            <thead>
                            <tr>
                                <th>Código</th>
                                <th>Cuenta</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for banco  in bancos %}
                                <tr>
                                    <td>{{ banco.codigo }}</td>
                                    <td>{{ banco.nombre }}</td>
                                    {% if banco.estado == True %}
                                        <td>Activo</td>
                                    {% else %}
                                        <td>Inactivo</td>
                                    {% endif %}
                                    <td onclick="cargar_banco('{{ banco.id }}','{{ banco.nombre }}')">
                                        <a class="btn btn-inverse remove_fields">
                                            <i class=" glyphicon glyphicon-plus icon-white"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-inverse" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'color_admin/assets/plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
    <script src="{% static 'color_admin/assets/js/form-wizards-validation.demo.min.js' %}"></script>
    <script src="{% static 'color_admin/assets/js/apps.min.js' %}"></script>
    <script src="{% static 'color_admin/assets/plugins/DataTables-1.9.4/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'color_admin/assets/plugins/DataTables-1.9.4/js/data-table.js' %}"></script>
    <script src="{% static 'color_admin/assets/plugins/parsley/src/parsley.js' %}"></script>
    <script>
        var banco_id     = $('#cuenta_bancaria_id');
        var banco_nombre = $('#cuenta_bancaria');
        var cliente_id   = $('#persona_id');
        var cliente_nombre = $('#persona');
        var valor_cheque = $('#valor_cheque');
        var valor_multa = $('#valor_multa');


      $('#fecha_emision').datepicker({todayHighlight: true, autoclose: true,format: 'yyyy-mm-dd'});
         $('#fecha_cheque').datepicker({todayHighlight: true, autoclose: true,format: 'yyyy-mm-dd'});

        function getFechaHoy() {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();

            if (dd < 10) {
                dd = '0' + dd
            }
            if (mm < 10) {
                mm = '0' + mm
            }
            today = dd + '/' + mm + '/' + yyyy;
            return today;
        }

        $(document).ready(function () {
            $('#tabla2').DataTable();
            $('#tabla_cuenta').DataTable();
            $("select[name='tipo_anticipo_documento']").change(function () {
                if ($(this).val() == "9") {//Transf
                    $('.mostrar-cheque').attr('style', 'display: none;');
                    $('.mostrar-transf').removeAttr('style')
                }
                if ($(this).val() == "8") {
                    $('.mostrar-transf').attr('style', 'display: none;');
                    $('.mostrar-cheque').removeAttr('style')
                }
            });
            banco_id.val("{{ cheque_prestado.banco.id }}");
            banco_nombre.val("{{ cheque_prestado.banco.nombre }}");
            cliente_id.val("{{ cheque_prestado.cliente.id_cliente }}");
            cliente_nombre.val("{{ cheque_prestado.cliente.nombre_cliente }}");
            valor_cheque.val("{{ cheque_prestado.valor_cheque }}".replace(",", "."));
            valor_multa.val("{{ cheque_prestado.valor_multa }}".replace(",", "."));
        });

        function cargar_banco(id, nombre) {
            $('#cuenta_bancaria_id').val(id);
            $('#cuenta_bancaria').val(nombre);
            $(".bd-example-modal-lg").modal('toggle');
        }

        function cargar_persona(id, nombre) {
            $('#persona_id').val(id);
            $('#persona').val(nombre);
            $(".bs-example-modal-lg").modal('toggle');
        }

    </script>
{% endblock %}
