

<form class="form-horizontal"  name="egresosForm" method="POST" id="registrar_eg">


	<div class="alert alert-danger hide" id="msj_error_ingresos"></div>



	<div class="panel panel-default-grey">
	    <div class="panel-heading">
	        <h3 class="panel-title">Detalles de Cheques </h3>
	    </div>
	    <div class="panel-body">
	        <div class="ingresos">
				<table style="background-color: white" class="table table-bordered" id="tabla_otros_egresos">
					<thead>
						<tr>
							<th width="25px"></th>
							<th><b>Tipo </b></th>
                            <th ><b>Banco</b></th>
							<th width="80px"><b>N&uacute;mero Cheque</b></th>
                            <th><b>Paguese a</b></th>


						</tr>
					</thead>
					<tbody id="tdetalle_ingreso">

                                                  {% if personas %}
                                                    {% for kit  in personas %}


			  <tr>
																			<td  onclick="cargarDocumento('{{ kit.numero_cheque }}','{{ kit.numero_cheque }}','{{ tipo_anticipo_id }}')"><a class="btn btn-danger remove_fields" >
																	<i class=" glyphicon glyphicon-plus icon-white"></i>
																  </a></td>

																			<td>{{ kit.tipo_anticipo.descripcion }}</td>
                  <td>{{ kit.banco.nombre}}</td>
                  <td>{{ kit.numero_cheque }}</td>

																			<td>{{ kit.paguese_a }}</td>
																		</tr >

																	{% endfor %}
                                                   {% else %}


                                                   {% endif %}


					</tbody>
				</table>
				<br>
				 <p class="text-center">
                                          <!--    <button type="button" class="btn btn-primary btn-lg" id="add">Agregar Egreso</button>
 -->

                                        </p>
<input type="hidden" name="fila" id="fila" value="{{ fila }}" />

				 {% if detalle %}
<input type="hidden" name="columnas_receta_otros_egresos" id="columnas_receta_otros_egresos" value="{{ detalle|length }}" />
{% else %}
<input type="hidden" name="columnas_receta_otros_egresos" id="columnas_receta_otros_egresos" value="1" />

{% endif %}

<input type="hidden" name="tipo" id="tipo" value="{{ tipo }}" />

			</div>
	    </div>
	</div>
                                    <!-- <button type="submit" class="btn btn-primary btn-lg" id="btn_guardar_eresos"><i class="fa fa-cog"></i> Guardar</button> -->

	<div style="border-color:#F5F7F7; background-color:#F5F7F7" class="text-right panel-footer">
	<!-- 	<a href="javascript:void(0);" id="btn_guardar_ingresos" class="btn btn-success btn-sm">
			<span class="glyphicon glyphicon-floppy-disk"></span>
			Guardar
		</a> -->
	</div>
</form>
				 </div>
							                </div>
							            </div>
							        </div>
							    </div>




<script type="text/javascript">
    $(document).ready(function(){
          $('#tabla_otros_egresos').DataTable();
        /**
         * Funcion parnueva columna en la tabla
         */
        $("#add").click(function(){
            // Obtenemos el numero de filas (td) que tiene la primera columna
            // (tr) del id "tabla"
            var num_recetas=$('#columnas_receta_otros_egresos').val();
            num_recetas=parseInt(num_recetas)+1;

            var tds=$("#tabla_otros_egresos tr:first td").length;
            // Obtenemos el total de columnas (tr) del id "tabla"
            var trs=$("#tabla_otros_egresos tr").length;
            var nuevaFila='<tr><td  class="eliminar"><a class="btn btn-danger remove_fields "><i class=" glyphicon glyphicon-trash icon-white"></i></a></td>';
             nuevaFila+='<td><select class="form-control" id="tipos_kits'+num_recetas+'" name="tipos_kits'+num_recetas+'"> ';
                                    {% for am  in tipos %}
                      nuevaFila+='<option value="{{ am.id }}"> {{ am.nombre }}</option>';

                                  {% endfor %}
              nuevaFila+='</select></td>';

                nuevaFila+='<td><input type="text"  class="form-control" id="nombre_kits'+num_recetas+'" name="nombre_kits'+num_recetas+'" ></td>';
                nuevaFila+='<td><input type="text"  class="form-control" id="valor_kits'+num_recetas+'" name="valor_kits'+num_recetas+'" ></td>';
                  nuevaFila+='<td><input type="checkbox" id="memo_kits'+num_recetas+'" name="memo_kits'+num_recetas+'" ></td>';

                nuevaFila+='</tr>';

              $('#columnas_receta_otros_egresos').val(num_recetas);
            // for(var i=0;i<tds;i++){

            //     nuevaFila+="<td>columna "+(i+1)+" on jquery</td>";
            // }
            // //
            // nuevaFila+="<td>"+(trs+1)+" columnas";
            // nuevaFila+="</tr>";
            $("#tabla_otros_egresos").append(nuevaFila);
        });

        /**
         * Funcion para eliminar la ultima columna de la tabla.
         * Si unicamente queda una columna, esta no sera eliminada
         */
        $("#del").click(function(){
            // Obtenemos el total de columnas (tr) del id "tabla"
            var trs=$("#tabla_otros_egresos tr").length;
            if(trs>1)
            {
                // Eliminamos la ultima columna
                $("#tabla_otros_egresos tr:last").remove();
            }
        });


        $(document).on("click",".eliminar",function(){
            var parent = $(this).parent();
  $(parent).remove();
          });

    });
    </script>
    <script>

   function cargarDocumento(id,nombre,tipo){
     // var fila=$('#id_fila_cambiar').val();

			$('#numero_cheque').val(id);

          cerrarq();

    }
    function cerrarq(){
       $("#dlgCheque").modal('toggle');
    }
        </script>
