

{% extends "login/base-list.html" %}
{% load extra_filters %}

{% load staticfiles %}

{% block css %}
{{ block.super }}
<!-- ================== BEGIN PAGE LEVEL STYLE TABLE================== -->
    <!-- ================== END PAGE LEVEL STYLE ================== -->
{% endblock %}

{% block section_title %}Cargo{% endblock %}
{% block section_subtitle %}
<br />


                    {% endblock %}

{% block content %}

					      <div class="col-md-12">
						  <a href="{% url 'tipoempleado-create' %}" class="btn btn-sm btn-success"><i class="fa fa-plus m-r-5"></i> Nuevo</a>
					      </div>
		                <br />
				<!-- begin col-12 -->
				<div class="col-md-12">
					<!-- begin panel -->
					<div class="panel panel-inverse">
						<div class="panel-heading">
							<div class="panel-heading-btn">
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
							</div>
							<h4 class="panel-title">LISTADO DE CARGOS</h4>
						</div>
						<div class="panel-body">
							<div class="table-responsive">
								<table id="data-table" class="table table-striped table-bordered">
									<thead>
										<tr>
											
											<th>Nombre</th>
                                                                                                                                                                                                                                                             <th>Descripci&oacute;n</th>
                                                                                                                                                                                                                                                             <th>Departamento</th>



											<th>Accion</th>
										</tr>
									</thead>
									<tbody>
										{% for r  in cargos %}

											<tr>
												<td> {{ r.cargo_empleado}}</a></td>
												<td>{{ r.descripcion_tipo | default_if_none:"" }}</td>
                                                                                                                                                                                                                                                                                    <td>{{ r.departamento }}</td>


												<td>

												<a href="{% url 'tipoempleado-update' r.tipo_empleado_id %}">
												<button type="button" class="btn btn-info btn-xs"><i class="fa fa-edit"></i> Editar</button>
													</a>
<!--<a href="{% url 'tipoempleado-delete-pk' r.tipo_empleado_id %}">
												<button type="button" class="btn btn-info btn-xs"><i class="fa fa-edit"></i> Eliminar</button>
													</a>
-->


												</td>
											</tr >

										{% endfor %}
									</tbody>
								</table>
							</div>
</div>


						</div>
					</div>
					<!-- end panel -->

					<!-- #modal-dialog -->

				</div>
				<!-- end col-12 -->
{% endblock %}
