{% extends "login/base-create.html" %}

{% block breadcrumbs %}
    {{ block.super }} » <a href="{% url "bodega-list" %}">{{verbose_name}}</a> » Nuevo
{% endblock %}

{% block form-actions %}
<div id="form-actions" class="clearfix">
	<div class="form-actions pull-left ">
		<button type="submit" class="default btn btn-success">
			<i class="fa fa-floppy-o"></i> Guardar
		</button>
		<!--<input type="submit" class="default btn btn-info" name="_addanother" value="Grabar y añadir otro">-->
		<a class="default btn btn-link" href="{{ url_cancel }}">
			<i class="fa fa-times"></i> Regresar
		</a>
	</div>
</div>
{% endblock %}
{% block javascript %}
{{ block.super }}
<script>
    $(document).ready(function() {
      $('#id_codigo_bodega').each(function(){
  $(this).attr('readonly','readonly');
});
      
         $.ajax({
                url: "/config/obtenerSecuencial/", // the endpoint
                type : "POST", // http method
                data : { id : 'bodega','csrfmiddlewaretoken': '{{ csrf_token }}'}, 
                success:function(data){
                 $('#id_codigo_bodega').val('00'+data);
                  
                },
                error: function(){
                 
                },
              });
    });
</script>
{% endblock %}                                                                                                                                                