{% extends 'login/base.html' %}
{% load static from staticfiles %}
{% load extra_filters %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'categoria/lib/handsontable/handsontable.full.css' %}" />
{% endblock %}

{% block content %}
    <h1>Agregar Bodegas</h1>
    <div class="row">
        <div class="alert alert-info alert-dismissable">
           Recuerde que Ud. puede tener hasta 50 estudiantes guardados en la nómina. Para superar el número permitido de estudiantes escríbanos a soporte@edupegaso.com
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <div id="alumnos"></div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 25px;">
        <div class="col-md-8 col-md-offset-2">
            <code>NOTA: Para agregar una nueva fila precione 2 veces la tecla ENTER.</code>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-primary btn-lg pull-right bnt-guardar">Guardar listado</button>
    </div>
{% endblock %}

{% block javascript %}
<script src="{% static 'categoria/lib/handsontable/handsontable.full.js' %}"></script>
<script src="{% static 'categoria/js/alumnos.js' %}"></script>
<script>
    $(document).ready(function() {
        var lista_bodegas = BodegaCtr.crearHandsontable();
        $('.bnt-guardar').click(function () {
            BodegaCtr.guardarDatos(lista_bodegas.getData(),"{% url "configuracion-bodega-guardar" %}");
        });
    });
</script>
{% endblock %}