{% extends "login/base_nuevo.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}
<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
<link href="{% static 'color_admin/assets/plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<link href="{% static 'color_admin/assets/plugins/bootstrap-datepicker/css/datepicker.css'%}" rel="stylesheet" />
<link href="{% static 'color_admin/assets/plugins/bootstrap-datepicker/css/datepicker3.css'%}" rel="stylesheet" />
<!-- ================== END PAGE LEVEL STYLE ================== -->
{% endblock %}

{% block section_title %}Proforma{% endblock %}
{% block section_subtitle %}Por favor diligencie el siguiente formulario{% endblock %}
{% block content %}

<!-- begin row -->
<style>
  .panel-border {
    border: 1px solid #ddd !important
  }

  .form-ajust .form-group {
    margin-bottom: 0px !important
  }

  input[type="text"],
  select,
  input[type="number"] {

    border: 1px solid #ccd0d4;
    border-radius: 3px;
    box-shadow: none;
    font-size: 12px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
  }

  .table2 {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    display: table
  }

  .table2>tbody>tr>td,
  .table2>tbody>tr>th,
  .table2>tfoot>tr>td,
  .table2>tfoot>tr>th {
    border-color: #e2e7eb;
    padding: 1px 0px;
  }

  .table2>thead>tr>td,
  .table2>thead>tr>th {
    border-color: #e2e7eb;
    padding: 10px 5px;
  }

  #id_abreviatura_codigo {
    width: 50px;
  }

  #id_codigo {
    width: 120px;
  }
</style>
<form id="formulario" method="post" data-parsley-validate="true" name="form-wizard" enctype="multipart/form-data"> {%
  csrf_token %}
  {{ form.title.errors }}
  <div class="row">
    <!-- begin col-6 -->
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">

          <h3 class="panel-title">Proforma</h3>
        </div>
        <div class="panel-body">
          <div class="col-md-12">
            <div>

              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#principales" aria-controls="principales" role="tab"
                    data-toggle="tab">Principales</a></li>

                <li role="presentation"><a href="#foto" aria-controls="foto" role="tab" data-toggle="tab">Foto</a></li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="principales">
                  <div class="row">

                    <div class="panel panel-default panel-border">
                      <div class="panel-heading">Id del Registro</div>
                      <div class="panel-body">

                        <div class="col-md-1">
                          <label for="exampleInputName2">C&oacute;digo</label>
                          {% bootstrap_field form.abreviatura_codigo show_label=False %}
                        </div>
                        <div class="col-md-3">
                          <label for="exampleInputName2">&nbsp;</label>

                          {% bootstrap_field form.codigo show_label=False %}

                        </div>
                        <div class="col-md-4">
                          <label for="exampleInputEmail2">Fecha </label>
                          {% bootstrap_field form.fecha show_label=False %}

                        </div>
                        <div class="col-md-4">
                          <label for="exampleInputName2">Fecha Entrega</label>
                          {% bootstrap_field form.fechapedido show_label=False %}


                        </div>
                        <div class="col-md-4 hidden">
                          <label for="exampleInputName2">#Reunion</label>
                          {% bootstrap_field form.reunion_codigo show_label=False %}


                        </div>
                        <div class="col-md-4 hidden">
                          <label for="exampleInputName2">#Cotiz. Proforma</label>

                          <input type="text" name="cotiz_codig" id="cotiz_codig" readonly="readonly">


                          <button type="button" class="btn btn-primary" onclick="mostrarCotizacionProforma()">Cotiz.
                            Proforma</button>

                        </div>

                        <div class="col-md-6">
                          <label for="exampleInputName2">Punto Venta</label>
                          {% bootstrap_field form.puntos_venta show_label=False %}
                          <div id="block_hierro">
                            {% bootstrap_field form.hierro_proforma show_label=False %}

                          </div>

                        </div>
                        <div class="col-md-6">
                          <label for="exampleInputName2">Vendedor</label>
                          {% bootstrap_field form.vendedor show_label=False %}
                        </div>
                        <div class="col-md-6">
                          <label for="exampleInputName2">Nombre del Cliente</label>
                          {% bootstrap_field form.cliente show_label=False %}

                        </div>
                        <div class="col-md-6">
                          <label for="exampleInputName2">Referido por</label>
                          {% bootstrap_field form.referido_por show_label=False %}
                        </div>

                        <div class="col-md-6">
                          <label for="exampleInputEmail2">Condiciones fisicas del lugar </label>
                          {% bootstrap_field form.tipo_lugar show_label=False %}
                        </div>

                        <div class="col-md-4">
                          <label for="exampleInputEmail2">Pedido fuera de la ciudad </label>
                          {% bootstrap_field form.fuera_ciudad show_label=False %}
                        </div>
                        <div class="col-md-4">
                          <label for="exampleInputName2">Tiempo de respuesta (dias)</label>
                          {% bootstrap_field form.tiempo_respuesta show_label=False %}

                        </div>
                        <!--  <div class="col-md-4">
                                                      <label for="exampleInputName2">Renderizar </label>
                                                      {% bootstrap_field form.maqueteado_proforma show_label=False %}

                                                   </div> -->
                      </div>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="inputEmail3">Observaci&oacute;n</label>
                        <div>
                          {% bootstrap_field form.observacion show_label=False %}
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label for="inputEmail3">Usuario y Fecha de Edici&oacute;n</label>
                      <table class="table table-bordered">
                        <tr>
                          <th>Creaci&oacute;n</th>

                          <td>

                          </td>
                          <td></td>
                        </tr>
                        <tr>
                          <th>Actualizado</th>
                          <td></td>
                          <td></td>
                        </tr>
                      </table>
                    </div>

                  </div>




                  <div class="row">
                    <div class="panel panel-default panel-border">
                      <!-- Default panel contents -->
                      <div class="panel-heading">Referencias de producto terminado</div>
                      <div class="panel-body" style="overflow-x: scroll;">



                        <!-- Table -->
                        <table class="table2 table-striped table-bordered" id="tabla"
                          style="table-layout: fixed;min-width:500px">
                          <thead>
                            <tr>
                              <th width="40px"></th>
                              <th width="150px">Ambiente</th>
                              <th width="80px">Comp.</th>
                              <th width="180px">Nombre</th>
                              <th width="180px">Detalle</th>
                              <th width="60px">Cant.</th>
                              <th width="80px">Med</th>
                              <th width="80px">Precio</th>
                              <th width="80px">Subtotal</th>
                              <th width="60px">Rep?</th>
                              <th width="60px">Alm?</th>
                              <th width="180px">Foto</th>
                              <th width="180px">Observacion</th>
                            </tr>
                          </thead>
                          <tbody>


                            <tr>
                              <td class="eliminar"><a class="btn btn-danger remove_fields">
                                  <i class=" glyphicon glyphicon-trash icon-white"></i>
                                </a>
                              </td>

                              <td><select name="ambientes_kits1" id="ambientes_kits1" class="form-control">
                                  {% for am in ambientes %}
                                  <option value="{{ am.id }}"> {{ am.descripcion }}</option>
                                  {% endfor %}
                                </select><a class="btn btn-danger remove_fields" onclick="mostrarAmbiente(1)"
                                  data-toggle="modal" data-target=".bs-example-modal-lg"
                                  style="width:10px !important;height:10px !important;float:right;padding: 8px 9px;">
                                  <i class=" glyphicon glyphicon-search icon-white"
                                    style="width: 2px !important;height: 2px !important;top: -8px;left: -6px;"></i>
                                </a>
                              </td>
                              <td>
                                <input type="hidden" class="form-control" id="id_kits1" name="id_kits1" />
                                <input type="text" class="form-control" id="codigo_kits1" name="codigo_kits1"
                                  onfocus="mostrarProductos(1)" readonly="readonly" required="required">
                              </td>
                              <td><textarea class="form-control" id="nombre_kits1" name="nombre_kits1"></textarea></td>
                              <td><textarea class="form-control" id="detalle_kits1" name="detalle_kits1"></textarea>
                              </td>
                              <td><input type="text" class="form-control" id="cantidad_kits1" name="cantidad_kits1"
                                  onkeyup="actualizarCosto(1)" required="required"></td>
                              <td><textarea class="form-control" id="medida_kits1" name="medida_kits1"></textarea>
                              </td>
                              <td><input type="text" class="form-control" id="costo_kits1" name="costo_kits1"
                                  onkeyup="actualizarCosto(1)"></td>
                              <td><input type="text" class="form-control" id="total_kits1" name="total_kits1"
                                  readonly="readonly">
                              </td>
                              <td>
                                <input type="checkbox" id="reparacion_kits1" name="reparacion_kits1" />
                              </td>
                              <td>
                                <input type="checkbox" id="almacen_kits1" name="almacen_kits1" />
                              </td>
                              <td>
                                <input type="file" class="form-control" id="imagen_kits1" name="imagen_kits1">

                              </td>
                              <td><input type="text" class="form-control" id="observacion_kits1"
                                  name="observacion_kits1"></td>
                            </tr>

                          </tbody>
                          <tfoot>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                            <th>Total:</th>
                            <th>

                          </tfoot>
                        </table>

                        <p class="text-right">
                          <button type="button" class="btn btn-default btn-lg" id="add"><i
                              class="fa fa-plus"></i>Agregar</button>


                        </p>
                      </div>
                    </div>
                  </div>






                </div>


                <div role="tabpanel" class="tab-pane fade" id="foto">
                  <div class="row">

                    <div class="panel panel-default panel-border">
                      <div class="panel-heading">Foto</div>
                      <div class="panel-body">

                        <div class="col-md-6">
                          <label for="exampleInputName2">Imagen</label>
                          {% bootstrap_field form.imagen show_label=False %}
                        </div>
                        <div class="col-md-6">
                          <a href="#" class="thumbnail">
                            {% if form.imagen.value != "" %}
                            <img src="/media/{{ form.imagen.value}}" alt="logo producto">
                            {% else %}
                            <img src="/media/imagenes/producto/logo-producto.svg" alt="logo producto">
                            {% endif %}
                          </a>
                        </div>

                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </div>
          </div>


          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label for="inputEmail3">Direccion de entrega</label>
                <div>
                  {% bootstrap_field form.direccion_entrega show_label=False %}
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="inputEmail3">SubTotal</label>
                <div>
                  <input type="text" class="form-control" id="subtotal" name="subtotal" readonly="readonly" />
                </div>
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
                <label for="inputEmail3">Iva%</label>
                <div>
                  <input type="text" id="porcentaje_iva" name="porcentaje_iva" value="{{iva.valor}}"
                    onkeyup="actualizarTotal()" />
                </div>
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
                <label for="inputEmail3"></label>
                <div>
                  <input type="text" id="iva" name="iva" readonly="readonly" />
                </div>
              </div>
            </div>


          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label for="inputEmail3">Forma de Pago</label>
                <div>
                  {% bootstrap_field form.forma_pago show_label=False %}
                </div>
              </div>
            </div>

            <div class="col-md-1">
              <div class="form-group">
                <label for="inputEmail3">%</label>
                <div>
                  <input type="text" class="form-control" id="porcentaje_descuento" name="porcentaje_descuento"
                    onkeyup="actualizarTotal()" />
                </div>
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
                <label for="inputEmail3">Descuento</label>
                <div>
                  <input type="text" class="form-control" id="descuento" name="descuento" readonly="readonly" />
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="inputEmail3">Total</label>
                <div>
                  <input type="text" class="form-control" id="total" name="total" required="required"
                    readonly="readonly" />
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <p class="text-center">

    <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-cog"></i> Guardar</button>
    <a class="default btn btn-link" href="/proforma/consultarproforma/"><button type="button"
        class="btn btn-primary btn-lg"> Regresar</button></a>
  </p>
  {% if kits %}
  <input type="hidden" name="columnas_receta" id="columnas_receta" value="{{ kits|length }}" />
  {% else %}
  <input type="hidden" name="columnas_receta" id="columnas_receta" value="1" />

  {% endif %}

  <input type="hidden" name="id_fila_cambiar" id="id_fila_cambiar" value="" />


</form>
<div class="modal fade bs-example-modal-sm" id="modal-dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered" id="tabla2">
            <thead>
              <tr>
                <th></th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Codigo Produccion</th>
              </tr>
            </thead>
            <tbody>
              {% for producto in productos %}
              <tr>
                <td
                  onclick="cargarCodigoProducto('{{ producto.producto_id }}','{{ producto.codigo_producto }}','{{ producto.descripcion_producto }}','{{ producto.medida_peso }}','{{ producto.precio1 }}')">
                  <a class="btn btn-danger remove_fields">
                    <i class=" glyphicon glyphicon-plus icon-white"></i>
                  </a></td>
                <td>{{ producto.codigo_producto }}</td>
                <td>{{ producto.descripcion_producto }}</td>
                <td>{{ producto.codigo_produccion }}</td>

              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
        <button type="button" onclick="cerrar()" class="btn btn-danger btn-block">Cerrar <i
            class=" glyphicon glyphicon-trash icon-white"></i></button>


      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered" id="tabla3">
            <thead>
              <tr>
                <td></td>
                <th>Codigo</th>
                <th>Nombre</th>

              </tr>
            </thead>
            <tbody>

              {% for am in ambientes %}

              <tr>
                <td onclick="cargarAmbiente('{{ am.id }}')"><a class="btn btn-danger remove_fields" href="#">
                    <i class=" glyphicon glyphicon-plus icon-white"></i>
                  </a></td>
                <td>{{ am.codigo }}</td>
                <td>{{ am.descripcion }}</td>


              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
        <button type="button" onclick="cerrarAmbiente()" class="btn btn-danger btn-block">Cerrar <i
            class=" glyphicon glyphicon-trash icon-white"></i></button>

      </div>
    </div>
  </div>
</div>


<div aria-hidden="true" style="display: none;" id="dlgCotizacion" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 id="id_popup_ingresos" class="modal-title">Cotizacion Proformas</h4>
      </div>
      <div class="modal-body">
        <div id="contenido_dlgIngreso">
          <div class="table-responsive">
            <table class="table table-striped table-bordered" id="tabla4">
              <thead>
                <tr>
                  <td></td>
                  <th>Codigo</th>
                  <th>Nombre</th>
                  <th>Cliente</th>
                  <th>Vendedor</th>

                </tr>
              </thead>
              <tbody>
                {% for p in cotizacionproformas %}
                <tr>
                  <td><a class="btn btn-danger remove_fields"
                      href="{% url 'cotizacionproforma-create-proforma' p.id %}">
                      <i class=" glyphicon glyphicon-plus icon-white"></i>
                    </a></td>
                  <td>{{ p.abreviatura_codigo }}-{{ p.codigo }}</td>
                  <td>{{ p.fecha }}</td>
                  <td>{{ p.cliente.nombre_cliente }}</td>
                  <td>{{ p.vendedor.nombre }}</td>


                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
          <button type="button" onclick="cerrarCotizProforma()" class="btn btn-danger btn-block">Cerrar <i
              class=" glyphicon glyphicon-trash icon-white"></i></button>


        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'color_admin/assets/plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'color_admin/assets/plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
<script src="{% static 'color_admin/assets/js/form-wizards-validation.demo.min.js' %}"></script>
<script src="{% static 'color_admin/assets/js/apps.min.js' %}"></script>
<script src="{% static 'color_admin/assets/plugins/DataTables-1.9.4/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'color_admin/assets/plugins/DataTables-1.9.4/js/data-table.js' %}"></script>

<script>
  $(document).ready(function () {
    // App.init();
    $('#tabla2').DataTable();
    $('#tabla3').DataTable();
    $('#tabla4').DataTable();
    FormWizardValidation.init();
    $(".parsley-errors-list").css('display', 'none');
    $('#id_fecha').datepicker({ todayHighlight: true, autoclose: true, format: 'yyyy-mm-dd' });
    $('#id_fechapedido').datepicker({ todayHighlight: true, autoclose: true, format: 'yyyy-mm-dd' });
    const fechaInput = $("#id_fecha");
    const fechaEntregaInput = $("#id_fechapedido");
    const fecha = new Date(fechaInput.val());
    $("#id_tiempo_respuesta").val('30');
    const cantDias = $('#id_tiempo_respuesta').val();
    const fechaEntrega = new Date(fecha.getTime() + cantDias * 24 * 60 * 60 * 1000);
    $('#id_fechapedido').val(fechaEntrega.toISOString().slice(0, 10));
    cargarAbreviatura();

    $('#id_tiempo_respuesta').on('change', function (r) {
        var valor = $(this).val();
        if (!/^\d+$/.test(valor)) {
            alert("Solo se permiten números");
            $(this).val(""); // Limpiar el campo si no es un número
        } else {
            var tiempoRespuesta = valor; // Asignar el valor a una variable
            const fechaEntrega = new Date(fecha.getTime() + tiempoRespuesta * 24 * 60 * 60 * 1000);
            $('#id_fechapedido').val(fechaEntrega.toISOString().slice(0, 10));
        }
    });

    $('#id_tiempo_respuesta').on('keyup', function (r) {
      var valor = $(this).val();
        if (!/^\d+$/.test(valor)) {
            alert("Solo se permiten números");
            $(this).val(valor.slice(0,-1));
          }
    });

    $('#id_fecha').change(
      function () {

        var fecha = $('#id_fecha').val();


        $.ajax({
          url: '/bancos/movimiento/validarBloqueoPeriodo/',
          type: "POST",
          data: { fecha: fecha },
          dataType: "json",
          async: false,
          success: function (response) {
            // alert(response.length);
            if (response.length != 0) {
              var mensaje = "No se puede ingresar ningun movimiento en este mes debido a que se encuentra bloqueado. Por favor ingrese otra fecha ";
              alert(mensaje);
              $('#id_fecha').val('');
              event.preventDefault();

            } else {

            }



          },
        });

      }

    );
  });
</script>
<script>
  $(document).ready(function () {

    $("#id_cliente").change(function () {
      codigo_reunion = $("#id_cliente").val();
      $.ajax({
        url: "/config/obtenerCliente/", // the endpoint
        type: "POST", // http method
        data: { id: codigo_reunion, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
        success: function (data) {

          $("#id_direccion_entrega").val(data['cliente']);

        },
        error: function () {

        },
      });
    });


    $('#id_codigo').each(function () {
      $(this).attr('readonly', 'readonly');
    });
    $('#id_abreviatura_codigo').each(function () {
      $(this).attr('readonly', 'readonly');
    });
    $('#id_created_by').each(function () {
      $(this).attr('readonly', 'readonly');
    });
    $('#id_updated_by').each(function () {
      $(this).attr('readonly', 'readonly');
    });
    $('#id_created_at').each(function () {
      $(this).attr('readonly', 'readonly');
    });
    $('#id_updated_at').each(function () {
      $(this).attr('readonly', 'readonly');
    });

    var codigo = $("#id_codigo").val().length;
    if (codigo < 1) {
      $.ajax({
        url: "/config/obtenerSecuencial/", // the endpoint
        type: "POST", // http method
        data: { id: 'proforma', 'csrfmiddlewaretoken': '{{ csrf_token }}' },
        success: function (data) {
          $('#id_codigo').val('00' + data);

        },
        error: function () {

        },
      });
      // var fecha=new Date().toJSON().slice(0,10);
      // $('#id_fecha').val(fecha);
    } else {
      // alert(codigo);

    }



    var codigo_reunion = $("#id_reunion_codigo").val();
    
    $("#porcentaje_descuento").val('0.00');

    $("#id_reunion_codigo").focusout(function () {
      codigo_reunion = $("#id_reunion_codigo").val();
      $.ajax({
        url: "/config/obtenerReunion/", // the endpoint
        type: "POST", // http method
        data: { id: codigo_reunion, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
        success: function (data) {
          $('#id_cliente').select2().select2('val', data['cliente']);
          $('#id_vendedor').select2().select2('val', data['vendedor']);
          $('#id_cliente option[value=' + data['cliente'] + ']').attr('selected', 'selected');

          $('#id_vendedor option[value=' + data['vendedor'] + ']').attr('selected', 'selected');

          $("#id_direccion_entrega").val(data['direccion']);

        },
        error: function () {

        },
      });
    });




    $("#id_puntos_venta").change(function () {
      cargarAbreviatura();
    });

    $('input[type="checkbox"][name="hierro_proforma"]').change(function () {
      if (this.checked) {
        // do something when checked
        $("#id_abreviatura_codigo").val('H');
        $.ajax({
          url: "/config/obtenerSecuencial/", // the endpoint
          type: "POST", // http method
          data: { id: 'proformafabricahierro', 'csrfmiddlewaretoken': '{{ csrf_token }}' },
          success: function (data) {
            $('#id_codigo').val('00' + data);

          },
          error: function () {

          },
        });



      } else {
        cargarAbreviatura();

      }
    });

  });
</script>
<script>
  function mostrarCotizacionProforma() {
    $('#dlgCotizacion').modal();
  }
  function cargarAbreviatura() {
    codigo_reunion = $("#id_puntos_venta").val();
    if (codigo_reunion == 1) {
      $("#block_hierro").css('display', 'block');

    } else {
      $("#block_hierro").css('display', 'none');

    }

    $.ajax({
      url: "/proforma/obtenerAbreviatura/", // the endpoint
      type: "POST", // http method
      data: { id: codigo_reunion, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
      success: function (data) {

        $("#id_abreviatura_codigo").val(data['abreviatura_codigo']);
        $("#id_codigo").val('00' + data['codigo']);


      },
      error: function () {

      },
    });

  }
  function mostrarProductos(data) {
    $('#id_fila_cambiar').val(data);
    $(".bs-example-modal-sm").modal('toggle');
  }
  function cerrar() {
    $(".bs-example-modal-sm").modal('toggle');
  }
  function cerrarCotizProforma() {
    $("#dlgCotizacion").modal('toggle');
  }
  function mostrarAmbiente(data) {
    $('#id_fila_cambiar').val(data);
    // $(".bs-example-modal-lg").modal('toggle');
  }
  function cerrarAmbiente() {
    $(".bs-example-modal-lg").modal('toggle');

  }
  function cargarAmbiente(id) {
    var fila = $('#id_fila_cambiar').val();
    //$('#id_kits'+fila).val(id);
    $('#ambientes_kits' + fila + ' option[value=' + id + ']').attr('selected', 'selected');

    cerrarAmbiente();
    document.getElementById("ambientes_kits" + fila).focus();


  }
  function cargarCodigoProducto(id, codigo, descripcion, medida, costo) {
    var fila = $('#id_fila_cambiar').val();
    $('#id_kits' + fila).val(id);
    costo = costo.toString().replace(/\,/g, '.');


    $('#codigo_kits' + fila).val(codigo);
    $('#nombre_kits' + fila).val(descripcion);
    // $('#medida_kits'+fila).val(medida);
    $('#detalle_kits' + fila).val(descripcion);
    $('#costo_kits' + fila).val(costo);
    $('#total_kits' + fila).val('');
    $('#cantidad_kits' + fila).val('');
    cerrar();

  }
  function actualizarCosto(data) {
    var cantidad = $('#cantidad_kits' + data).val();
    var costo = $('#costo_kits' + data).val();
    var medida = $('#medida_kits' + data).val();


    var valor = parseFloat(parseFloat(cantidad) * parseFloat(costo)).toFixed(2);

    //  alert(data);
    // alert(costo);
    // alert(valor);
    $('#total_kits' + data).val(valor);
    actualizarTotal();
  }
  function actualizarTotal() {
    var num_recetas = $('#columnas_receta').val();
    var total = 0;
    var cantidad = 0;
    var descuento = 0;
    var porcentaje_descuento = 0;
    var totalidad = 0;
    var porcentaje_iva = parseFloat($('#porcentaje_iva').val());
    var i;
    //alert(' BNUM RECETS'+num_recetas);
    for (i = 1; i <= num_recetas; i++) {

      if ($('#total_kits' + i).length) {
        cantidad = $('#total_kits' + i).val();
        total = parseFloat(total) + parseFloat(cantidad);
      }


    }
    porcentaje_descuento = $('#porcentaje_descuento').val();
    descuento = parseFloat(total * (porcentaje_descuento / 100));
    total = total - descuento;
    // total=(total).toFixed(2);
    $('#subtotal').val((total).toFixed(2));
    var iva = parseFloat((total * porcentaje_iva)) / 100;
    // iva=(iva).toFixed(2);
    $('#iva').val((iva).toFixed(2));
    $('#descuento').val((descuento).toFixed(2));

    totalidad = parseFloat(total + iva);
    $('#total').val((totalidad).toFixed(2));


  }
</script>
<script type="text/javascript">
  $(document).ready(function () {
    /**
     * Funcion para añadir una nueva columna en la tabla
     */
    $("#add").click(function () {
      // Obtenemos el numero de filas (td) que tiene la primera columna
      // (tr) del id "tabla"
      var num_recetas = $('#columnas_receta').val();
      num_recetas = parseInt(num_recetas) + 1;

      var tds = $("#tabla tr:first td").length;
      // Obtenemos el total de columnas (tr) del id "tabla"
      var trs = $("#tabla tr").length;
      var nuevaFila = '<tr><td  class="eliminar"><a class="btn btn-danger remove_fields "><i class=" glyphicon glyphicon-trash icon-white"></i></a></td>';
      nuevaFila += '<td><select class="form-control" id="ambientes_kits' + num_recetas + '" name="ambientes_kits' + num_recetas + '" > ';
      {% for am in ambientes %}
      nuevaFila += '<option value="{{ am.id }}"> {{ am.descripcion }}</option>';

      {% endfor %}
      nuevaFila += '</select><a class="btn btn-danger remove_fields" onclick="mostrarAmbiente(' + num_recetas + ')" data-toggle="modal" data-target=".bs-example-modal-lg"  style="width:10px !important;height:10px !important;float:right;padding: 8px 9px;"><i class=" glyphicon glyphicon-search icon-white" style="width:2px !important;height: 2px !important;top: -8px;left: -6px;"></i> </a></td>';
      nuevaFila += '<td><input type="hidden" class="form-control" id="id_kits' + num_recetas + '" name="id_kits' + num_recetas + '"> ';

      nuevaFila += '<input type="text" required="required" class="form-control" id="codigo_kits' + num_recetas + '" name="codigo_kits' + num_recetas + '" onfocus="mostrarProductos(' + num_recetas + ')" readonly="readonly"></td>';
      nuevaFila += '<td><textarea  class="form-control" id="nombre_kits' + num_recetas + '" name="nombre_kits' + num_recetas + '" ></textarea></td>';
      nuevaFila += '<td><textarea class="form-control" id="detalle_kits' + num_recetas + '" name="detalle_kits' + num_recetas + '"></textarea></td>';
      nuevaFila += '<td><input type="text" class="form-control" required="required" id="cantidad_kits' + num_recetas + '" name="cantidad_kits' + num_recetas + '" onkeyup="actualizarCosto(' + num_recetas + ')"></td>';
      nuevaFila += '<td><textarea class="form-control" id="medida_kits' + num_recetas + '" name="medida_kits' + num_recetas + '" ></textarea></td>';
      nuevaFila += '<td><input type="text" class="form-control" required="required" id="costo_kits' + num_recetas + '" name="costo_kits' + num_recetas + '" onkeyup="actualizarCosto(' + num_recetas + ')"></td>';
      nuevaFila += '<td><input type="text" class="form-control" id="total_kits' + num_recetas + '" name="total_kits' + num_recetas + '" readonly="readonly"></td>';
      nuevaFila += '<td><input type="checkbox" id="reparacion_kits' + num_recetas + '" name="reparacion_kits' + num_recetas + '" ></td>';
      nuevaFila += '<td><input type="checkbox" id="almacen_kits' + num_recetas + '" name="almacen_kits' + num_recetas + '" ></td>';
      nuevaFila += '<td><input type="file" class="form-control" id="imagen_kits' + num_recetas + '" name="imagen_kits' + num_recetas + '" ></td>';
      nuevaFila += '<td><input type="text" class="form-control" id="observacion_kits' + num_recetas + '" name="observacion_kits' + num_recetas + '" ></td>';
      nuevaFila += '</tr>';

      $('#columnas_receta').val(num_recetas);
      // for(var i=0;i<tds;i++){
      //     // añadimos las columnas
      //     nuevaFila+="<td>columna "+(i+1)+" Añadida con jquery</td>";
      // }
      // // Añadimos una columna con el numero total de columnas.
      // // Añadimos uno al total, ya que cuando cargamos los valores para la
      // // columna, todavia no esta añadida
      // nuevaFila+="<td>"+(trs+1)+" columnas";
      // nuevaFila+="</tr>";
      $("#tabla").append(nuevaFila);
      $('select').select2();
    });

    /**
     * Funcion para eliminar la ultima columna de la tabla.
     * Si unicamente queda una columna, esta no sera eliminada
     */
    $("#del").click(function () {
      // Obtenemos el total de columnas (tr) del id "tabla"
      var trs = $("#tabla tr").length;
      if (trs > 1) {
        // Eliminamos la ultima columna
        $("#tabla tr:last").remove();
      }
      actualizarTotal();
    });


    $(document).on("click", ".eliminar", function () {
      var parent = $(this).parent();
      $(parent).remove();
      actualizarTotal();
    });

  });
  function add_div() {
    var div_externo = $('<div id="div-consultando" style="width: 100%; height: 100%; background-color: #191a1b; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1050; opacity: 0.8">');
    var div_interno = $('<div class="progress progress-striped active" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, 50%); width: 50%">');
    var progress = $('<div class="progress-bar progress-bar-inverse" style="width: 100%">Guardando...</div>');

    div_interno.append(progress);
    div_externo.append(div_interno);

    div_externo.appendTo($('body'));

  }


  $('#formulario').submit(function (event) {

    add_div();
    $.ajax({
      type: "POST",
      url: "{% url 'proforma-create' %}",
      data: null,
      success: function (response) {
        if (response) {
          alert("Proforma ingresada");




          document.location.href = '/proforma/consultarproforma/';

        } else {
          alert("No fue factible ingresar la proforma");
        }

        ;
      },
      error: function (response) {

        console.log(response);
      }
    });



  });


</script>
{% endblock %}