<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>MUEDIRSA S.A. RUC 0992128372001</title>
</head>
<style>
    .head {
        width: 100%;
        text-align: center;

    }

    .details {
        width: 100%;
        padding: 2px 0;
        font-size: 9pt;

    }

    .contenido {
        width: 100%;
        padding: 2px 0;

    }

    td {
        text-align: left;
        padding: 1px 5px;
    }

    .header {
        text-align: center;
        padding: 3px 5px;
        background-color: #EEEEEE;
    }

    .foot {
        text-align: center;
    }


    @page {
        /*size: a4 landscape;*/
        margin: 0.5cm;

    }

    .table-cotizacion td,
    th {
        padding: 2px 2px;
        font-size: 9pt;
    }


    .notas {
        text-align: justify;
        line-height: 200%;
        font-size: 8pt;
    }

    .notas1 {

        line-height: 10%;

    }
</style>

<body>
    <div class="head">

    </div>
    <div class="details">
        <table>
            <tr>
                <td colspan="3">
                    <img src="{{ media_root }}/imagenes/general/cesa_logo.jpg" alt="logo producto" width="300px"
                        height="100px">
                </td>
            </tr>
        </table>
        <br />
        <table border="0">
            <tr>
                <th style="text-align:left;width:17%">Cliente</th>
                <td colspan="2"> {{proforma.cliente}} </td>
                <td style="width:2%"></td>
                <th style="text-align:left;width:17%">Fecha</th>
                <td colspan="2"> {{proforma.fecha |date:"d/m/Y"}} </td>
            </tr>
            <tr>
                <th style="text-align:left">Direcci&oacute;n de entrega</th>
                <td colspan="2"> {{proforma.direccion_entrega}} </td>
                <td></td>
                <th style="text-align:left">Razón Social</th>
                <td colspan="2"> </td>
            </tr>
            <tr>
                <th style="text-align:left">Correo</th>
                <td colspan="2"> {% if proforma.cliente.email1 %}{{proforma.cliente.email1}} {% endif %} </td>
                <td></td>
                <th style="text-align:left">RUC</th>
                <td colspan="2"> {{proforma.cliente.ruc}} </td>
            </tr>
            <tr>
                <th style="text-align:left">Teléfono</th>
                <td colspan="2"> {% if proforma.cliente.telefono1 %}{{proforma.cliente.telefono1}} {% endif %} </td>
                <td></td>
                <th style="text-align:left"></th>
                <td colspan="2"> </td>
            </tr>
            <tr>
                <th style="text-align:left">Referencia</th>
                <td colspan="2"> {{proforma.vendedor}} </td>
                <td></td>
                <th></th>
                <td colspan="2"> </td>
            </tr>

        </table>
        <br>
    </div>
    <div class="contenido">

        <table border="1">
            <tr>
                <th colspan="8">PROFORMA No. {{proforma.abreviatura_codigo }}-{{proforma.codigo }}-{{
                    proforma.created_at.year}} </th>
            </tr>
            <tr>
                <th>CANTIDAD</th>
                <th colspan="3">DESCRIPCION </th>
                <th colspan="2">IMAGEN </th>
                <th style="width:8% !important">Valor Unit</th>
                <th style="width:8% !important">Total</th>
            </tr>
        </table>
        <table border="0" class="table-cotizacion">
            {% for a in ambiente %}
            <tr>
                <td colspan="8"><b> {{ a.1 }}</b></td>
            </tr>

            {% for r in row %}
            {% if a.0 == r.0 %}
            <tr>

                <td style="width:8% !important;text-align: center">{{ r.2 |floatformat}}</td>
                <td colspan="3" style="text-align: justify">{{ r.1 }} {{ r.5 }}</td>
                <td colspan="2" style="text-align: justify">
                    <img src="{{ media_root }}/{{ r.8 }}" alt="Image A">
                </td>
                <td style="width:8% !important;text-align:right">${{ r.3 |floatformat:2 }}</td>
                <td style="width:8% !important;text-align:right">${{ r.4|floatformat:2 }}</td>
            </tr>
            {% endif %}
            {% endfor %}

            {% endfor %}
            <tr>

                <td colspan="6"></td>
                <th style="text-align:left">Subtotal</th>
                <td style="text-align:right">${{ subt |floatformat:2 }}</td>
            </tr>
            <tr>

                <td colspan="6"></td>
                <th style="text-align:left">Descuento {{ proforma.porcentaje_descuento |floatformat:2 }}%</th>
                <td style="text-align:right">${{ proforma.descuento |floatformat:2 }}</td>
            </tr>
            <tr>
                <td colspan="6"></td>
                <th style="text-align:left">Subtotal</th>
                <td style="text-align:right">${{ proforma.subtotal | floatformat:2 }}</td>
            </tr>
            <tr>

                <td colspan="6"></td>
                <th style="text-align:left">IVA {{ proforma.porcentaje_iva |floatformat:0 }}%</th>
                <td style="text-align:right">${{ proforma.iva |floatformat:2 }}</td>
            </tr>
            <tr>

                <td colspan="6"></td>
                <th style="text-align:left">Total</th>
                <td style="text-align:right">${{ proforma.total |floatformat:2 }}</td>
            </tr>
        </table>
        <br />
        <h1>CONDICIONES DE VENTA</h1>
        <span>En caso de aprobar PROFORMA girar cheque a nombre de <strong>MUEDIRSA S.A</strong></span>
        <br />
        <span><strong>Fecha de entrega</strong><span style="color: red;"> 4 MESES A PARTIR DEL ANTICIPO</span></span>
        <div></div>
        <table>
            <tr>
                <td>
                    <table border="1">
                        <tr>
                            <th colspan="3" style="background-color: peachpuff; padding-top: 40%;">FORMA DE PAGO</th>
                        </tr>
                        <tr>
                            <td style="width: 20%;"></td>

                            <td style="width: 40%;">
                                $
                            </td>
                            <td style="width: 40%; padding-top: 30%;">
                                50% abono para ingresar en produccion
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;"></td>
                            <td style="width: 40%;">
                                $
                            </td>
                            <td style="width: 40%; padding-top: 40%;">
                                25% a los 45 dias
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;"></td>
                            <td style="width: 40%;">
                                $
                            </td>
                            <td style="width: 40%; padding-top: 40%;">
                                25% restante previo a la entrega
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;"></td>
                            <td style="width: 40%;">
                                $
                            </td>
                            <td style="width: 40%; padding-top: 40%">
                                Total
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <span></span>
                </td>
            </tr>
        </table>
        <br />
        <br />
        <span><strong>Validez del Presupuesto</strong><span style="color: red;"> 30 dias</span></span>

        <p class="notas"><b>Diseño de Mobiliario:</b>
            <br>
            Para el caso de algunos muebles complejos o de disenos que tendrán variaciones a las imagenes. Cesa Design
            incluye un diseno en AUTOCAD del mueble. Los clientes que necesiten un 3D (sketch up) para mejor
            visualización, podrán contratar los mismos por un valor de $170 mas iva para muebles grandes/empotrados (Tv,
            Bar, Camas, entre otros) y los muebles puntuales (mesas de centro, laterales, silas. entre otros) tendrán un
            valor de 575 mas iva. Estos valores deberán cancelarse antes del inicio de los mismos, en caso de ser
            contratados se aplicara como abono el 40% de ese valor a la cuenta del cliente. Todos los materiales y
            contenidos en los sketch up están protegidos por la ley de derechos de autor y no pueden ser fabricados,
            distribuidos, publicados o modificados de ninguna manera sin la previa autorización por
            escrito de la firma Cesa Design.
            <!-- <b>ESTA PROFORMA TIENE UNA VALIDEZ DE 30 DÍAS.</b> -->
        </p>
        <br>
        <br>
        <h2>OBSERVACIONES Y CONDICIONES GENERALES:</h2>
        <ul>
            <li>Precio sujeto a aumento por cambio de diseño posterior a la presentación del presupuesto</li>
            <li>En caso de venta de muebles donde Muedirsa incluya el mármol, no nos responsabilizamos del deterioro
                natural de la piedra.</li>
            <li>En este precio no estan incluidos los valores por vidrios, cerraduras y trabajos de albañileria. En el
                caso de que Muedirsa se comprometa a instalar las cerraduras electricas o electronicas nuestro trabajo
                consistirá en hacer las perforaciones y las sujeción de dicha cerradura, la conexion electrica o
                electrónica seria de responsabilidad del cliente.</li>
            <li>Cuando se realicen trabajos en domicilos ya habitados y el trabajo consista en instalar puertas,
                pasamanos, lamparas, muebles, etc y tengamos que soldar, pintar o realizar operaciones en donde se
                produce mucho polvo, el cliente deberá comprender que estas molestias son inevitables para finalizar un
                trabajo garantizado: Muedirsa no se responsabiliza por el desprendimiento de la pintura en la casa del
                cliente al momento de forrar las paredes y los pisos.</li>
            <li>El cliente se compromete a brindar servicio de energia para poder realizar las instalaciones necesarios
                en la obra.</li>
            <li>Entregas e instalaciones se llevaran a cabo dentro de la jornada laboral normal, instalaciones nocturas
                tendrán un costo adicional</li>
            <li>La entrega de muebles que involucren equipos de música, Tv o cine en casa contemplan un solo dia para su
                instalación dentro del costo del mueble. Cliente deberá coodinar con su tecnico instalador o proveedor
                de equipos que hará las conexiones de los mismos para que esté presente en la instación. Muedirsa no se
                responsabiliza por danos electricos en los equipos. Cualquier traslado adicional tendrá un costo de
                $190,00 por día.</li>
            <li>En aquellas entregas de muebles en edificios donde no se permita la subida de muebles o no se pueda
                subir
                por las escaleras o los ascensores, el cliente deberá asumir los costos de contratar una pateca y el
                personal
                que realice dicha operación.
            </li>
            <li>Los precios del mobiliario incluyen transporte dentro del perímetro urbano. Traslados fuera de la ciudad
                tienen un costo adicional por transporte. MATERIALES DE EMPAQUE, cargadores y viáticos
            </li>
        </ul>

        <p class="notas"><b>NOTA IMPORTANTE PARA RETAPIZADOS DE MUEBLES NO FABRICADOS POR CESA DESIGN</b>
            <br>
            La empresa Cesa Design no se responsabiliza por la construcción original del mueble, por lo que no
            garantizamos fallas en laca, estructura de madera y deformación de espuma. Lo que se procederá a realizar es
            unicamente un cambio de tela. El cliente deberá indicar si la tela que se retira de sus muebles debe ser
            devuelta porque de lo contrario será donada a una fundación sin fines de lucro.
        </p>

        <p class="notas"><b>NOTA IMPORTANTE DE BODEGAJE DE MUEBLES TERMINADOS Y/O POR REPARAR</b>
            <br>
            Debido a los requisitos de seguridad industrial es necesario respetar los espacios de circulación que exige
            el cuerpo de Bomberos en nuestras bodegas. Por lo que el bodegaje de muebles de clientes será cobrado a $12
            mas iva el m2 mensuaimente (o proporcionalmente) en los siguientes casos :
        <ol>
            <li>Si los muebles están terminados y el cliente no tiene la casa lista habiendo determinado una fecha de
                entrega específica.</li>
            <li>Si los muebles de clientes que vinieron para ser trabajados pero el mismo no concreta el pedido dentro
                de los primeros 15 días.</li>
        </ol>
        En caso de que no se vayan a trabajar cliente podrá retirar el mobiliario con su personal y transporte o podemos
        ofrecer el servicio de entrega por 550 más iva dentro de condiciones normales.
        </p>

    </div>
    <div class="foot">
        <br><br><br>

        <table>

            <tr>
                <td>&nbsp;</td>
                <td style="text-align:center">________________________________________________________</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <!-- <td style="text-align:center">___________________</td> -->
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td style="text-align:center">Firma del cliente Aprobacion</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <!-- <td style="text-align:center"> Firma cliente</td> -->
                <td>&nbsp;</td>
            </tr>
            </tbody>

        </table>
        <br>
        <br>
        <div style="align-items: center;">
            <span>Showrooms: Centro Comercial Plaza Nova Km. 2.5 via Samborondon - Telefonos: (+593) 4283 5035/ 984932562</span><br>
            <span><a href="http://www.cesadesign.com">http://www.cesadesign.com</a></span>
        </div>
    </div>

</body>

</html>