{% extends "login/base_nuevo.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}
    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="{% static 'color_admin/assets/plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
    <!-- ================== END PAGE LEVEL STYLE ================== -->
{% endblock %}

{% block section_title %}Compras Locales{% endblock %}
{% block section_subtitle %}Por favor diligencie el siguiente formulario{% endblock %}
{% block content %}
  <style>
       .panel-border{border: 1px solid #ddd !important}
       .form-ajust .form-group{margin-bottom: 0px !important}
      input[type="text"],select,input[type="number"]
      {

    border: 1px solid #ccd0d4;
    border-radius: 3px;
    box-shadow: none;
    font-size: 12px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
       }

    .table2 {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
      display:table}

.table2>tbody>tr>td, .table2>tbody>tr>th, .table2>tfoot>tr>td, .table2>tfoot>tr>th, .table2>thead>tr>td, .table2>thead>tr>th {
    border-color: #e2e7eb;
    padding: 10px 15px;
}
    </style>


     <form method="post" data-parsley-validate="true" name="form-wizard" enctype="multipart/form-data"> {% csrf_token %}
     {{ ordencompra_form.title.errors }}
            <!-- begin row -->
          <div class="row">
                    <!-- begin col-6 -->
        <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Compras Locales</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div>

                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                  <li role="presentation" class="active"><a href="#principales" aria-controls="principales" role="tab" data-toggle="tab">Documento</a></li>
                                  
                </ul>
                              
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="principales">
                                        <!--INICIO ORDEN PRODUCCION-->
                                        
                                        <div class="row">
                                            <div class="col-md-8">
                        <div class="panel panel-default panel-border">
                            <div class="panel-heading">Documento</div>
                            <div class="panel-body">
                             
                            <div class="col-md-3">
                              <label for="exampleInputName2">Numero</label>
                               {% bootstrap_field compraslocales_form.codigo show_label=False %}

                            </div>
                            <div class="col-md-4">
                              <label for="exampleInputEmail2">Fecha</label>
                                                    {% bootstrap_field compraslocales_form.fecha  show_label=False%}
   </div>
                            
                            <div class="col-md-3">
                              <label for="exampleInputEmail2">Compra</label>
<input  type="text" id="nro_compra" name="nro_compra" />  </div>
 <input  type="hidden" id="orden_compra_id" name="orden_compra_id" />                             
                            </div>
                        </div>
                        </div>
                        <div class="col-md-4">
                        <div class="panel panel-default panel-border">
                            <div class="panel-heading">Estado</div>
                            <div class="panel-body">
                             
                                            <div class="form-group text-center">
                                                                          <label class="checkbox-inline">
                                                                            <input type="checkbox" id="inlineCheckbox1" value="option1"> Eliminado
                                                                          </label>
                                                                          <label class="checkbox-inline">
                                                                            <input type="checkbox" id="inlineCheckbox2" value="option2"> Impreso
                                                                          </label>
                               
                                                        </div>
                            
                              
                            </div>
                        </div>
                        </div>
                                            
                                        </div>
                    <div class="row">
                                            <div class="col-md-12">
                        <div class="panel panel-default panel-border">
                            <div class="panel-heading">Datos Principales</div>
                            <div class="panel-body">
                             
                            <div class="form-horizontal form-ajust">
                                                                    <div class="form-group">
                                                                         <label for="inputEmail3" class="col-sm-3 control-label">Concepto</label>
                                                                        
                                                                         <div class="col-sm-6">
                                                                      <input type="text" name="concepto"  id="concepto" />
                                                                         </div>
                                                                     </div>
                                    <div class="form-group">
                                                                         <label for="inputEmail3312" class="col-sm-3 control-label">Proveedor</label>
                                                                         <div class="col-sm-6">
                                                                         {% bootstrap_field compraslocales_form.proveedor show_label=False %}


                                                                         </div>
                                                                         
                                                                    </div>
                                   
                                         <div class="form-group">
                                                                         <label for="inputEmail3" class="col-sm-3 control-label">Bodega</label>
                                                                        
                                                                         <div class="col-sm-6">
                                                                      <input type="text" name="bodega"  id="bodega" />
                                                                         </div>
                                                                     </div>

                                     <div class="form-group">
                                                                         <label for="fecha" class="col-sm-3 control-label">Nro Factura</label>
                                                                         <div class="col-sm-3">
                                                                           
                                                    {% bootstrap_field compraslocales_form.nro_fact_proveedor show_label=False %}
                                      
                                                                         </div>

                                                      <label for="fecha" class="col-sm-3 control-label">Nro Recibo</label>

                                                                           <div class="col-sm-3">
                                                                           
<input type="text" name="recibo"   />                                  
                                                                         </div>
                                                                         
                                                                    </div>
                                    <div class="form-group">
                                                                         <label for="fecha" class="col-sm-3 control-label">Comentario</label>
                                                                         <div class="col-sm-6">
                                                                           
                                                    {% bootstrap_field compraslocales_form.comentario show_label=False %}
                                      
                                                                         </div>
                                                                         
                                                                    </div>
                                    
                            </div>
                            
                            </div>
                        </div>
                        </div>
                       
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                        <div class="panel panel-default panel-border">
                            <!-- Default panel contents -->
                            <div class="panel-heading">Productos</div>
                            <div class="panel-body">
                              
                            </div>
                          
                            <!-- Table -->
                                           <table class="table2 table-striped table-bordered" id="tabla" >
                                                  <tr>
                                                    <th></th>
                                                    <th>Componente</th>
                                                    <th>Nombre</th>
                                                    <th>Cantidad</th>
                                                    <th>Costo</th>
                                                    <th>Subtotal</th>
                                                  </tr>
                                                     <tfoot>
                                                     <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <th>Subtotal:</th>
                                                    <th> 
                                                     <input type="text" class="form-control" id="subtotal" name="subtotal"  required="required" readonly="readonly" />
</th>
</tr>
  <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <th>Iva:</th>
                                                    <th> 
                                                     <input type="text" class="form-control" id="iva" name="iva"  required="required" readonly="readonly" />
</th>
</tr>

  <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <th>Total:</th>
                                                    <th> 
                                                     <input type="text" class="form-control" id="total" name="total"  required="required" readonly="readonly" />
</th>
</tr>
                                                  </tfoot>
                                                 
<tr id="remover">
                                                    <td class="eliminar"><a class="btn btn-danger remove_fields">
                                                        <i class=" glyphicon glyphicon-trash icon-white"></i>
                                                      </a>
                                                    </td>
                                                    <td> 
                                                    <input type="hidden" class="form-control" id="id_kits1" name="id_kits1"/>
                                                    <input required="required" type="text" class="form-control" id="codigo_kits1" name="codigo_kits1" onfocus="mostrarProductos(1)" readonly="readonly"></td>
                                                    <td><span  id="nombre_kits1"></span></td>
                                                    <td><input type="text" class="form-control" required="required" id="cantidad_kits1" name="cantidad_kits1" onkeyup="actualizarCosto(1)"></td>
                                                    <td><input type="text" class="form-control" id="costo_kits1" name="costo_kits1" readonly="readonly"></td>
                                                    <td><input type="text" class="form-control" id="total_kits1" name="total_kits1" readonly="readonly"></td>
                                                  </tr>

                                                </table>
                                            </div>
                                        </div>
                                        
                                        <p class="text-center">
<!--                                              <button type="button" class="btn btn-primary btn-lg" id="add">Agregar</button>
 -->
                                                                                    
                                        </p>
                        </div>
                                            </div>
                                            
                                        </div>
                                        
                                        
                                        
                                        <!--FIN ORDEN PRODUCCION-->
                                    </div>
                                   
                                   
                                </div>
                              
                            </div>
                        </div>
                   <!--      <div class="col-md-2">
                            <div class="row">
                             
                    <p class="text-center">
                    <button type="button" class="btn btn-success btn-block">Agregar <i class=" glyphicon glyphicon-plus icon-white"></i></button>
                    </p>
                    <p class="text-center">
                    <button type="button" class="btn btn-danger btn-block">Eliminar <i class=" glyphicon glyphicon-trash icon-white"></i></button>
                    </p>
                    <p class="text-center">
                    <button type="button" class="btn btn-default btn-block">Buscar <i class=" glyphicon glyphicon-search icon-white"></i></button>
                    </p>
                    <p class="text-center">
                    <button type="button" class="btn btn-default btn-block">Imprimir <i class=" glyphicon glyphicon-print icon-white"></i></button>
                    </p>
                              
                            </div>
                            
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    
   <p class="text-center">

                                    <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-cog"></i> Guardar</button>
                                            <a class="default btn btn-link" href="/OrdenesdeCompra/OrdenesdeCompra/"><button type="button" class="btn btn-primary btn-lg">  Regresar</button></a>
                                        </p>
<!--  <p class="text-right m-b-0">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-cog"></i> Guardar</button>
                                </p>
                                <a class="default btn btn-link" href="/inventario/producto">
      <i class="fa fa-times"></i> Regresar
    </a> -->
    <input type="hidden" name="columnas_receta" id="columnas_receta" value="1" />

<input type="hidden" name="id_fila_cambiar" id="id_fila_cambiar" value="" />


                            </form>
                               <div class="modal fade" id="modal-dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                             <div class="panel-body">
                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered" id="tabla">
                                                        <thead>
                                                            <tr>
                                                            <td></td>
                                                                <th>Codigo</th>
                                                                <th>Nombre</th>
                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for producto  in productos %}
                                                            <tr>
                                                                <td  onclick="cargarCodigoProducto('{{ producto.producto_id }}','{{ producto.codigo_producto }}','{{ producto.descripcion_producto }}','{{ producto.medida }}','{{ producto.costo }}')"><a class="btn btn-danger remove_fields">
                                                        <i class=" glyphicon glyphicon-plus icon-white"></i>
                                                      </a></td><td>{{ producto.codigo_producto }}</td>
                                                                <td>{{ producto.descripcion_producto }}</td>
                                                            </tr >
                                                        {% endfor %} 
                                                        
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <button type="button" onclick="cerrar()" class="btn btn-danger btn-block">Cerrar <i class=" glyphicon glyphicon-trash icon-white"></i></button>
                                            

                            </div>
                        </div>
                    </div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="{% static 'color_admin/assets/plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'color_admin/assets/plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
<script src="{% static 'color_admin/assets/js/form-wizards-validation.demo.min.js' %}"></script>
<script src="{% static 'color_admin/assets/js/apps.min.js' %}"></script>
<script src="{% static 'color_admin/assets/plugins/DataTables-1.9.4/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'color_admin/assets/plugins/DataTables-1.9.4/js/data-table.js' %}"></script> 

<script src="{% static 'color_admin/assets/plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'color_admin/assets/plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
<script src="{% static 'color_admin/assets/js/form-wizards-validation.demo.min.js' %}"></script>
<script src="{% static 'color_admin/assets/js/apps.min.js' %}"></script>
<script src="{% static 'color_admin/assets/js/bootstrap-datepicker.js' %}"></script>

<script>
  $(document).ready(function() {
    // App.init();
    $('.table').DataTable();
    FormWizardValidation.init();
  });
</script>
<script>
    $(document).ready(function() {
      $('#id_fecha').attr('readonly','readonly');
      $('#bodega').attr('readonly','readonly');
      $('#concepto').attr('readonly','readonly');
      $('#id_bodega option[value=1]').attr('selected','selected');
      $('#id_nro_compra').each(function(){
  $(this).attr('readonly','readonly');
});
         $.ajax({
                url: "/config/obtenerSecuencial/", // the endpoint
                type : "POST", // http method
                data : { id : 'compraslocales','csrfmiddlewaretoken': '{{ csrf_token }}'}, 
                success:function(data){
                 $('#id_codigo').val(data);
                  
                },
                error: function(){
                  alert( "Escoja una empresa");
                },
              });


    $("#nro_compra").focusout(function(){
        codigo_reunion=$("#nro_compra").val();
               $.ajax({
                url: "/config/obtenerOrdenCompra/", // the endpoint
                type : "POST", // http method
                data : { id : codigo_reunion,'csrfmiddlewaretoken': '{{ csrf_token }}'}, 
                success:function(data){
                       $('#id_proveedor option[value='+data['proveedor']+']').attr('selected','selected');

                        $("#concepto").val(data['concepto']);
                         $("#bodega").val(data['bodega']);

                         $('#id_orden_compra option[value='+data['id']+']').attr('selected','selected');
                         $("#orden_compra_id").val(data['compra_id']);

                          $("#id_comentario").val(data['comentario']);
                        $("#total").val(data['total']);
                        $("#subtotal").val(data['subtotal']);
                         $("#iva").val(data['iva']);


            deta=data['detalle'];
                        res = deta.split(",");
                                    deta=data['detalle'];
                        res = deta.split(",");
 var trs=$("#tabla tr").length;
            if(trs>1)
            {
                // Eliminamos la ultima columna
                $("#tabla tr:last").remove();
            }

                  for(i=0;i<res.length;i++){

                    
                    if(res[i]!=""){
                      
                       $.ajax({
                        url: "/config/obtenerCompraDetalle/", // the endpoint
                        type : "POST", // http method
                        data : { id : res[i],'csrfmiddlewaretoken': '{{ csrf_token }}'}, 
                        success:function(data){
                          //alert(data);
                $('#remover').remove();
                                var num_recetas=$('#columnas_receta').val();
                                    num_recetas=parseInt(num_recetas)+1;

                                    var tds=$("#tabla tr:first td").length;
                                    
                                    // Obtenemos el total de columnas (tr) del id "tabla"
                                    var trs=$("#tabla tr").length;
                                    var nuevaFila='<tr><td  class="eliminar"><a class="btn btn-danger remove_fields "><i class=" glyphicon glyphicon-trash icon-white"></i></a></td>';
                                        nuevaFila+='<td><input type="hidden" class="form-control" id="id_kits'+num_recetas+'" name="id_kits'+num_recetas+'" value="'+data['id']+'"> ';
                                        nuevaFila+='<input type="text" required="required" class="form-control" id="codigo_kits'+num_recetas+'" name="codigo_kits'+num_recetas+'" onfocus="mostrarProductos('+num_recetas+')" readonly="readonly" value="'+data['codigo']+'"></td>';
                                         nuevaFila+='<td><input type="text"  id="nombre_kits'+num_recetas+'" name="nombre_kits'+num_recetas+'" value="'+data['nombre']+'"></td>';
                                        nuevaFila+='<td><input type="text" class="form-control" required="required" id="cantidad_kits'+num_recetas+'" name="cantidad_kits'+num_recetas+'" onkeyup="actualizarCosto('+num_recetas+')" value="'+data['cantidad']+'"></td>';
                                        nuevaFila+='<td><input type="text" class="form-control" id="costo_kits'+num_recetas+'" name="costo_kits'+num_recetas+'" onkeyup="actualizarCosto('+num_recetas+')" value="'+data['precio_compra']+'"></td>';
                                        nuevaFila+='<td><input type="text" class="form-control" id="total_kits'+num_recetas+'" name="total_kits'+num_recetas+'" readonly="readonly" value="'+data['total']+'"></td>';
                                        
                                        nuevaFila+='</tr>';
            $("#tabla").append(nuevaFila);

                                      $('#columnas_receta').val(num_recetas);


                        },
                        error: function(){
                          alert( "Escoja una orden de compra valida");
                        },
                      });
                    }
                  }
 },
  error: function(){
                          alert( "Escoja una orden de compra valida");
                        },
    });
 });
 });
</script>
<script>
    $(document).ready(function() {
      $('#id_codigo_producto').each(function(){
  $(this).attr('readonly','readonly');
});
       $('#id_created_by').each(function(){
  $(this).attr('readonly','readonly');
});
        $('#id_updated_by').each(function(){
  $(this).attr('readonly','readonly');
});
        $('#id_created_at').each(function(){
  $(this).attr('readonly','readonly');
});
        $('#id_updated_at').each(function(){
  $(this).attr('readonly','readonly');
});
      var codigo_producto=$('#id_codigo_producto').val();
      //alert(codigo_producto);
      if(codigo_producto==""){
         $.ajax({
                url: "/config/obtenerSecuencial/", // the endpoint
                type : "POST", // http method
                data : { id : 'producto','csrfmiddlewaretoken': '{{ csrf_token }}'}, 
                success:function(data){
                 $('#id_codigo_producto').val(data);
                  
                },
                error: function(){
                 
                },
              });
      }
      
        
    });
    function mostrarProductos(data){
       $('#id_fila_cambiar').val(data);
       $(".modal").modal('toggle');
    }
    function cerrar(){
       $(".modal").modal('toggle');
    }

    function cargarCodigoProducto(id,codigo,descripcion,medida,costo){
      var fila=$('#id_fila_cambiar').val();
         $('#id_kits'+fila).val(id);
         costo = costo.toString().replace(/\,/g,'.'); 
       

        $('#codigo_kits'+fila).val(codigo);
         $('#nombre_kits'+fila).append(descripcion);
           $('#medida_kits'+fila).val(medida);
         $('#costo_kits'+fila).val(costo);
   $('#total_kits'+fila).val('');
          $('#cantidad_kits'+fila).val('');
          cerrar();

    }
    function actualizarCosto(data){
      var cantidad=$('#cantidad_kits'+data).val();
      var costo= $('#costo_kits'+data).val();
     var medida= $('#medida_kits'+data).val();


       var valor=parseFloat(parseFloat(cantidad)*parseFloat(costo)).toFixed(2);

      //  alert(data);
      // alert(costo);
      // alert(valor);
      $('#total_kits'+data).val(valor);
      actualizarTotal();
    }
    function actualizarTotal(){
      var num_recetas=$('#columnas_receta').val();
      var total=0;
      var cantidad=0;
      var i;
      //alert(' BNUM RECETS'+num_recetas);
      for (i = 1; i <= num_recetas; i++) {

        if ($('#total_kits'+i).length){
            cantidad=$('#total_kits'+i).val();
            total=parseFloat(total)+parseFloat(cantidad);
          }
        
         
      }
    
      $('#total').val(total);
    }
</script>
<script type="text/javascript">
    $(document).ready(function(){
        /**
         * Funcion para añadir una nueva columna en la tabla
         */
        $("#add").click(function(){
            // Obtenemos el numero de filas (td) que tiene la primera columna
            // (tr) del id "tabla"
            var num_recetas=$('#columnas_receta').val();
            num_recetas=parseInt(num_recetas)+1;

            var tds=$("#tabla tr:first td").length;
            // Obtenemos el total de columnas (tr) del id "tabla"
            var trs=$("#tabla tr").length;
            var nuevaFila='<tr><td  class="eliminar"><a class="btn btn-danger remove_fields "><i class=" glyphicon glyphicon-trash icon-white"></i></a></td>';
                nuevaFila+='<td><input type="hidden" class="form-control" id="id_kits'+num_recetas+'" name="id_kits'+num_recetas+'"> ';
                nuevaFila+='<input type="text" required="required" class="form-control" id="codigo_kits'+num_recetas+'" name="codigo_kits'+num_recetas+'" onfocus="mostrarProductos('+num_recetas+')" readonly="readonly"></td>';
                 nuevaFila+='<td><span  id="nombre_kits'+num_recetas+'" name="nombre_kits'+num_recetas+'" ></span></td>';
                nuevaFila+='<td><input type="text" class="form-control" required="required" id="cantidad_kits'+num_recetas+'" name="cantidad_kits'+num_recetas+'" onkeyup="actualizarCosto('+num_recetas+')"></td>';
                nuevaFila+='<td><input type="text" class="form-control" id="medida_kits'+num_recetas+'" name="medida_kits'+num_recetas+'" readonly="readonly"></td>';
                nuevaFila+='<td><input type="text" class="form-control" id="costo_kits'+num_recetas+'" name="costo_kits'+num_recetas+'" readonly="readonly"></td>';
                nuevaFila+='<td><input type="text" class="form-control" id="total_kits'+num_recetas+'" name="total_kits'+num_recetas+'" readonly="readonly"></td>';
                nuevaFila+='</tr>';

              $('#columnas_receta').val(num_recetas);
            // for(var i=0;i<tds;i++){
            //     // añadimos las columnas
            //     nuevaFila+="<td>columna "+(i+1)+" Añadida con jquery</td>";
            // }
            // // Añadimos una columna con el numero total de columnas.
            // // Añadimos uno al total, ya que cuando cargamos los valores para la
            // // columna, todavia no esta añadida
            // nuevaFila+="<td>"+(trs+1)+" columnas";
            // nuevaFila+="</tr>";
            $("#tabla").append(nuevaFila);
        });
 
        /**
         * Funcion para eliminar la ultima columna de la tabla.
         * Si unicamente queda una columna, esta no sera eliminada
         */
        $("#del").click(function(){
            // Obtenemos el total de columnas (tr) del id "tabla"
            var trs=$("#tabla tr").length;
            if(trs>1)
            {
                // Eliminamos la ultima columna
                $("#tabla tr:last").remove();
            }
             actualizarTotal();
        });


        $(document).on("click",".eliminar",function(){
            var parent = $(this).parent();
  $(parent).remove();
   actualizarTotal();
          });

    });
    </script>
{% endblock %}                                                                                                                                                                                                                                                                