{% extends "login/base-list.html" %}
{% load extra_filters %}

{% load staticfiles %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block section_title %}Subir Archivo {% endblock %}
{% block section_subtitle %}
<br />
<style type="text/css">
	table td{
		padding: 2px;
	}
	table th{
		padding: 2px;
	}
</style>
  <form method="post" data-parsley-validate="true" name="form-wizard" enctype="multipart/form-data"> {% csrf_token %}

 <div class="email-btn-row hidden-xs">
                    </div>

                    {% endblock %}

{% block content %}
				<!-- begin col-12 -->
<div class="email-btn-row hidden-xs">
                        <a href="{% url "reporte-cargar-reloj-final" %}" class="btn btn-sm btn-success"><i class="fa fa-upload m-r-5"></i> Reloj</a>

                        <a href="{% url "reporte-cargar-plantilla" %}" class="btn btn-sm btn-success"><i class="fa fa-upload m-r-5"></i> Pr&eacute;stamo Quirografario</a>
			 <a href="{% url "reporte-cargar-plantilla-normal" %}" class="btn btn-sm btn-success"><i class="fa fa-upload m-r-5"></i> Plantilla</a>
                    </div>
				<div class="col-md-12">
					<!-- begin panel -->
					<div class="panel panel-inverse">
						<div class="panel-heading">
							<div class="panel-heading-btn">
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
							</div>
							<h4 class="panel-title">Reloj</h4>
						</div>
						<div class="panel-body">
							<div class="table-responsive">

						 <div class="form-group">
				                            <label class="col-md-1 col-sm-1 control-label"> Año: </label>
				                            <div class="col-md-2 col-sm-1">
												<select class="select-input form-control input-sm" id="id_anio" name="anio">
												{% for a in anio %}
												<option value="{{a.nombre}}">{{a.nombre}}</option>
												{% endfor %}
												</select>
												</div>



				                            <label class="col-md-1 col-sm-1 control-label"> Mes: </label>
				                            <div class="col-md-2 col-sm-2"><select class="select-input form-control input-sm" id="id_mes" name="mes">
												<option value="1">Enero</option>
												<option value="2">Febrero</option>
												<option value="3">Marzo</option>
												<option value="4" selected="selected">Abril</option>
												<option value="5">Mayo</option>
												<option value="6">Junio</option>
												<option value="7">Julio</option>
												<option value="8">Agosto</option>
												<option value="9">Septiembre</option>
												<option value="10">Octubre</option>
												<option value="11">Noviembre</option>
												<option value="12">Diciembre</option>
												</select></div>


				                                <!--<label class="col-md-1 col-sm-1 control-label"> Tipo: </label>-->
				                                <!--<div class="col-md-2 col-sm-2"><select class="form-control input-sm" id="id_quincena" name="quincena" style="width: 160px">-->
												<!--<option value="1Q" selected="selected">Primera Quincena</option>-->
												<!--<option value="2Q">Segunda Quincena</option>-->
												<!--</select></div>-->

				                        </div>
						<div class="col-md-4">
                                                      <label for="exampleInputName2">Archivo</label>
                                                      <input type="file" name="archivo" id="archivo">

                                                   </div>


				</div>
				</div>
				</div>
				</div>
				                                    <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-cog"></i> Guardar</button>

				</form>
				<!-- end col-12 -->

{% endblock %}

{% block javascript %}
{{ block.super }}


	    <script src="{% static 'color_admin/assets/js/exportFile.js' %}" type="text/javascript"></script>

	<script type="text/javascript">


	function consultar(){
		var vendedor=$("#vendedor").val();
		var fechainicial=$("#fechainicial").val();
		var fechafin=$("#fechafin").val();

          $.ajax({
                url: "/reporte/obtenerCuentasCobrar/", // the endpoint
                type : "POST", // http method
                data : { vendedor : vendedor,fechainicial : fechainicial,fechafin : fechafin,'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success:function(data){
                $("#detalle tbody tr").remove();
                  $("#detalle").append(data);
                },
                error: function(){

                },
              });
    }
	</script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	{% if form.errors or form_mode == "update" %}
	<script type="text/javascript">
		$( document ).ready(function() {
		    $(".modal").modal('toggle');
		});

	</script>
	{% endif %}
{% endblock %}


